// Made to be pixel-perfect with 11pt font size
// 1rem = 11pt = 14.6666666667px

.bar-bg {
    background-color: $t_background;
    min-height: 2.727rem;
    animation-name: flyin-top;
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.05, 0.7, 0.1, 1);
    animation-iteration-count: 1; 
}

.bar-sidespace {
    min-width: 1.5rem;
}

.bar-group-margin {
    padding: 0.2rem;
}

.bar-group {
    background-color: mix($t_surface, $t_onSurface, 90%);
    border-top: 1px solid mix($t_surface, $t_onSurface, 80%);
    border-left: 1px solid mix($t_surface, $t_onSurface, 80%);
    border-right: 1px solid mix($t_surface, $t_onSurface, 85%);
    border-bottom: 1px solid mix($t_surface, $t_onSurface, 85%);
}

.bar-group-pad {
    padding: 0rem 1.023rem;
}

.bar-group-pad-less {
    padding: 0rem 0.681rem;
}

.bar-group-pad-system {
    padding-left: 1.023rem;
    padding-right: 0.547rem;
}

.bar-group-pad-music {
    padding-right: 1.023rem;
    padding-left: 0.273rem;
}

.bar-group-pad-left {
    padding-left: 1.364rem;
    padding-right: 0.681rem;
}

.bar-group-pad-right {
    padding-left: 0.681rem;
    padding-right: 1.364rem;
}

.bar-group-pad-leftonly {
    padding-left: 0.681rem;
}

.bar-group-pad-rightonly {
    padding-right: 0.681rem;
}

.bar-group-standalone {
    border-radius: 1.364rem;
}

.bar-group-round {
    border-radius: 10rem;
}

.bar-group-middle {
    border-radius: 0.477rem;
}

.bar-group-left {
    border-radius: 0.477rem;
    border-top-left-radius: 1.364rem;
    border-bottom-left-radius: 1.364rem;
}

.bar-group-right {
    border-radius: 0.477rem;
    border-top-right-radius: 1.364rem;
    border-bottom-right-radius: 1.364rem;
}

.bar-ws-width {
    min-width: 18.382rem;
}

.bar-separator {
    min-width: 0.341rem;
    min-height: 0.341rem;
    background-color: mix($t_surface, $t_onSurface, 90%);
    border-radius: 999px;
    margin: 0rem 0.341rem;
}

.bar-ws {
    min-height: 1.770rem;
    min-width: 1.770rem;
    font-size: 1.091rem;
}

.bar-ws-empty {
    color: $onBackground;
}

.bar-ws-occupied {
    background-color: $secondaryContainer;
    color: $onSecondaryContainer;
}

.bar-ws-active {
    background-color: $primary;
    color: $onPrimary;
    border-radius: 999px;
    transition: 100ms cubic-bezier(0, 1, 0, 1);
}

.bar-ws-left {
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
}

.bar-ws-right {
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
}

.bar-batt {
    border-radius: 999px;
    padding: 0rem 0.341rem;
    background-color: $onPrimaryContainer;
    color: $primaryContainer;
}

.bar-sidemodule {
    min-width: 25.227rem;
}

.bar-batt-low {
    background-color: $error;
    color: $onError;
}

.bar-batt-prog-low {
    background-color: $error;
    color: $onError;
}

.bar-music-playstate {
    min-height: 1.770rem;
    min-width: 1.770rem;
    border-radius: 10rem;
    margin-left: 0.273rem;
    background-color: $secondaryContainer;
    color: $onSecondaryContainer;
}

.bar-music-playstate-playing {
    min-height: 1.770rem;
    min-width: 1.770rem;
    border-radius: 10rem;
    margin-left: 0.273rem;
    background-color: $primaryContainer;
    color: $onPrimaryContainer;
}

.bar-music-playstate-txt {
    @include icon-material;
    font-size: 1.4545rem;
    margin: -0.1rem 0rem;
    margin-left: 0.2rem;
}

.bar-music-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-width: 11.932rem;
}

.bar-music-extended-bg {
    border-radius: 1.364rem;
    min-width: 34.091rem;
}

.bar-music-extended-ctl-bg {
    border-radius: 1.364rem;
    background-color: rgba(30, 30, 30, 0.6);
}

.bar-music-bottom-bg {
    border-radius: 1.364rem;
    min-width: 34.091rem;
}

.bar-music-bottom-ctl-bg {
    border-radius: 1.364rem;
    background-color: rgba(30, 30, 30, 0.6);
}

.bar-music-extended-textbox {
    margin: 1.023rem;
}

.bar-music-bottom-cover {
    border-radius: 10rem;
}

.bar-music-hide-false {
    @include md3_decel;
    transition-duration: 100ms;
    opacity: 1;
}

.bar-music-hide-true {
    @include md3_accel;
    transition-duration: 100ms;
    opacity: 0;
}

.bar-music-btn {
    font-size: 1.364rem;
    border-radius: 10rem;
    min-height: 2.591rem;
    min-width: 2.591rem;
}

.bar-music-btn:hover {
    background-color: $hovercolor;
}

.bar-prog-batt {
    min-height: 0.955rem;
    min-width: 0.068rem;
    padding: 0rem;
    border-radius: 10rem;

    trough {
        min-height: 0.954rem;
        min-width: 0.068rem;
        border-radius: 10rem;
        background-color: $onPrimaryContainer;
    }

    progress {
        min-height: 0.680rem;
        min-width: 0.680rem;
        margin: 0rem 0.137rem;
        border-radius: 10rem;
        background-color: $primaryContainer;
    }
}

.bar-prog-batt-low {
    min-height: 0.954rem;
    min-width: 0.068rem;
    padding: 0rem;
    border-radius: 10rem;

    trough {
        min-height: 0.954rem;
        min-width: 0.068rem;
        border-radius: 10rem;
        background-color: $onErrorContainer;
    }

    progress {
        min-height: 0.680rem;
        min-width: 0.680rem;
        margin: 0rem 0.137rem;
        border-radius: 10rem;
        background-color: $errorContainer;
    }
}

.bar-batt-chargestate {
    border-radius: 10rem;
    background-color: transparent;
    background-color: $primaryContainer;
}

.bar-batt-chargestate-charging {
    border-radius: 10rem;
    min-width: 0.681rem;
    min-height: 0.681rem;
}

.bar-batt-chargestate-low {
    background-color: $errorContainer;
}

.bar-batt-percentage {
    font-size: 1rem;
    margin-top: -0.068rem;
    font-weight: 500;
}

.corner {
    background-color: $t_background;
    border-radius: 1.5rem;
}

.bar-space-button {
    padding: 0.341rem;

    box {
        border-radius: 999px;
        padding: 0rem 0.682rem;
    }
}

.bar-space-button:hover {
    box {
        background-color: $hovercolor;
    }
}

.bar-space-button:active {
    box {
        background-color: $activecolor;
    }
}

.bar-space-button-leftmost {
    box {
        margin: 0rem 1.5rem;
    }
}

.bar-space-area-rightmost>box {
    padding-right: 2.386rem;
}
