.cheatsheet-bg {
    @include large-rounding;
    @include elevation-border;
    @include elevation2;
    margin-bottom: 0.682rem;
    background-color: $t_background;
    padding: 1.364rem;
}

.cheatsheet-key {
    @include techfont;
    min-height: 1.364rem;
    min-width: 1.364rem;
    margin: 0.17rem;
    padding: 0.136rem 0.205rem;
    border-radius: 0.409rem;
    -gtk-outline-radius: 0.409rem;
    color: $primary;
    border: 0.068rem solid $primary;
    box-shadow: 0rem 0.136rem 0rem $primary;
    font-weight: 500;
}

.cheatsheet-key-notkey {
    min-height: 1.364rem;
    padding: 0.136rem 0.205rem;
    margin: 0.17rem;
    color: $onPrimaryContainer;
}

// .cheatsheet-action {}

.cheatsheet-closebtn {
    @include element_decel;
    @include full-rounding;
    min-width: 2.386rem;
    min-height: 2.386rem;
}

.cheatsheet-closebtn:hover,
.cheatsheet-closebtn:focus {
    background-color: $hovercolor;
}

.cheatsheet-closebtn:active {
    background-color: $activecolor;
}

.cheatsheet-category-title {
    @include titlefont;
    font-size: 1.705rem;
}