// Transparent version
$transparentize_amount: 0.15;
$transparentize_surface_amount: 0.5;
$transparentize_surface_amount_more: 0.8;

$t_primary: transparentize($primary, $transparentize_amount);
$t_onPrimary: transparentize($onPrimary, $transparentize_amount);
$t_primaryContainer: transparentize($primaryContainer, $transparentize_amount);
$t_onPrimaryContainer: transparentize($onPrimaryContainer, $transparentize_amount);
$t_secondary: transparentize($secondary, $transparentize_amount);
$t_onSecondary: transparentize($onSecondary, $transparentize_amount);
$t_secondaryContainer: transparentize($secondaryContainer, $transparentize_amount);
$t_t_secondaryContainer: transparentize($secondaryContainer, $transparentize_surface_amount);
$t_onSecondaryContainer: transparentize($onSecondaryContainer, $transparentize_amount);
$t_tertiary: transparentize($tertiary, $transparentize_amount);
$t_onTertiary: transparentize($onTertiary, $transparentize_amount);
$t_tertiaryContainer: transparentize($tertiaryContainer, $transparentize_amount);
$t_onTertiaryContainer: transparentize($onTertiaryContainer, $transparentize_amount);
$t_error: transparentize($error, $transparentize_amount);
$t_onError: transparentize($onError, $transparentize_amount);
$t_errorContainer: transparentize($errorContainer, $transparentize_amount);
$t_onErrorContainer: transparentize($onErrorContainer, $transparentize_amount);
$t_colorbarbg: transparentize($colorbarbg, $transparentize_amount);
$t_background: transparentize($background, $transparentize_amount);
$t_onBackground: transparentize($onBackground, $transparentize_amount);
$t_surface: transparentize($surface, $transparentize_surface_amount);
$t_t_surface: transparentize($surface, $transparentize_surface_amount_more);
$t_onSurface: transparentize($onSurface, $transparentize_surface_amount);
$t_surfaceVariant: transparentize($surfaceVariant, $transparentize_surface_amount);
$t_onSurfaceVariant: transparentize($onSurfaceVariant, $transparentize_surface_amount);
$t_outline: transparentize($outline, $transparentize_amount);
$t_shadow: transparentize($shadow, $transparentize_amount);
$t_inverseSurface: transparentize($inverseSurface, $transparentize_amount);
$t_inverseOnSurface: transparentize($inverseOnSurface, $transparentize_amount);
$t_inversePrimary: transparentize($inversePrimary, $transparentize_amount);

// Common stuff
$hovercolor: mix($t_surface, $t_onSurface, 50%);
$activecolor: mix($t_surface, $t_onSurface, 30%);
$subtext: mix($onBackground, $background, 90%);

// Rotate hue by 30deg
$primary2: adjust-hue($primary, 30deg);
$onPrimary2: adjust-hue($onPrimary, 30deg);
$primaryContainer2: adjust-hue($primaryContainer, 30deg);
$onPrimaryContainer2: adjust-hue($onPrimaryContainer, 30deg);
$secondary2: adjust-hue($secondary, 30deg);
$onSecondary2: adjust-hue($onSecondary, 30deg);
$secondaryContainer2: adjust-hue($secondaryContainer, 30deg);
$onSecondaryContainer2: adjust-hue($onSecondaryContainer, 30deg);
$tertiary2: adjust-hue($tertiary, 30deg);
$onTertiary2: adjust-hue($onTertiary, 30deg);
$tertiaryContainer2: adjust-hue($tertiaryContainer, 30deg);
$onTertiaryContainer2: adjust-hue($onTertiaryContainer, 30deg);
$error2: adjust-hue($error, 30deg);
$onError2: adjust-hue($onError, 30deg);
$errorContainer2: adjust-hue($errorContainer, 30deg);
$onErrorContainer2: adjust-hue($onErrorContainer, 30deg);
$colorbarbg2: adjust-hue($colorbarbg, 30deg);
$background2: adjust-hue($background, 30deg);
$onBackground2: adjust-hue($onBackground, 30deg);
$surface2: adjust-hue($surface, 30deg);
$onSurface2: adjust-hue($onSurface, 30deg);
$surfaceVariant2: adjust-hue($surfaceVariant, 30deg);
$onSurfaceVariant2: adjust-hue($onSurfaceVariant, 30deg);
$outline2: adjust-hue($outline, 30deg);
$shadow2: adjust-hue($shadow, 30deg);
$inverseSurface2: adjust-hue($inverseSurface, 30deg);
$inverseOnSurface2: adjust-hue($inverseOnSurface, 30deg);
$inversePrimary2: adjust-hue($inversePrimary, 30deg);

$t_background2: transparentize($background2, $transparentize_amount);
$t_onBackground2: transparentize($onBackground2, $transparentize_amount);
$t_surface2: transparentize($surface2, $transparentize_surface_amount);
$t_onSurface2: transparentize($onSurface2, $transparentize_surface_amount);
$t_surfaceVariant2: transparentize($surfaceVariant2, $transparentize_surface_amount);
$t_onSurfaceVariant2: transparentize($onSurfaceVariant2, $transparentize_surface_amount);

// Rotate hue by -30deg
$primary3: adjust-hue($primary, -30deg);
$onPrimary3: adjust-hue($onPrimary, -30deg);
$primaryContainer3: adjust-hue($primaryContainer, -30deg);
$onPrimaryContainer3: adjust-hue($onPrimaryContainer, -30deg);
$secondary3: adjust-hue($secondary, -30deg);
$onSecondary3: adjust-hue($onSecondary, -30deg);
$secondaryContainer3: adjust-hue($secondaryContainer, -30deg);
$onSecondaryContainer3: adjust-hue($onSecondaryContainer, -30deg);
$tertiary3: adjust-hue($tertiary, -30deg);
$onTertiary3: adjust-hue($onTertiary, -30deg);
$tertiaryContainer3: adjust-hue($tertiaryContainer, -30deg);
$onTertiaryContainer3: adjust-hue($onTertiaryContainer, -30deg);
$error3: adjust-hue($error, -30deg);
$onError3: adjust-hue($onError, -30deg);
$errorContainer3: adjust-hue($errorContainer, -30deg);
$onErrorContainer3: adjust-hue($onErrorContainer, -30deg);
$colorbarbg3: adjust-hue($colorbarbg, -30deg);
$background3: adjust-hue($background, -30deg);
$onBackground3: adjust-hue($onBackground, -30deg);
$surface3: adjust-hue($surface, -30deg);
$onSurface3: adjust-hue($onSurface, -30deg);
$surfaceVariant3: adjust-hue($surfaceVariant, -30deg);
$onSurfaceVariant3: adjust-hue($onSurfaceVariant, -30deg);
$outline3: adjust-hue($outline, -30deg);
$shadow3: adjust-hue($shadow, -30deg);
$inverseSurface3: adjust-hue($inverseSurface, -30deg);
$inverseOnSurface3: adjust-hue($inverseOnSurface, -30deg);
$inversePrimary3: adjust-hue($inversePrimary, -30deg);


$t_background3: transparentize($background3, $transparentize_amount);
$t_onBackground3: transparentize($onBackground3, $transparentize_amount);
$t_surface3: transparentize($surface3, $transparentize_surface_amount);
$t_onSurface3: transparentize($onSurface3, $transparentize_surface_amount);
$t_surfaceVariant3: transparentize($surfaceVariant3, $transparentize_surface_amount);
$t_onSurfaceVariant3: transparentize($onSurfaceVariant3, $transparentize_surface_amount);