.dock-bg {
    @include large-rounding;
    @include elevation2;
    background-color: $layer0;
    padding: 0.682rem;
}

.dock-app-btn {
    @include normal-rounding;
    padding: 0.273rem;
}

.dock-app-btn:hover,
.dock-app-btn:focus {
    background-color: mix($surface, $onSurface, 90%);
}

.dock-app-btn:active {
    background-color: mix($surface, $onSurface, 85%);
}

.dock-app-icon {
    min-width: 3.409rem;
    min-height: 3.409rem;
    font-size: 3.409rem;
}

.dock-separator {
    min-width: 0.068rem;
    background-color: $surfaceVariant;
}
