@keyframes flyin-top {
    from {
        margin-top: -2.795rem;
    }

    to {
        margin-top: 0rem;
    }
}

@keyframes flyin-bottom {
    from {
        margin-top: 4.841rem;
        margin-bottom: -4.841rem;
    }

    to {
        margin-bottom: 0rem;
        margin-top: 0rem;
    }
}

.test {
    background-image: linear-gradient(45deg,
            #F4D609 0%, #F4D609 10%, #212121 10%, #212121 20%,
            #F4D609 20%, #F4D609 30%, #212121 30%, #212121 40%,
            #F4D609 40%, #F4D609 50%, #212121 50%, #212121 60%,
            #F4D609 60%, #F4D609 70%, #212121 70%, #212121 80%,
            #F4D609 80%, #F4D609 90%, #212121 90%, #212121 100%);
    background-repeat: repeat;
}

.test-size {
    min-height: 3rem;
    min-width: 3rem;
}

.txt-title {
    @include titlefont;
    font-size: 2.045rem;
}

.txt-title-small {
    @include titlefont;
    font-size: 1.364rem;
}

.techfont {
    @include techfont;
}

.no-anim {
    @include noanim;
}

.txt {
    color: $onBackground;
}

.txt-primary {
    color: $primary;
}

.txt-onSecondaryContainer {
    color: $onSecondaryContainer;
}

.txt-shadow {
    text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.69);
    margin: 10px;
}

.txt-badonkers {
    @include mainfont;
    font-size: 3rem;
}

.txt-tiddies {
    @include mainfont;
    font-size: 2.7273rem;
}

.txt-hugerass {
    @include mainfont;
    font-size: 2.045rem;
}

.txt-hugeass {
    @include mainfont;
    font-size: 1.8182rem;
}

.txt-larger {
    @include mainfont;
    font-size: 1.6363rem;
}

.txt-large {
    //16pt
    @include mainfont;
    font-size: 1.4545rem;
}

.txt-norm {
    //14pt
    @include mainfont;
    font-size: 1.2727rem;
}

.txt-small {
    //12pt
    @include mainfont;
    font-size: 1.0909rem;
}

.txt-smallie {
    //11pt
    @include mainfont;
    font-size: 1rem;
}

.txt-smaller {
    //10pt
    @include mainfont;
    font-size: 0.9091rem;
}

.txt-smaller-offset {
    margin-top: -0.136rem;
}

.txt-tiny {
    @include mainfont;
    font-size: 0.7273rem;
}

.txt-subtext {
    @include subtext;
}

.txt-action {
    @include actiontext;
}

.txt-semibold {
    font-weight: 500;
}

.txt-bold {
    font-weight: bold;
}

.titlefont {
    @include titlefont;
}

.mainfont {
    @include mainfont;
}

.icon-material {
    @include icon-material;
}

.icon-nerd {
    @include icon-nerd;
}

.separator-circle {
    @include full-rounding;
    background-color: $onSurface;
    margin: 0rem 0.682rem;
    min-width: 0.545rem;
    min-height: 0.545rem;
}

.spacing-h-3>box {
    margin-right: 0.205rem;
}

.spacing-h-3>box:last-child {
    margin-right: 0rem;
}

.spacing-h-3>button {
    margin-right: 0.205rem;
}

.spacing-h-3>button:last-child {
    margin-right: 0rem;
}

.spacing-v-15>box {
    margin-bottom: 1.023rem;
}

.spacing-v-15>box:last-child {
    margin-bottom: 0rem;
}

.spacing-v-15>scrolledwindow {
    margin-bottom: 1.023rem;
}

.spacing-v-15>scrolledwindow:last-child {
    margin-bottom: 0rem;
}

.spacing-v-15>revealer {
    margin-bottom: 1.023rem;
}

.spacing-v-15>revealer:last-child {
    margin-bottom: 0rem;
}

.spacing-v-15>label {
    margin-bottom: 1.023rem;
}

.spacing-v-15>label:last-child {
    margin-bottom: 0rem;
}

.spacing-h-15>box {
    margin-right: 1.023rem;
}

.spacing-h-15>box:last-child {
    margin-right: 0rem;
}

.spacing-h-15>stack {
    margin-right: 1.023rem;
}

.spacing-h-15>stack:last-child {
    margin-right: 0rem;
}

.spacing-h-15>revealer>box {
    margin-right: 1.023rem;
}

.spacing-h-15>revealer:last-child>box {
    margin-right: 0rem;
}

.spacing-h-15>label {
    margin-right: 1.023rem;
}

.spacing-h-15>label:last-child {
    margin-right: 0rem;
}

.spacing-h-15>button {
    margin-right: 1.023rem;
}

.spacing-h-15>button:last-child {
    margin-right: 0rem;
}

.spacing-v-5>box {
    margin-bottom: 0.341rem;
}

.spacing-v-5>box:last-child {
    margin-bottom: 0rem;
}

.spacing-v-5>label {
    margin-bottom: 0.341rem;
}

.spacing-v-5>label:last-child {
    margin-bottom: 0rem;
}

.spacing-v-5>button {
    margin-bottom: 0.341rem;
}

.spacing-v-5>button:last-child {
    margin-bottom: 0rem;
}

.spacing-v-5-revealer>revealer>box {
    margin-bottom: 0.341rem;
}

.spacing-v-5-revealer>revealer:last-child>box {
    margin-bottom: 0rem;
}

.spacing-h-5>box {
    margin-right: 0.341rem;
}

.spacing-h-5>box:last-child {
    margin-right: 0rem;
}

.spacing-h-5>button {
    margin-right: 0.341rem;
}

.spacing-h-5>button:last-child {
    margin-right: 0rem;
}

.spacing-h-5>label {
    margin-right: 0.341rem;
}

.spacing-h-5>label:last-child {
    margin-right: 0rem;
}

.spacing-h-5>widget>box {
    margin-right: 0.341rem;
}

.spacing-h-5>widget:last-child>box {
    margin-right: 0rem;
}

.spacing-h-5>revealer>button {
    margin-right: 0.341rem;
}

.spacing-h-5>revealer:last-child>button {
    margin-right: 0rem;
}

.spacing-h-5>revealer>entry {
    margin-right: 0.341rem;
}

.spacing-h-5>revealer:last-child>entry {
    margin-right: 0rem;
}

.spacing-h-5>progressbar {
    margin-right: 0.341rem;
}

.spacing-h-5>progressbar:last-child {
    margin-right: 0rem;
}

.spacing-h-5>scrolledwindow {
    margin-right: 0.341rem;
}

.spacing-h-5>scrolledwindow:last-child {
    margin-right: 0rem;
}

.spacing-h-5>scrollbar {
    margin-right: 0.341rem;
}

.spacing-h-5>scrollbar:last-child {
    margin-right: 0rem;
}

.spacing-v-minus5>box {
    margin-bottom: -0.341rem;
}

.spacing-v-minus5>box:last-child {
    margin-bottom: 0rem;
}

.spacing-v-minus5>label {
    margin-bottom: -0.341rem;
}

.spacing-v-minus5>label:last-child {
    margin-bottom: 0rem;
}

.spacing-h-10>box {
    margin-right: 0.682rem;
}

.spacing-h-10>box:last-child {
    margin-right: 0rem;
}

.spacing-h-10>revealer>box {
    margin-right: 0.682rem;
}

.spacing-h-10>revealer:last-child>box {
    margin-right: 0rem;
}

.spacing-h-10>flowboxchild>button {
    margin-right: 0.682rem;
}

.spacing-h-10>flowboxchild:last-child>button {
    margin-right: 0rem;
}

.spacing-h-10>label {
    margin-right: 0.682rem;
}

.spacing-h-10>label:last-child {
    margin-right: 0rem;
}

.spacing-h-10>revealer {
    margin-right: 0.682rem;
}

.spacing-h-10>revealer:last-child {
    margin-right: 0rem;
}

.spacing-h-10>overlay {
    margin-right: 0.682rem;
}

.spacing-h-10>overlay:last-child {
    margin-right: 0rem;
}

.spacing-h-10>button {
    margin-right: 0.682rem;
}

.spacing-h-10>button:last-child {
    margin-right: 0rem;
}

.spacing-h-10>label {
    margin-right: 0.682rem;
}

.spacing-h-10>label:last-child {
    margin-right: 0rem;
}

.spacing-h-10>widget {
    margin-right: 0.682rem;
}

.spacing-h-10>widget:last-child {
    margin-right: 0rem;
}

.spacing-h-10>stack {
    margin-right: 0.682rem;
}

.spacing-h-10>stack:last-child {
    margin-right: 0rem;
}

.spacing-v-10>box {
    margin-bottom: 0.682rem;
}

.spacing-v-10>box:last-child {
    margin-bottom: 0rem;
}

.spacing-v-10>label {
    margin-bottom: 0.682rem;
}

.spacing-v-10>label:last-child {
    margin-bottom: 0rem;
}

.spacing-v-10>button {
    margin-bottom: 0.682rem;
}

.spacing-v-10>button:last-child {
    margin-bottom: 0rem;
}

.spacing-h-20>box {
    margin-right: 1.364rem;
}

.spacing-h-20>box:last-child {
    margin-right: 0rem;
}

.spacing-v-20>box {
    margin-bottom: 1.364rem;
}

.spacing-v-20>box:last-child {
    margin-bottom: 0rem;
}


.anim-enter {
    @include anim-enter;
}

.anim-exit {
    @include anim-exit;
}

.button-minsize {
    @include button-minsize;
}

.margin-right-5 {
    margin-right: 0.341rem;
}

.margin-left-5 {
    margin-left: 0.341rem;
}

.margin-top-5 {
    margin-top: 0.341rem;
}

.margin-bottom-5 {
    margin-bottom: 0.341rem;
}

.margin-right-10 {
    margin-right: 0.682rem;
}

.margin-left-10 {
    margin-left: 0.682rem;
}

.margin-top-10 {
    margin-top: 0.682rem;
}

.margin-bottom-10 {
    margin-bottom: 0.682rem;
}

.margin-right-15 {
    margin-right: 1.023rem;
}

.margin-left-15 {
    margin-left: 1.023rem;
}

.margin-top-15 {
    margin-top: 1.023rem;
}

.margin-bottom-15 {
    margin-bottom: 1.023rem;
}

.invisible {
    opacity: 0;
    background-color: transparent;
    color: transparent;
}

.spacing-h--5>box {
    margin-right: -0.341rem;
}

.spacing-h--5>box:last-child {
    margin-right: 0rem;
}

.spacing-v--5>box {
    margin-bottom: -0.341rem;
}

.spacing-v--5>box:last-child {
    margin-bottom: 0rem;
}

.spacing-v--5>label {
    margin-bottom: -0.341rem;
}

.spacing-v--5>label:last-child {
    margin-bottom: 0rem;
}

.spacing-v--10>box {
    margin-bottom: -0.682rem;
}

.spacing-v--10>box:last-child {
    margin-bottom: 0rem;
}

.spacing-v--10>label {
    margin-bottom: -0.682rem;
}

.spacing-v--10>label:last-child {
    margin-bottom: 0rem;
}

.spacing-h--20>box {
    margin-left: -1.364rem;
}

.spacing-h--20>box:first-child {
    margin-left: 0rem;
}

.instant {
    transition: 0ms;
}

.md3_decel {
    @include md3_decel;
}