$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #FE0063;
$secondary_paletteKeyColor: #9E6A62;
$tertiary_paletteKeyColor: #A66848;
$neutral_paletteKeyColor: #877274;
$neutral_variant_paletteKeyColor: #8A7174;
$background: #1D1011;
$onBackground: #F7DCDE;
$surface: #1D1011;
$surfaceDim: #1D1011;
$surfaceBright: #463537;
$surfaceContainerLowest: #170B0C;
$surfaceContainerLow: #26181A;
$surfaceContainer: #2B1C1E;
$surfaceContainerHigh: #362628;
$surfaceContainerHighest: #413032;
$onSurface: #F7DCDE;
$surfaceVariant: #574144;
$onSurfaceVariant: #DEBFC2;
$inverseSurface: #F7DCDE;
$inverseOnSurface: #3D2C2E;
$outline: #A58A8D;
$outlineVariant: #574144;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB2BC;
$primary: #FFB2BC;
$onPrimary: #670023;
$primaryContainer: #910035;
$onPrimaryContainer: #FFD9DD;
$inversePrimary: #BD0048;
$secondary: #F6B8AE;
$onSecondary: #4C251F;
$secondaryContainer: #673B34;
$onSecondaryContainer: #FFDAD4;
$tertiary: #FFB693;
$onTertiary: #512309;
$tertiaryContainer: #C4815F;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFD9DD;
$primaryFixedDim: #FFB2BC;
$onPrimaryFixed: #400013;
$onPrimaryFixedVariant: #910035;
$secondaryFixed: #FFDAD4;
$secondaryFixedDim: #F6B8AE;
$onSecondaryFixed: #33110C;
$onSecondaryFixedVariant: #673B34;
$tertiaryFixed: #FFDBCB;
$tertiaryFixedDim: #FFB693;
$onTertiaryFixed: #341000;
$onTertiaryFixedVariant: #6D391D;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #271619;
$term1: #F63B62;
$term2: #FFA391;
$term3: #FFC4BF;
$term4: #A595C6;
$term5: #DD8195;
$term6: #F6A677;
$term7: #DCC0BC;
$term8: #BCA5A3;
$term9: #FF909B;
$term10: #FFE1DB;
$term11: #FFFFFF;
$term12: #E6C59B;
$term13: #FFB4BF;
$term14: #FFDFD3;
$term15: #FFD9DD;
