$primary: #8bcdff;
$onPrimary: #003350;
$primaryContainer: #004b72;
$onPrimaryContainer: #cae6ff;
$secondary: #b7c8d9;
$onSecondary: #22323f;
$secondaryContainer: #394956;
$onSecondaryContainer: #d3e4f5;
$tertiary: #d0bfe8;
$onTertiary: #362b4a;
$tertiaryContainer: #4d4162;
$onTertiaryContainer: #eddcff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1a1c1e;
$background: #1a1c1e;
$onBackground: #e2e2e5;
$surface: #1a1c1e;
$onSurface: #e2e2e5;
$surfaceVariant: #41474d;
$onSurfaceVariant: #c2c7ce;
$outline: #8b9198;
$shadow: #000000;
$inverseSurface: #e2e2e5;
$inverseOnSurface: #2f3032;
$inversePrimary: #006496;
