$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #427DA3;
$secondary_paletteKeyColor: #687987;
$tertiary_paletteKeyColor: #7D7195;
$neutral_paletteKeyColor: #73777B;
$neutral_variant_paletteKeyColor: #71787E;
$background: #101417;
$onBackground: #DFE3E8;
$surface: #101417;
$surfaceDim: #101417;
$surfaceBright: #353A3E;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #181C20;
$surfaceContainer: #1C2024;
$surfaceContainerHigh: #262A2E;
$surfaceContainerHighest: #313539;
$onSurface: #DFE3E8;
$surfaceVariant: #41484D;
$onSurfaceVariant: #C1C7CE;
$inverseSurface: #DFE3E8;
$inverseOnSurface: #2D3135;
$outline: #8B9198;
$outlineVariant: #41484D;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #94CDF7;
$primary: #94CDF7;
$onPrimary: #00344D;
$primaryContainer: #004C6D;
$onPrimaryContainer: #C8E6FF;
$inversePrimary: #246488;
$secondary: #B7C9D8;
$onSecondary: #21323F;
$secondaryContainer: #384956;
$onSecondaryContainer: #D3E5F5;
$tertiary: #CEC0E8;
$onTertiary: #352B4B;
$tertiaryContainer: #978BB0;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #C8E6FF;
$primaryFixedDim: #94CDF7;
$onPrimaryFixed: #001E2E;
$onPrimaryFixedVariant: #004C6D;
$secondaryFixed: #D3E5F5;
$secondaryFixedDim: #B7C9D8;
$onSecondaryFixed: #0B1D29;
$onSecondaryFixedVariant: #384956;
$tertiaryFixed: #E9DDFF;
$tertiaryFixedDim: #CEC0E8;
$onTertiaryFixed: #1F1635;
$onTertiaryFixedVariant: #4B4163;
