$primary: #e7b3ff;
$onPrimary: #4e0078;
$primaryContainer: #6f00a8;
$onPrimaryContainer: #f6d8ff;
$secondary: #d3c1d8;
$onSecondary: #382c3e;
$secondaryContainer: #4f4255;
$onSecondaryContainer: #efdcf4;
$tertiary: #f5b7b8;
$onTertiary: #4c2527;
$tertiaryContainer: #663b3c;
$onTertiaryContainer: #ffd9d9;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1d1b1e;
$background: #1d1b1e;
$onBackground: #e8e1e5;
$surface: #1d1b1e;
$onSurface: #e8e1e5;
$surfaceVariant: #4b444d;
$onSurfaceVariant: #cec3ce;
$outline: #978e98;
$shadow: #000000;
$inverseSurface: #e8e1e5;
$inverseOnSurface: #332f33;
$inversePrimary: #8c2ac5;
