$primary: #9ccaff;
$onPrimary: #00325a;
$primaryContainer: #00497f;
$onPrimaryContainer: #d0e4ff;
$secondary: #bbc8db;
$onSecondary: #253140;
$secondaryContainer: #3c4858;
$onSecondaryContainer: #d6e3f7;
$tertiary: #d6bee4;
$onTertiary: #3b2948;
$tertiaryContainer: #523f5f;
$onTertiaryContainer: #f3daff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1b1b1b;
$background: #1b1b1b;
$onBackground: #e2e2e6;
$surface: #1b1b1b;
$onSurface: #e2e2e6;
$surfaceVariant: #42474e;
$onSurfaceVariant: #c3c7d0;
$outline: #8d9199;
$shadow: #000000;
$inverseSurface: #e2e2e6;
$inverseOnSurface: #2f3033;
$inversePrimary: #0061a6;
