$darkmode: true;
$primary: #acc7ff;
$onPrimary: #002e6c;
$primaryContainer: #004397;
$onPrimaryContainer: #d6e2ff;
$secondary: #bfc6dc;
$onSecondary: #283041;
$secondaryContainer: #3f4759;
$onSecondaryContainer: #dae2f9;
$tertiary: #debbdf;
$onTertiary: #402843;
$tertiaryContainer: #583e5b;
$onTertiaryContainer: #fbd7fb;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1b1b1e;
$background: #1b1b1e;
$onBackground: #e4e2e6;
$surface: #1b1b1e;
$onSurface: #e4e2e6;
$surfaceVariant: #44474f;
$onSurfaceVariant: #c4c6d0;
$outline: #8e9099;
$shadow: #000000;
$inverseSurface: #e4e2e6;
$inverseOnSurface: #2f3033;
$inversePrimary: #005ac5;
