$darkmode: true;
$primary: #d8b9ff;
$onPrimary: #3f1c6f;
$primaryContainer: #563586;
$onPrimaryContainer: #eedcff;
$secondary: #cec2da;
$onSecondary: #352d40;
$secondaryContainer: #4c4357;
$onSecondaryContainer: #ebdef7;
$tertiary: #f2b7c2;
$onTertiary: #4b252e;
$tertiaryContainer: #643b44;
$onTertiaryContainer: #ffd9e0;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1d1b1e;
$background: #1d1b1e;
$onBackground: #e7e1e6;
$surface: #1d1b1e;
$onSurface: #e7e1e6;
$surfaceVariant: #4a454e;
$onSurfaceVariant: #cbc4ce;
$outline: #958f99;
$shadow: #000000;
$inverseSurface: #e7e1e6;
$inverseOnSurface: #323033;
$inversePrimary: #6f4da1;
