$darkmode: true;
$primary: #d6baff;
$onPrimary: #3d1c70;
$primaryContainer: #543588;
$onPrimaryContainer: #ecdcff;
$secondary: #cec2db;
$onSecondary: #342d40;
$secondaryContainer: #4b4358;
$onSecondaryContainer: #eadef7;
$tertiary: #f1b7c4;
$onTertiary: #4a252f;
$tertiaryContainer: #643a45;
$onTertiaryContainer: #ffd9e1;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1d1b1e;
$background: #1d1b1e;
$onBackground: #e7e1e6;
$surface: #1d1b1e;
$onSurface: #e7e1e6;
$surfaceVariant: #49454e;
$onSurfaceVariant: #cbc4cf;
$outline: #958f99;
$shadow: #000000;
$inverseSurface: #e7e1e6;
$inverseOnSurface: #323033;
$inversePrimary: #6d4ea2;
