$darkmode: true;
$primary: #ffb1c3;
$onPrimary: #5f112c;
$primaryContainer: #7c2841;
$onPrimaryContainer: #ffd9e0;
$secondary: #e4bcc3;
$onSecondary: #42292e;
$secondaryContainer: #5c3f45;
$onSecondaryContainer: #ffd9e0;
$tertiary: #ecbe91;
$onTertiary: #462a09;
$tertiaryContainer: #60401d;
$onTertiaryContainer: #ffdcba;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #201a1b;
$background: #201a1b;
$onBackground: #ecdfe0;
$surface: #201a1b;
$onSurface: #ecdfe0;
$surfaceVariant: #514345;
$onSurfaceVariant: #d6c1c4;
$outline: #9f8c8f;
$shadow: #000000;
$inverseSurface: #ecdfe0;
$inverseOnSurface: #362f30;
$inversePrimary: #9a4059;
