$darkmode: true;
$primary: #7fda9a;
$onPrimary: #00391a;
$primaryContainer: #005228;
$onPrimaryContainer: #9af7b4;
$secondary: #b6ccb8;
$onSecondary: #223527;
$secondaryContainer: #384b3c;
$onSecondaryContainer: #d2e8d3;
$tertiary: #a2ceda;
$onTertiary: #023640;
$tertiaryContainer: #204d56;
$onTertiaryContainer: #beeaf6;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1a1c1a;
$background: #1a1c1a;
$onBackground: #e2e3de;
$surface: #1a1c1a;
$onSurface: #e2e3de;
$surfaceVariant: #414941;
$onSurfaceVariant: #c1c9bf;
$outline: #8b938a;
$shadow: #000000;
$inverseSurface: #e2e3de;
$inverseOnSurface: #2e312e;
$inversePrimary: #006d39;
