$darkmode: true;
$primary: #b1c5ff;
$onPrimary: #002a78;
$primaryContainer: #214290;
$onPrimaryContainer: #dae2ff;
$secondary: #c1c6dd;
$onSecondary: #2a3042;
$secondaryContainer: #414659;
$onSecondaryContainer: #dce1f9;
$tertiary: #e1bbdc;
$onTertiary: #412740;
$tertiaryContainer: #5b3d59;
$onTertiaryContainer: #ffd6f9;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1b1b1f;
$background: #1b1b1f;
$onBackground: #e3e1e6;
$surface: #1b1b1f;
$onSurface: #e3e1e6;
$surfaceVariant: #44464e;
$onSurfaceVariant: #c6c6d0;
$outline: #8f909a;
$shadow: #000000;
$inverseSurface: #e3e1e6;
$inverseOnSurface: #303033;
$inversePrimary: #3c5ba9;
