$notif_surface: $t_background;

@mixin notif-rounding {
    @include normal-rounding;
}

.notif-low {
    @include notif-rounding;
    background-color: $l_l_t_surfaceVariant;
    color: $onSurfaceVariant;
    padding: $rounding_small;
    padding-right: $rounding_small + 0.545rem;
}

.notif-normal {
    @include notif-rounding;
    background-color: $l_l_t_surfaceVariant;
    color: $onSurfaceVariant;
    padding: $rounding_small;
    padding-right: $rounding_small + 0.545rem;
}

.notif-critical {
    @include notif-rounding;
    background-color: $secondaryContainer;
    color: $onSecondaryContainer;
    padding: $rounding_small;
    padding-right: $rounding_small + 0.545rem;
}

.popup-notif-low {
    @include notif-rounding;
    min-width: 30.682rem;
    background-color: $notif_surface;
    color: $onSurfaceVariant;
    padding: $rounding_small;
    padding-right: $rounding_small + 0.545rem;
}

.popup-notif-normal {
    @include notif-rounding;
    min-width: 30.682rem;
    background-color: $notif_surface;
    color: $onSurfaceVariant;
    padding: $rounding_small;
    padding-right: $rounding_small + 0.545rem;
}

.popup-notif-critical {
    @include notif-rounding;
    min-width: 30.682rem;
    background-color: $secondaryContainer;
    color: $onSecondaryContainer;
    padding: $rounding_small;
    padding-right: $rounding_small + 0.545rem;
}

.notif-body-low {
    color: mix($onSurfaceVariant, $surfaceVariant, 67%);
}

.notif-body-normal {
    color: mix($onSurfaceVariant, $surfaceVariant, 67%);
}

.notif-body-critical {
    color: mix($onSecondaryContainer, $secondaryContainer, 67%);
}

.notif-icon {
    @include full-rounding;
    min-width: 3.409rem;
    min-height: 3.409rem;
}

.notif-icon-material {
    background-color: $t_secondaryContainer;
    color: $onSecondaryContainer;
}

.notif-icon-material-low {
    background-color: $t_secondaryContainer;
    color: $onSecondaryContainer;
}

.notif-icon-material-normal {
    background-color: $t_secondaryContainer;
    color: $onSecondaryContainer;
}

.notif-icon-material-critical {
    background-color: $t_onSecondaryContainer;
    color: $secondaryContainer;
}

.notif-expand-btn {
    @include notif-rounding;
    min-width: 1.841rem;
    min-height: 1.841rem;
}

.notif-expand-btn:hover,
.notif-expand-btn:focus {
    background: $hovercolor;
}

.notif-expand-btn:active {
    background: $activecolor;
}

.notif-closeall-btn {
    @include notif-rounding;
    padding: 0.341rem 0.341rem;
}

.notif-closeall-btn:hover,
.notif-closeall-btn:focus {
    background-color: $hovercolor;
}

.notif-closeall-btn:active {
    background-color: $activecolor;
}

.osd-notif {
    @include notif-rounding;
    background-color: transparentize(
        $background,
        $transparentize_surface_amount_subtract_surface
    );
    min-width: 30.682rem;
}

.notif-circprog-low {
    transition: 0ms linear;
    min-width: 0.136rem; // line width
    min-height: 3.409rem;
    padding: 0rem;
    color: $onSecondaryContainer;
}

.notif-circprog-normal {
    transition: 0ms linear;
    min-width: 0.136rem; // line width
    min-height: 3.409rem;
    padding: 0rem;
    color: $onSecondaryContainer;
}

.notif-circprog-critical {
    transition: 0ms linear;
    min-width: 0.136rem; // line width
    min-height: 3.409rem;
    padding: 0rem;
    color: $secondaryContainer;
}

.notif-actions {
    min-height: 2.045rem;
}

.notif-action {
    @include small-rounding;
}

.notif-action-low {
    background-color: $l_t_surfaceVariant;
    color: $onSurfaceVariant;
}

.notif-action-low:focus,
.notif-action-low:hover {
    background-color: mix($t_onSurfaceVariant, $l_t_surfaceVariant, 10%);
}

.notif-action-low:active {
    background-color: mix($t_onSurfaceVariant, $l_t_surfaceVariant, 15%);
}

.notif-action-normal {
    background-color: $l_t_surfaceVariant;
    color: $onSurfaceVariant;
}

.notif-action-normal:focus,
.notif-action-normal:hover {
    background-color: mix($t_onSurfaceVariant, $l_t_surfaceVariant, 10%);
}

.notif-action-normal:active {
    background-color: mix($t_onSurfaceVariant, $l_t_surfaceVariant, 15%);
}

.notif-action-critical {
    background-color: $t_onSurfaceVariant;
    color: $onSurfaceVariant;
}

.notif-action-critical:focus,
.notif-action-critical:hover {
    background-color: mix($t_onSurfaceVariant, $l_t_surfaceVariant, 10%);
}

.notif-action-critical:active {
    background-color: mix($t_onSurfaceVariant, $l_t_surfaceVariant, 15%);
}
