.osd-bg {
    min-width: 8.864rem;
    min-height: 3.409rem;
}

.osd-value {
    background-color: $t_background;
    border-radius: 1.023rem;
    padding: 0.625rem 1.023rem;
    padding-top: 0.313rem;
    margin: 10px;
    @include elevation2;
}

.osd-progress {
    min-height: 0.955rem;
    min-width: 0.068rem;
    padding: 0rem;
    border-radius: 10rem;
    @include fluent_decel;

    trough {
        min-height: 0.954rem;
        min-width: 0.068rem;
        border-radius: 10rem;
        background-color: $secondaryContainer;
        // border: 0.068rem solid $onSecondaryContainer;
    }

    progress {
        @include fluent_decel;
        min-height: 0.680rem;
        min-width: 0.680rem;
        margin: 0rem 0.137rem;
        border-radius: 10rem;
        background-color: $onSecondaryContainer;
    }
}

.osd-icon {
    color: $onPrimaryContainer;
}

.osd-label {
    font-size: 1.023rem;
    font-weight: 500;
    color: $onBackground;
    margin-top: 0.341rem;
}

.osd-value-txt {
    @include titlefont;
    font-size: 1.688rem;
    font-weight: 500;
    color: $onBackground;
}

.osd-notifs {
    padding-top: 0.313rem;
}
