.overview-search-box {
    @include md3_decel;
    @include large-rounding;
    @include elevation-border;
    @include elevation2;
    min-width: 13.636rem;
    min-height: 3.409rem;
    padding: 0rem 1.364rem;
    padding-right: 2.864rem;
    background-color: $t_background;
    color: $onBackground;

    selection {
        background-color: $secondary;
        color: $onSecondary;
    }
    caret-color: transparent;
}

.overview-search-box-extended {
    min-width: 25.909rem;
    caret-color: $onSecondaryContainer;
}

.overview-search-prompt {
    color: $subtext;
}

.overview-search-icon {
    margin: 0rem 1.023rem;
}

.overview-search-prompt-box {
    margin-left: -18.545rem;
    margin-right: $elevation2_margin + 1px;
}

.overview-search-icon-box {
    margin-left: -18.545rem;
    margin-right: $elevation2_margin + 1px;
}

.overview-search-results {
    // min-height: 2.813rem;
    // min-height: 37.5rem;
    @include large-rounding;
    @include elevation-border;
    @include elevation2;
    min-width: 28.773rem;
    padding: 0.682rem;
    background-color: $t_background;
    color: $onBackground;
}

.overview-search-results-icon {
    margin: 0rem 0.682rem;
    font-size: 2.386rem;
    min-width: 2.386rem;
    min-height: 2.386rem;
}
.overview-search-results-txt {
    margin-right: 0.682rem;
}

.overview-search-results-txt-cmd {
    margin-right: 0.682rem;
    @include techfont;
    font-size: 1.227rem;
}

.overview-search-result-btn {
    @include normal-rounding;
    padding: 0.341rem;
    min-width: 2.386rem;
    min-height: 2.386rem;

    caret-color: transparent;
}

.overview-search-result-btn:focus,
.overview-search-result-btn:hover {
    background-color: $hovercolor;
}

.overview-search-result-btn:active {
    background-color: $activecolor;
}

.overview-tasks {
    @include large-rounding;
    @include elevation-border;
    @include elevation2;
    padding: 0.341rem;
    background-color: $t_background;
    color: $onBackground;
}

.overview-tasks-workspace {
    @include normal-rounding;
    // @include elevation-border;
    margin: 0.341rem;
    background-color: mix($t_t_surface, $t_onSurface, 93%);
}

.overview-tasks-window {
    @include normal-rounding;
    // @include elevation-border-softer;
    @include md3_decel;
    background-color: $l_t_secondaryContainer;
    color: $onSecondaryContainer;
    border: 0.068rem solid $t_t_t_onSecondaryContainer;
}

.overview-tasks-window:hover {
    background-color: mix($l_t_secondaryContainer, $primary, 95%);
}

.overview-tasks-window:focus {
    background-color: mix($l_t_secondaryContainer, $primary, 95%);
}

.overview-tasks-window:active {
    background-color: mix($l_t_secondaryContainer, $primary, 90%);
}

.overview-tasks-window-selected {
    background-color: mix($l_t_secondaryContainer, $primary, 90%);
}

.overview-tasks-window-dragging {
    opacity: 0.2;
}