// To prevent errors
$color1: $surfaceVariant;
$color2: $surfaceVariant;
$color3: $surfaceVariant;
$color4: $secondaryContainer;
$color5: $secondaryContainer;
$color6: $secondaryContainer;
$color7: $onBackground;