.wallpaperpicker-bg {
    @include normal-rounding;
    @include elevation-border;
    @include elevation2;
    margin: 0.8rem;
    background-color: $layer0;
}

// .wallpaperpicker-scroll {
// 	margin: 0rem 1rem;
// }

.wallpaperpicker-box {
    margin: 0.6rem 0.4rem;
    border-radius: 0.6rem;
    background-color: $secondaryContainer;
}

.wallpaperButton {
    background-color: $secondaryContainer;
    margin: 0.2rem 0rem;
	padding: 0.4rem;
	border-radius: 0.6rem;
    // border: 0.12rem;
    // border-style: solid;
    // border-color: $secondaryContainer;
    transition: all 0.3s ease;
}

.wallpaperButton:hover {
    // border-color: $secondary;
    background-color: $secondary;
}

.wallpaperImageBox {
    min-width: 160px;
    min-height: 90px;
}

.wallpaperPlaceholder {
    min-width: 160px;
    min-height:90px;
}

.wallpaperLabel {
    color: $secondary;
    background-color: $secondaryContainer;
    border-radius: 0.4rem;
    margin: 0rem 0rem;
    padding: 0.2rem 1rem ;
}

.icon-material {
    @include icon-material;
}
