.wallpaperContainer {
    @include normal-rounding;
    margin: 0.8rem;
    background-color: $layer0;
}

.wallpaperScroll {
	margin: 0rem 1rem;
}

.wallpaperBox {
    margin: 0.6rem 0.4rem;
}

.wallpaperButton {
    background-color: $primaryContainer;
	margin: 0.2rem;
	padding: 0.3rem;
    border: 0.12rem;
	border-radius: 0.6rem;
    border-style: solid;
    border-color: $primaryContainer;
    transition: all 0.3s ease;
}

.wallpaperButton:hover {
	border-color: $primary;
    background-color: $primary;
}
