.wallpaper-list {
    .preview-box {
        min-width: 9.375rem;
        min-height: 5.625rem;
        background-size: cover;
        background-position: center;
        border-radius: 0.5rem;
    }

    button {
        padding: 0.25rem;
        margin: 0.25rem;
    }

    .scroll-box {
        min-height: 6.875rem;
    }
}

.wallpaper-window {
    @extend .sidebar-right;
}

.wallpaper-placeholder {
    padding: 2rem;

    .txt-large {
        font-size: 1.2em;
    }

    .txt-subtext {
        opacity: 0.8;
    }
}

.generate-thumbnails {
    padding: 0.5rem 1rem;
    border-radius: 624.9375rem;
    background-color: $secondaryContainer;
    color: $onSecondaryContainer;
    margin-right: 0.5rem;
    
    &:hover {
        background-color: mix($secondaryContainer, $onSecondaryContainer, 90%);
    }
    
    &:active {
        background-color: mix($secondaryContainer, $onSecondaryContainer, 80%);
    }
}