build
pillow
setuptools-scm
wheel
pywayland
psutil
kde-material-you-colors
materialyoucolor
libsass
material-color-utilities
setproctitle
click
loguru
pycairo
pygobject
pyqt5
pyqt6
tqdm
numpy
opencv-contrib-python
