* {
  all: unset; }

.test {
  background-image: linear-gradient(45deg, #F4D609 0%, #F4D609 10%, #212121 10%, #212121 20%, #F4D609 20%, #F4D609 30%, #212121 30%, #212121 40%, #F4D609 40%, #F4D609 50%, #212121 50%, #212121 60%, #F4D609 60%, #F4D609 70%, #212121 70%, #212121 80%, #F4D609 80%, #F4D609 90%, #212121 90%, #212121 100%);
  background-repeat: repeat; }

.test-size {
  min-height: 3rem;
  min-width: 3rem; }

.txt-title {
  font-family: 'Gabarito', 'Lexend', sans-serif;
  font-size: 2.045rem; }

.txt-title-small {
  font-family: 'Gabarito', 'Lexend', sans-serif;
  font-size: 1.364rem; }

.techfont {
  font-family: 'JetBrains Mono Nerd Font', 'JetBrains Mono NL', 'SpaceMono Nerd Font', monospace; }

@keyframes flyin-top {
  from {
    margin-top: -2.795rem; }
  to {
    margin-top: 0rem; } }

@keyframes flyin-bottom {
  from {
    margin-top: 4.841rem;
    margin-bottom: -4.841rem; }
  to {
    margin-bottom: 0rem;
    margin-top: 0rem; } }

.no-anim {
  transition: 0ms; }

.txt {
  color: #191c1d; }

.txt-shadow {
  text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.69);
  margin: 10px; }

.txt-badonkers {
  font-family: 'AR One Sans', 'Inter', 'Roboto', 'Noto Sans', sans-serif;
  font-size: 3rem; }

.txt-tiddies {
  font-family: 'AR One Sans', 'Inter', 'Roboto', 'Noto Sans', sans-serif;
  font-size: 2.7273rem; }

.txt-hugeass {
  font-family: 'AR One Sans', 'Inter', 'Roboto', 'Noto Sans', sans-serif;
  font-size: 1.8182rem; }

.txt-larger {
  font-family: 'AR One Sans', 'Inter', 'Roboto', 'Noto Sans', sans-serif;
  font-size: 1.6363rem; }

.txt-large {
  font-family: 'AR One Sans', 'Inter', 'Roboto', 'Noto Sans', sans-serif;
  font-size: 1.4545rem; }

.txt-norm {
  font-family: 'AR One Sans', 'Inter', 'Roboto', 'Noto Sans', sans-serif;
  font-size: 1.2727rem; }

.txt-small {
  font-family: 'AR One Sans', 'Inter', 'Roboto', 'Noto Sans', sans-serif;
  font-size: 1.0909rem; }

.txt-smallie {
  font-family: 'AR One Sans', 'Inter', 'Roboto', 'Noto Sans', sans-serif;
  font-size: 1rem; }

.txt-smaller {
  font-family: 'AR One Sans', 'Inter', 'Roboto', 'Noto Sans', sans-serif;
  font-size: 0.9091rem; }

.txt-smaller-offset {
  margin-top: -0.136rem; }

.txt-tiny {
  font-family: 'AR One Sans', 'Inter', 'Roboto', 'Noto Sans', sans-serif;
  font-size: 0.7273rem; }

.txt-subtext {
  color: #5d6060; }

.txt-action {
  color: #3b3e3f; }

.txt-semibold {
  font-weight: 500; }

.txt-bold {
  font-weight: bold; }

.titlefont {
  font-family: 'Gabarito', 'Lexend', sans-serif; }

.mainfont {
  font-family: 'AR One Sans', 'Inter', 'Roboto', 'Noto Sans', sans-serif; }

.icon-material {
  font-family: 'Material Symbols Rounded', 'Material Symbols Outlined', 'Material Symbols Sharp'; }

.separator-circle {
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  background-color: #191c1d;
  margin: 0rem 0.682rem;
  min-width: 0.545rem;
  min-height: 0.545rem; }

.spacing-v-15 > box {
  margin-bottom: 1.023rem; }

.spacing-v-15 > box:last-child {
  margin-bottom: 0rem; }

.spacing-v-15 > scrolledwindow {
  margin-bottom: 1.023rem; }

.spacing-v-15 > scrolledwindow:last-child {
  margin-bottom: 0rem; }

.spacing-v-15 > revealer {
  margin-bottom: 1.023rem; }

.spacing-v-15 > revealer:last-child {
  margin-bottom: 0rem; }

.spacing-v-15 > label {
  margin-bottom: 1.023rem; }

.spacing-v-15 > label:last-child {
  margin-bottom: 0rem; }

.spacing-h-15 > box {
  margin-right: 1.023rem; }

.spacing-h-15 > box:last-child {
  margin-right: 0rem; }

.spacing-h-15 > stack {
  margin-right: 1.023rem; }

.spacing-h-15 > stack:last-child {
  margin-right: 0rem; }

.spacing-h-15 > label {
  margin-right: 1.023rem; }

.spacing-h-15 > label:last-child {
  margin-right: 0rem; }

.spacing-h-15 > button {
  margin-right: 1.023rem; }

.spacing-h-15 > button:last-child {
  margin-right: 0rem; }

.spacing-v-5 > box {
  margin-bottom: 0.341rem; }

.spacing-v-5 > box:last-child {
  margin-bottom: 0rem; }

.spacing-v-5 > label {
  margin-bottom: 0.341rem; }

.spacing-v-5 > label:last-child {
  margin-bottom: 0rem; }

.spacing-v-5 > button {
  margin-bottom: 0.341rem; }

.spacing-v-5 > button:last-child {
  margin-bottom: 0rem; }

.spacing-v-5-revealer > revealer > box {
  margin-bottom: 0.341rem; }

.spacing-v-5-revealer > revealer:last-child > box {
  margin-bottom: 0rem; }

.spacing-h-5 > box {
  margin-right: 0.341rem; }

.spacing-h-5 > box:last-child {
  margin-right: 0rem; }

.spacing-h-5 > button {
  margin-right: 0.341rem; }

.spacing-h-5 > button:last-child {
  margin-right: 0rem; }

.spacing-h-5 > label {
  margin-right: 0.341rem; }

.spacing-h-5 > label:last-child {
  margin-right: 0rem; }

.spacing-h-5 > widget > box {
  margin-right: 0.341rem; }

.spacing-h-5 > widget:last-child > box {
  margin-right: 0rem; }

.spacing-h-5 > progressbar {
  margin-right: 0.341rem; }

.spacing-h-5 > progressbar:last-child {
  margin-right: 0rem; }

.spacing-h-5 > scrolledwindow {
  margin-right: 0.341rem; }

.spacing-h-5 > scrolledwindow:last-child {
  margin-right: 0rem; }

.spacing-h-5 > scrollbar {
  margin-right: 0.341rem; }

.spacing-h-5 > scrollbar:last-child {
  margin-right: 0rem; }

.spacing-v-minus5 > box {
  margin-bottom: -0.341rem; }

.spacing-v-minus5 > box:last-child {
  margin-bottom: 0rem; }

.spacing-v-minus5 > label {
  margin-bottom: -0.341rem; }

.spacing-v-minus5 > label:last-child {
  margin-bottom: 0rem; }

.spacing-h-10 > box {
  margin-right: 0.682rem; }

.spacing-h-10 > box:last-child {
  margin-right: 0rem; }

.spacing-h-10 > flowboxchild > button {
  margin-right: 0.682rem; }

.spacing-h-10 > flowboxchild:last-child > button {
  margin-right: 0rem; }

.spacing-h-10 > label {
  margin-right: 0.682rem; }

.spacing-h-10 > label:last-child {
  margin-right: 0rem; }

.spacing-h-10 > revealer {
  margin-right: 0.682rem; }

.spacing-h-10 > revealer:last-child {
  margin-right: 0rem; }

.spacing-h-10 > overlay {
  margin-right: 0.682rem; }

.spacing-h-10 > overlay:last-child {
  margin-right: 0rem; }

.spacing-h-10 > button {
  margin-right: 0.682rem; }

.spacing-h-10 > button:last-child {
  margin-right: 0rem; }

.spacing-h-10 > label {
  margin-right: 0.682rem; }

.spacing-h-10 > label:last-child {
  margin-right: 0rem; }

.spacing-h-10 > widget {
  margin-right: 0.682rem; }

.spacing-h-10 > widget:last-child {
  margin-right: 0rem; }

.spacing-h-10 > stack {
  margin-right: 0.682rem; }

.spacing-h-10 > stack:last-child {
  margin-right: 0rem; }

.spacing-v-10 > box {
  margin-bottom: 0.682rem; }

.spacing-v-10 > box:last-child {
  margin-bottom: 0rem; }

.spacing-v-10 > button {
  margin-bottom: 0.682rem; }

.spacing-v-10 > button:last-child {
  margin-bottom: 0rem; }

.anim-enter {
  transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1); }

.anim-exit {
  transition: 150ms cubic-bezier(0.3, 0, 0.8, 0.15); }

.button-minsize {
  min-width: 2.727rem;
  min-height: 2.727rem; }

.group-padding {
  padding: 0.341rem; }

.margin-right-5 {
  margin-right: 0.341rem; }

.margin-left-5 {
  margin-left: 0.341rem; }

.margin-top-5 {
  margin-top: 0.341rem; }

.margin-bottom-5 {
  margin-bottom: 0.341rem; }

.margin-right-10 {
  margin-right: 0.682rem; }

.margin-left-10 {
  margin-left: 0.682rem; }

.margin-top-10 {
  margin-top: 0.682rem; }

.margin-bottom-10 {
  margin-bottom: 0.682rem; }

.invisible {
  opacity: 0;
  background-color: transparent;
  color: transparent; }

.spacing-h--5 > box {
  margin-right: -0.341rem; }

.spacing-h--5 > box:last-child {
  margin-right: 0rem; }

.spacing-v--5 > box {
  margin-bottom: -0.341rem; }

.spacing-v--5 > box:last-child {
  margin-bottom: 0rem; }

.spacing-h--20 > box {
  margin-left: -1.364rem; }

.spacing-h--20 > box:first-child {
  margin-left: 0rem; }

.instant {
  transition: 0ms; }

.md3_decel {
  transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1); }

.menu {
  padding: 0.681rem;
  background: #dbe4e6;
  color: #3f484a;
  border-radius: 1.159rem;
  -gtk-outline-radius: 1.159rem; }

.menubar > menuitem {
  border-radius: 0.545rem;
  -gtk-outline-radius: 0.545rem;
  min-width: 13.636rem;
  min-height: 2.727rem; }

.menu > menuitem {
  padding: 0.4em 1.5rem;
  background: transparent;
  transition: 0.2s ease background;
  border-radius: 0.545rem;
  -gtk-outline-radius: 0.545rem; }

.menu > menuitem:hover {
  background-color: #cbd4d6; }

.separator-line {
  background-color: #dbe4e6;
  min-width: 0.068rem;
  min-height: 0.068rem; }

tooltip {
  border-radius: 1.705rem;
  -gtk-outline-radius: 1.705rem;
  background-color: #dbe4e6;
  color: #3f484a;
  border: 1px solid #3f484a; }

.bar-bg {
  background-color: rgba(251, 253, 253, 0.7);
  min-height: 2.727rem; }

.bar-sidespace {
  min-width: 1.5rem; }

.bar-group-margin {
  padding: 0.2rem; }

.bar-group {
  background-color: rgba(251, 253, 253, 0.3); }

.bar-group-center {
  border-bottom-left-radius: 1.364rem;
  border-bottom-right-radius: 1.364rem;
  padding: 0.2rem;
  background-color: black; }

.corner-bar-group {
  border-radius: 1.364rem;
  border-width: 0.068rem;
  background-color: black; }

.bar-group-pad {
  padding: 0rem 1.023rem; }

.bar-group-pad-less {
  padding: 0rem 0.681rem; }

.bar-group-pad-system {
  padding-left: 1.023rem;
  padding-right: 0.547rem; }

.bar-group-pad-music {
  padding-right: 1.023rem; }

.bar-group-pad-left {
  padding-left: 1.364rem;
  padding-right: 0.681rem; }

.bar-group-pad-right {
  padding-left: 0.681rem;
  padding-right: 1.364rem; }

.bar-group-pad-leftonly {
  padding-left: 0.681rem; }

.bar-group-pad-rightonly {
  padding-right: 0.681rem; }

.bar-group-standalone {
  border-radius: 1.364rem;
  -gtk-outline-radius: 1.364rem; }

.bar-group-round {
  border-radius: 10rem;
  -gtk-outline-radius: 10rem; }

.bar-group-middle {
  border-radius: 0.477rem;
  -gtk-outline-radius: 0.477rem; }

.bar-group-left {
  border-radius: 0.477rem;
  -gtk-outline-radius: 0.477rem;
  border-top-left-radius: 1.364rem;
  border-bottom-left-radius: 1.364rem; }

.bar-group-right {
  border-radius: 0.477rem;
  -gtk-outline-radius: 0.477rem;
  border-top-right-radius: 1.364rem;
  border-bottom-right-radius: 1.364rem; }

.bar-ws-width {
  min-width: 18.614rem; }

.bar-separator {
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  min-width: 0.341rem;
  min-height: 0.341rem;
  background-color: rgba(228, 231, 231, 0.3);
  margin: 0rem 0.341rem; }

.bar-clock {
  font-family: 'Gabarito', 'Lexend', sans-serif;
  font-size: 1.2727rem;
  color: #191c1d; }

.bar-date {
  font-family: 'Gabarito', 'Lexend', sans-serif;
  font-size: 1rem;
  color: #191c1d; }

.bar-ws {
  min-height: 1.636rem;
  min-width: 1.772rem;
  font-size: 1.091rem;
  font-family: 'AR One Sans', 'Inter', 'Roboto', 'Noto Sans', sans-serif;
  border-top: 0.068rem solid;
  border-bottom: 0.068rem solid;
  border-color: transparent;
  color: white; }

.bar-ws-active-box {
  transition: 300ms cubic-bezier(0.05, 0.7, 0.1, 1); }

.bar-ws-active {
  min-height: 1.5rem;
  min-width: 1.5rem;
  font-size: 1.091rem;
  font-family: 'AR One Sans', 'Inter', 'Roboto', 'Noto Sans', sans-serif;
  background-color: #8ef1ff;
  color: #001f24;
  border-radius: 999px;
  margin: 0.068rem; }

.bar-ws-active-middledecor {
  min-width: 0.682rem;
  min-height: 0.682rem;
  border-radius: 9999px;
  background-color: black;
  margin: 0rem 0.409rem; }

.bar-ws-occupied {
  background-color: #051f23;
  color: #cde7ec;
  min-width: 1.772rem;
  border-top: 0.068rem solid #cde7ec;
  border-bottom: 0.068rem solid #cde7ec; }

.bar-ws-occupied-left {
  background-color: #051f23;
  color: #cde7ec;
  min-width: 1.704rem;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  border-left: 0.068rem solid #cde7ec;
  border-top: 0.068rem solid #cde7ec;
  border-bottom: 0.068rem solid #cde7ec;
  border-right: 0px solid transparent; }

.bar-ws-occupied-right {
  background-color: #051f23;
  color: #cde7ec;
  min-width: 1.704rem;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  border-right: 0.068rem solid #cde7ec;
  border-top: 0.068rem solid #cde7ec;
  border-bottom: 0.068rem solid #cde7ec;
  border-left: 0px solid transparent; }

.bar-ws-occupied-left-right {
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  background-color: #051f23;
  color: #cde7ec;
  min-width: 1.636rem;
  border: 0.068rem solid #cde7ec; }

.bar-ws-empty {
  color: #191c1d;
  border-color: transparent; }

.bar-batt {
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  padding: 0rem 0.341rem;
  background-color: rgba(205, 231, 236, 0.7);
  color: rgba(5, 31, 35, 0.7); }

.bar-sidemodule {
  min-width: 26rem; }

.bar-batt-low {
  background-color: #ba1b1b;
  color: #ffdad4; }

.bar-batt-full {
  background-color: #d1e8d5;
  color: #0c1f13; }

.bar-batt-prog-low {
  background-color: #ba1b1b;
  color: #ffdad4; }

.bar-batt-prog-full {
  background-color: #d1e8d5;
  color: #0c1f13; }

.bar-music-playstate {
  min-height: 1.770rem;
  min-width: 1.770rem;
  border-radius: 10rem;
  margin-left: 0.273rem;
  background-color: #cde7ec;
  color: #051f23; }

.bar-music-circprog {
  transition: 1000ms cubic-bezier(0.1, 1, 0, 1);
  margin-left: 0.273rem;
  min-width: 0.068rem;
  min-height: 1.770rem;
  padding: 0rem;
  background-color: #cde7ec;
  color: #051f23; }

.bar-music-playstate-playing {
  min-height: 1.770rem;
  min-width: 1.770rem;
  border-radius: 10rem;
  margin-left: 0.273rem;
  background-color: #cde7ec;
  color: #051f23; }

.bar-music-playstate-txt {
  transition: 100ms cubic-bezier(0.05, 0.7, 0.1, 1);
  font-family: 'Material Symbols Rounded', 'Material Symbols Outlined', 'Material Symbols Sharp';
  font-size: 1.568rem;
  margin: -0.1rem 0rem;
  margin-left: 0.2rem;
  margin-right: 0.17rem; }

.bar-music-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-width: 11.932rem; }

.bar-music-extended-bg {
  border-radius: 1.364rem;
  min-width: 34.091rem; }

.bar-music-extended-ctl-bg {
  border-radius: 1.364rem;
  background-color: rgba(30, 30, 30, 0.6); }

.bar-music-bottom-bg {
  border-radius: 1.364rem;
  min-width: 34.091rem; }

.bar-music-bottom-ctl-bg {
  border-radius: 1.364rem;
  background-color: rgba(30, 30, 30, 0.6); }

.bar-music-extended-textbox {
  margin: 1.023rem; }

.bar-music-bottom-cover {
  border-radius: 10rem; }

.bar-music-hide-false {
  transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1);
  transition-duration: 100ms;
  opacity: 1; }

.bar-music-hide-true {
  transition: 150ms cubic-bezier(0.3, 0, 0.8, 0.15);
  transition-duration: 100ms;
  opacity: 0; }

.bar-music-btn {
  font-size: 1.364rem;
  border-radius: 10rem;
  min-height: 2.591rem;
  min-width: 2.591rem; }

.bar-music-btn:hover {
  background-color: rgba(128, 128, 128, 0.3); }

.bar-prog-batt {
  min-height: 0.955rem;
  min-width: 0.068rem;
  padding: 0rem;
  border-radius: 10rem; }
  .bar-prog-batt trough {
    min-height: 0.954rem;
    min-width: 0.068rem;
    border-radius: 10rem; }
  .bar-prog-batt progress {
    min-height: 0.680rem;
    min-width: 0.680rem;
    margin: 0rem 0.137rem;
    border-radius: 10rem;
    background-color: rgba(5, 31, 35, 0.7); }

.bar-prog-batt-low progress {
  background-color: #ffdad4; }

.bar-prog-batt-full progress {
  background-color: #0c1f13; }

.bar-batt-chargestate {
  border-radius: 10rem;
  background-color: transparent; }

.bar-batt-chargestate-charging {
  border-radius: 10rem;
  min-width: 0.681rem;
  min-height: 0.681rem;
  background-color: rgba(5, 31, 35, 0.7); }

.bar-batt-chargestate-low {
  background-color: #ffdad4; }

.bar-batt-chargestate-full {
  background-color: #0c1f13; }

.bar-batt-percentage {
  font-size: 1rem;
  margin-top: -0.068rem;
  font-weight: 500; }

.corner {
  background-color: rgba(251, 253, 253, 0.7);
  border-radius: 1.705rem;
  -gtk-outline-radius: 1.705rem; }

.corner-black {
  background-color: black;
  border-radius: 1.705rem;
  -gtk-outline-radius: 1.705rem; }

.bar-topdesc {
  margin-top: -0.136rem;
  margin-bottom: -0.341rem;
  color: #5d6060; }

.bar-space-button {
  padding: 0.341rem; }

.bar-space-button > box:first-child {
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  padding: 0rem 0.682rem; }

.bar-space-button:hover > box:first-child {
  background-color: rgba(128, 128, 128, 0.3); }

.bar-space-button:active > box:first-child {
  background-color: rgba(128, 128, 128, 0.7); }

.bar-space-button-leftmost box {
  margin: 0rem 0.682rem; }

.bar-space-area-rightmost > box {
  padding-right: 2.386rem; }

.bar-systray {
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  min-height: 1.909rem;
  min-width: 1.909rem; }

.bar-systray-item {
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  min-width: 1.909rem; }

.cheatsheet-bg {
  border-radius: 1.705rem;
  -gtk-outline-radius: 1.705rem;
  border-top: 1px solid rgba(138, 141, 141, 0.28);
  border-left: 1px solid rgba(138, 141, 141, 0.28);
  border-right: 1px solid rgba(178, 181, 181, 0.24);
  border-bottom: 1px solid rgba(178, 181, 181, 0.24);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.45);
  margin: 7px;
  margin-bottom: 0.682rem;
  background-color: rgba(251, 253, 253, 0.7);
  padding: 1.364rem; }

.cheatsheet-key {
  font-family: 'JetBrains Mono Nerd Font', 'JetBrains Mono NL', 'SpaceMono Nerd Font', monospace;
  min-height: 1.364rem;
  min-width: 1.364rem;
  margin: 0.17rem;
  padding: 0.136rem 0.205rem;
  border-radius: 0.409rem;
  -gtk-outline-radius: 0.409rem;
  color: #006874;
  border: 0.068rem solid #006874;
  box-shadow: 0rem 0.136rem 0rem #006874;
  font-weight: 500; }

.cheatsheet-key-notkey {
  min-height: 1.364rem;
  padding: 0.136rem 0.205rem;
  margin: 0.17rem;
  color: #001f24; }

.cheatsheet-closebtn {
  transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1);
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  min-width: 2.386rem;
  min-height: 2.386rem; }

.cheatsheet-closebtn:hover {
  background-color: #dbe4e6; }

.cheatsheet-closebtn:active {
  background-color: #acb5b7; }

.cheatsheet-category-title {
  font-family: 'Gabarito', 'Lexend', sans-serif;
  font-size: 1.705rem; }

.sidebar-right {
  transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1);
  border-radius: 1.705rem;
  -gtk-outline-radius: 1.705rem;
  border-top: 1px solid rgba(138, 141, 141, 0.28);
  border-left: 1px solid rgba(138, 141, 141, 0.28);
  border-right: 1px solid rgba(178, 181, 181, 0.24);
  border-bottom: 1px solid rgba(178, 181, 181, 0.24);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.45);
  margin: 7px;
  background-color: rgba(251, 253, 253, 0.7);
  padding: 1.023rem; }

.sideright-show {
  transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1); }

.sideright-hide {
  margin-right: -30.682rem;
  transition: 150ms cubic-bezier(0.3, 0, 0.8, 0.15); }

.sidebar-left {
  transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1);
  border-radius: 1.705rem;
  -gtk-outline-radius: 1.705rem;
  border-top: 1px solid rgba(138, 141, 141, 0.28);
  border-left: 1px solid rgba(138, 141, 141, 0.28);
  border-right: 1px solid rgba(178, 181, 181, 0.24);
  border-bottom: 1px solid rgba(178, 181, 181, 0.24);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.45);
  margin: 7px;
  background-color: rgba(251, 253, 253, 0.7);
  padding: 1.023rem; }

.sideleft-show {
  transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1); }

.sideleft-hide {
  margin-left: -30.682rem;
  transition: 150ms cubic-bezier(0.3, 0, 0.8, 0.15); }

.sidebar-group {
  border-radius: 1.159rem;
  -gtk-outline-radius: 1.159rem;
  padding: 0.341rem;
  background-color: rgba(251, 253, 253, 0.3); }

.sidebar-group-nopad {
  border-radius: 1.159rem;
  -gtk-outline-radius: 1.159rem;
  background-color: rgba(251, 253, 253, 0.3); }

.sidebar-group-invisible {
  padding: 0.341rem; }

.sidebar-group-invisible-morehorizpad {
  padding: 0.341rem 0.682rem; }

.sidebar-iconbutton {
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1);
  color: #191c1d;
  min-width: 2.727rem;
  min-height: 2.727rem; }

.sidebar-iconbutton:hover {
  background-color: rgba(165, 191, 196, 0.7); }

.sidebar-iconbutton:active {
  background-color: rgba(125, 151, 156, 0.7); }

.sidebar-button {
  transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1);
  padding: 0rem 0.818rem;
  background-color: rgba(205, 231, 236, 0.7);
  color: #051f23; }

.sidebar-button-nopad {
  transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1);
  background-color: rgba(205, 231, 236, 0.7);
  color: #051f23; }

.sidebar-button:hover {
  background-color: rgba(165, 191, 196, 0.7); }

.sidebar-button:active {
  background-color: rgba(125, 151, 156, 0.7); }

.sidebar-button-nopad:hover {
  background-color: rgba(165, 191, 196, 0.7); }

.sidebar-button-nopad:active {
  background-color: rgba(125, 151, 156, 0.7); }

.sidebar-button-left {
  border-top-left-radius: 0.818rem;
  border-bottom-left-radius: 0.818rem; }

.sidebar-button-right {
  border-top-right-radius: 0.818rem;
  border-bottom-right-radius: 0.955rem; }

.sidebar-button-alone {
  border-radius: 0.818rem;
  -gtk-outline-radius: 0.818rem; }

.sidebar-button-alone-normal {
  border-radius: 0.818rem;
  -gtk-outline-radius: 0.818rem; }

.sidebar-button-active {
  background-color: #006874;
  color: #ffffff; }

.sidebar-button-active:hover {
  background-color: rgba(2, 104, 116, 0.93); }

.sidebar-button-active:active {
  background-color: rgba(9, 106, 117, 0.79); }

.sidebar-buttons-separator {
  min-width: 0.068rem;
  min-height: 0.068rem;
  background-color: #3f484a; }

.sidebar-navrail {
  padding: 0rem 1.159rem; }

.sidebar-navrail-btn > box > label {
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1); }

.sidebar-navrail-btn:hover > box > label:first-child {
  background-color: rgba(159, 168, 170, 0.37); }

.sidebar-navrail-btn:active > box > label:first-child {
  background-color: #b4bdbf; }

.sidebar-navrail-btn-active > box > label:first-child {
  background-color: #cde7ec;
  color: #051f23; }

.sidebar-navrail-btn-active:hover > box > label:first-child {
  background-color: rgba(204, 229, 234, 0.93);
  color: rgba(7, 33, 37, 0.93); }

.sidebar-sysinfo-grouppad {
  padding: 1.159rem; }

.sidebar-memory-ram-circprog {
  transition: 1000ms cubic-bezier(0.1, 1, 0, 1);
  min-width: 0.818rem;
  min-height: 4.091rem;
  padding: 0.409rem;
  background-color: #cde7ec;
  color: #051f23;
  font-size: 0px; }

.sidebar-memory-swap-circprog {
  transition: 1000ms cubic-bezier(0.1, 1, 0, 1);
  min-width: 0.818rem;
  min-height: 2.255rem;
  padding: 0.409rem;
  margin: 0.918rem;
  background-color: #cde7ec;
  color: #051f23;
  font-size: 0px; }

.sidebar-cpu-circprog {
  min-width: 0.818rem;
  min-height: 3.409rem;
  padding: 0.409rem;
  background-color: #cde7ec;
  color: #051f23;
  transition: 1000ms cubic-bezier(0.1, 1, 0, 1);
  font-size: 0px; }

.sidebar-viewport {
  border-radius: 0.818rem;
  -gtk-outline-radius: 0.818rem; }

.sidebar-scrollbar trough {
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  min-width: 0.545rem;
  background-color: transparent; }

.sidebar-scrollbar slider {
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  min-width: 0.273rem;
  min-height: 2.045rem;
  background-color: rgba(63, 72, 74, 0.3); }

.sidebar-scrollbar slider:hover {
  background-color: rgba(63, 72, 74, 0.44); }

.sidebar-scrollbar slider:active {
  background-color: #8d9698; }

.sidebar-calendar-btn {
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1);
  min-height: 2.523rem;
  min-width: 2.523rem;
  color: #191c1d; }

.sidebar-calendar-btn:hover {
  background-color: rgba(128, 128, 128, 0.3); }

.sidebar-calendar-btn:active {
  background-color: rgba(128, 128, 128, 0.7); }

.sidebar-calendar-btn-txt {
  margin-left: -10.341rem;
  margin-right: -10.341rem; }

.sidebar-calendar-btn-today {
  background-color: #006874;
  color: #ffffff; }

.sidebar-calendar-btn-today:hover {
  background-color: rgba(2, 104, 116, 0.93); }

.sidebar-calendar-btn-today:active {
  background-color: rgba(9, 106, 117, 0.79); }

.sidebar-calendar-btn-othermonth {
  color: #8a8d8d; }

.sidebar-calendar-header {
  margin: 0.341rem; }

.sidebar-calendar-monthyear-btn {
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  padding: 0rem 0.682rem;
  background-color: rgba(219, 228, 230, 0.3);
  color: #3f484a; }

.sidebar-calendar-monthyear-btn:hover {
  background-color: rgba(183, 192, 194, 0.335);
  color: #475052; }

.sidebar-calendar-monthyear-btn:active {
  background-color: #c4cdcf;
  color: #565f61; }

.sidebar-calendar-monthshift-btn {
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  min-width: 2.045rem;
  min-height: 2.045rem;
  background-color: rgba(219, 228, 230, 0.3);
  color: #3f484a; }

.sidebar-calendar-monthshift-btn:hover {
  background-color: rgba(183, 192, 194, 0.335);
  color: #475052; }

.sidebar-calendar-monthshift-btn:active {
  background-color: #c4cdcf;
  color: #565f61; }

.sidebar-todo-selector-tab {
  border-radius: 0.818rem;
  -gtk-outline-radius: 0.818rem;
  transition: 0ms;
  min-height: 2.5rem;
  color: #191c1d; }

.sidebar-todo-selector-tab:hover {
  background-color: rgba(159, 168, 170, 0.37); }

.sidebar-todo-selector-tab:active {
  background-color: #b4bdbf; }

.sidebar-todo-selector-tab-active > box > label {
  color: #006874; }

.sidebar-todo-selector-highlight-offset {
  margin-top: -0.205rem;
  margin-bottom: 0.205rem; }

.sidebar-todo-selector-highlight {
  transition: 180ms ease-in-out;
  color: #006874;
  padding: 0rem 2.045rem;
  min-height: 0.205rem; }

.sidebar-todo-item-action {
  border-radius: 9999px;
  min-width: 1.705rem;
  min-height: 1.705rem; }

.sidebar-todo-item-action:hover {
  background-color: rgba(240, 242, 242, 0.3); }

.sidebar-todo-item-action:active {
  background-color: rgba(217, 219, 219, 0.3); }

.sidebar-clipboard-item {
  border-radius: 0.818rem;
  min-height: 2.045rem;
  padding: 0.341rem;
  background-color: rgba(205, 231, 236, 0.7);
  color: #051f23; }

.sidebar-clipboard-item:hover {
  background-color: rgba(185, 211, 216, 0.7); }

.sidebar-clipboard-item:active {
  background-color: rgba(165, 191, 196, 0.7); }

.osd-bg {
  min-width: 8.864rem;
  min-height: 3.409rem; }

.osd-value {
  background-color: rgba(251, 253, 253, 0.7);
  border-radius: 1.023rem;
  padding: 0.625rem 1.023rem;
  padding-top: 0.313rem;
  margin: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.45);
  margin: 7px; }

.osd-progress {
  min-height: 0.955rem;
  min-width: 0.068rem;
  padding: 0rem;
  border-radius: 10rem;
  transition: 200ms cubic-bezier(0.1, 1, 0, 1); }
  .osd-progress trough {
    min-height: 0.954rem;
    min-width: 0.068rem;
    border-radius: 10rem;
    background-color: #001f24; }
  .osd-progress progress {
    transition: 200ms cubic-bezier(0.1, 1, 0, 1);
    min-height: 0.680rem;
    min-width: 0.680rem;
    margin: 0rem 0.137rem;
    border-radius: 10rem;
    background-color: #8ef1ff; }

.osd-icon {
  color: #001f24; }

.osd-label {
  font-size: 1.023rem;
  font-weight: 500;
  color: #191c1d;
  margin-top: 0.341rem; }

.osd-value-txt {
  font-family: 'Gabarito', 'Lexend', sans-serif;
  font-size: 1.688rem;
  font-weight: 500;
  color: #191c1d; }

.osd-notifs {
  padding-top: 0.313rem; }

.overview-search-box {
  transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1);
  border-radius: 1.705rem;
  -gtk-outline-radius: 1.705rem;
  border-top: 1px solid rgba(138, 141, 141, 0.28);
  border-left: 1px solid rgba(138, 141, 141, 0.28);
  border-right: 1px solid rgba(178, 181, 181, 0.24);
  border-bottom: 1px solid rgba(178, 181, 181, 0.24);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.45);
  margin: 7px;
  min-width: 13.636rem;
  min-height: 3.409rem;
  padding: 0rem 1.364rem;
  padding-right: 2.864rem;
  background-color: rgba(251, 253, 253, 0.7);
  color: #191c1d;
  caret-color: transparent; }
  .overview-search-box selection {
    background-color: #4a6266;
    color: #ffffff; }

.overview-search-box-extended {
  min-width: 25.909rem;
  caret-color: #051f23; }

.overview-search-prompt {
  color: #5d6060; }

.overview-search-icon {
  margin: 0rem 1.023rem; }

.overview-search-prompt-box {
  margin-left: -18.545rem;
  margin-right: 8px; }

.overview-search-icon-box {
  margin-left: -18.545rem;
  margin-right: 8px; }

.overview-search-results {
  border-radius: 1.705rem;
  -gtk-outline-radius: 1.705rem;
  border-top: 1px solid rgba(138, 141, 141, 0.28);
  border-left: 1px solid rgba(138, 141, 141, 0.28);
  border-right: 1px solid rgba(178, 181, 181, 0.24);
  border-bottom: 1px solid rgba(178, 181, 181, 0.24);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.45);
  margin: 7px;
  min-width: 28.773rem;
  padding: 0.682rem;
  background-color: rgba(251, 253, 253, 0.7);
  color: #191c1d; }

.overview-search-results-icon {
  margin: 0rem 0.682rem;
  font-size: 2.386rem; }

.overview-search-results-txt {
  margin-right: 0.682rem; }

.overview-search-results-txt-cmd {
  margin-right: 0.682rem;
  font-family: 'JetBrains Mono Nerd Font', 'JetBrains Mono NL', 'SpaceMono Nerd Font', monospace;
  font-size: 1.227rem; }

.overview-search-result-btn {
  border-radius: 1.159rem;
  -gtk-outline-radius: 1.159rem;
  padding: 0.341rem;
  min-width: 2.386rem;
  min-height: 2.386rem;
  caret-color: transparent; }

.overview-search-result-btn:focus,
.overview-search-result-btn:hover {
  background-color: rgba(128, 128, 128, 0.3); }

.overview-search-result-btn:active {
  background-color: rgba(128, 128, 128, 0.7); }

.overview-tasks {
  border-radius: 1.705rem;
  -gtk-outline-radius: 1.705rem;
  border-top: 1px solid rgba(138, 141, 141, 0.28);
  border-left: 1px solid rgba(138, 141, 141, 0.28);
  border-right: 1px solid rgba(178, 181, 181, 0.24);
  border-bottom: 1px solid rgba(178, 181, 181, 0.24);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.45);
  margin: 7px;
  padding: 0.341rem;
  background-color: rgba(251, 253, 253, 0.7);
  color: #191c1d; }

.overview-tasks-workspace {
  border-radius: 1.159rem;
  -gtk-outline-radius: 1.159rem;
  margin: 0.341rem;
  background-color: rgba(232, 234, 234, 0.207); }

.overview-tasks-window {
  border-radius: 1.159rem;
  -gtk-outline-radius: 1.159rem;
  transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1);
  background-color: rgba(205, 231, 236, 0.4);
  color: #051f23;
  border: 0.068rem solid rgba(5, 31, 35, 0.07); }

.overview-tasks-window:hover {
  background-color: rgba(169, 209, 215, 0.43); }

.overview-tasks-window:focus {
  background-color: rgba(169, 209, 215, 0.43); }

.overview-tasks-window:active {
  background-color: rgba(142, 192, 199, 0.46); }

.overview-tasks-window-selected {
  background-color: rgba(142, 192, 199, 0.46); }

.overview-tasks-window-dragging {
  opacity: 0.2; }

.osk-window {
  transition: 170ms cubic-bezier(0.05, 0.7, 0.1, 1);
  border-radius: 1.705rem;
  -gtk-outline-radius: 1.705rem;
  border-top: 1px solid rgba(138, 141, 141, 0.28);
  border-left: 1px solid rgba(138, 141, 141, 0.28);
  border-right: 1px solid rgba(178, 181, 181, 0.24);
  border-bottom: 1px solid rgba(178, 181, 181, 0.24);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.45);
  margin: 7px;
  background-color: rgba(251, 253, 253, 0.7);
  padding: 1.023rem; }

.osk-show {
  transition: 170ms cubic-bezier(0.05, 0.7, 0.1, 1); }

.osk-hide {
  margin-top: 30.682rem;
  margin-bottom: -30.682rem;
  transition: 100ms cubic-bezier(0.3, 0, 0.8, 0.15); }

.osk-key {
  border-radius: 0.682rem;
  background-color: rgba(219, 228, 230, 0.3);
  color: #3f484a;
  padding: 0.188rem;
  font-weight: 500;
  font-size: 1.091rem; }

.osk-key:hover {
  background-color: rgba(203, 212, 214, 0.3); }

.osk-key:active {
  background-color: rgba(172, 181, 183, 0.3);
  font-size: 1.091rem; }

.osk-key-active {
  background-color: rgba(172, 181, 183, 0.3); }

.osk-key-normal {
  min-width: 2.5rem;
  min-height: 2.5rem; }

.osk-key-fn {
  min-width: 2.5125rem;
  min-height: 1.25rem; }

.osk-key-tab {
  min-width: 4rem;
  min-height: 2.5rem; }

.osk-key-caps {
  min-width: 4.75rem;
  min-height: 2.5rem; }

.osk-key-shift {
  min-width: 6.25rem;
  min-height: 2.5rem; }

.osk-key-control {
  min-width: 3.25rem;
  min-height: 2.5rem; }

.osk-control-button {
  border-radius: 0.682rem;
  background-color: rgba(219, 228, 230, 0.3);
  color: #3f484a;
  font-weight: 500;
  font-size: 1.091rem;
  padding: 0.682rem; }

.osk-control-button:hover {
  background-color: rgba(203, 212, 214, 0.3); }

.osk-control-button:active {
  background-color: rgba(172, 181, 183, 0.3);
  font-size: 1.091rem; }

.session-bg {
  margin-top: -2.727rem;
  background-color: rgba(251, 253, 253, 0.44); }

.session-button {
  border-radius: 1.705rem;
  -gtk-outline-radius: 1.705rem;
  min-width: 8.182rem;
  min-height: 8.182rem;
  background-color: #dbe4e6;
  color: #3f484a;
  font-size: 3rem; }

.session-button-focused {
  background-color: #cde7ec;
  color: #051f23; }

.session-button-desc {
  background-color: #ebf1f2;
  color: #2c3234;
  border-bottom-left-radius: 1.705rem;
  border-bottom-right-radius: 1.705rem;
  padding: 0.205rem 0.341rem;
  font-weight: 700; }

.session-button-cancel {
  border-radius: 1.705rem;
  -gtk-outline-radius: 1.705rem;
  min-width: 8.182rem;
  min-height: 5.455rem;
  background-color: #dbe4e6;
  color: #3f484a;
  font-size: 3rem; }

.notif-low {
  border-radius: 0.818rem;
  -gtk-outline-radius: 0.818rem;
  background-color: rgba(219, 228, 230, 0.65);
  color: #3f484a;
  padding: 0.818rem;
  padding-right: 1.363rem; }

.notif-normal {
  border-radius: 0.818rem;
  -gtk-outline-radius: 0.818rem;
  background-color: rgba(219, 228, 230, 0.65);
  color: #3f484a;
  padding: 0.818rem;
  padding-right: 1.363rem; }

.notif-critical {
  border-radius: 0.818rem;
  -gtk-outline-radius: 0.818rem;
  background-color: #ba1b1b;
  color: #ffffff;
  padding: 0.818rem;
  padding-right: 1.363rem; }

.popup-notif-low {
  border-radius: 0.818rem;
  -gtk-outline-radius: 0.818rem;
  min-width: 30.682rem;
  background-color: rgba(251, 253, 253, 0.7);
  color: #3f484a;
  padding: 0.818rem;
  padding-right: 1.363rem; }

.popup-notif-normal {
  border-radius: 0.818rem;
  -gtk-outline-radius: 0.818rem;
  min-width: 30.682rem;
  background-color: rgba(251, 253, 253, 0.7);
  color: #3f484a;
  padding: 0.818rem;
  padding-right: 1.363rem; }

.popup-notif-critical {
  border-radius: 0.818rem;
  -gtk-outline-radius: 0.818rem;
  min-width: 30.682rem;
  background-color: #ba1b1b;
  color: #ffffff;
  padding: 0.818rem;
  padding-right: 1.363rem; }

.notif-body-low {
  color: #727b7d; }

.notif-body-normal {
  color: #727b7d; }

.notif-body-critical {
  color: #e8b4b4; }

.notif-icon {
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  min-width: 3.409rem;
  min-height: 3.409rem; }

.notif-icon-material {
  background-color: rgba(205, 231, 236, 0.7);
  color: #051f23; }

.notif-icon-material-low {
  background-color: rgba(205, 231, 236, 0.7);
  color: #051f23; }

.notif-icon-material-normal {
  background-color: rgba(205, 231, 236, 0.7);
  color: #051f23; }

.notif-icon-material-critical {
  background-color: rgba(255, 218, 212, 0.7);
  color: #410001; }

.notif-close-btn {
  border-radius: 0.818rem;
  -gtk-outline-radius: 0.818rem;
  padding: 0rem 0.136rem; }

.notif-close-btn:hover {
  background: rgba(128, 128, 128, 0.3); }

.notif-close-btn:active {
  background: rgba(128, 128, 128, 0.7); }

.notif-closeall-btn {
  border-radius: 0.818rem;
  -gtk-outline-radius: 0.818rem;
  padding: 0.341rem 0.341rem; }

.notif-closeall-btn:hover {
  background-color: rgba(128, 128, 128, 0.3); }

.notif-closeall-btn:active {
  background-color: rgba(128, 128, 128, 0.7); }

.osd-notif {
  border-radius: 0.818rem;
  -gtk-outline-radius: 0.818rem;
  background-color: rgba(251, 253, 253, 0.6);
  min-width: 30.682rem; }

.growingRadial {
  transition: 300ms cubic-bezier(0.2, 0, 0, 1); }

.fadingRadial {
  transition: 50ms cubic-bezier(0.2, 0, 0, 1); }
