// Special
$background: {{backgroundColor}};
$foreground: {{foregroundColor}};
$cursor: {{foregroundColor}};

// Colors
$color0: {{dominantColor}};
$color1: {{dominantColor}};
$color2: {{dominantColor}};
$color3: {{dominantColor}};
$color4: {{dominantColor}};
$color5: {{dominantColor}};
$color6: {{dominantColor}};
$color7: {{dominantColor}};
$color8: {{dominantColor}};
$color9: {{dominantColor}};
$color10: {{dominantColor}};
$color11: {{dominantColor}};
$color12: {{dominantColor}};
$color13: {{dominantColor}};
$color14: {{dominantColor}};
$color15: {{dominantColor}};