.config/ags/style.css
.config/ags/scripts/templates/gradience/preset.json
.config/ags/scss/_musicmaterial.scss
.config/ags/scss/_material.scss
#.config/hypr/colors.conf
/cache
.config/ags/scripts/templates/gradience/preset.json
