.config/ags/style.css
.config/hypr/colors.conf
.config/ags/scripts/templates/gradience/preset.json
.config/ags/scss/_musicmaterial.scss
.config/ags/style.css
.config/hypr/colors.conf
.config/ags/scss/_material.scss
