[submodule "dots/.config/quickshell/ii/modules/common/widgets/shapes"]
	path = dots/.config/quickshell/ii/modules/common/widgets/shapes
	url = https://github.com/end-4/rounded-polygon-qmljs.git
[submodule "dots/.config/quickshell/ii/assets/tela-custom"]
	path = dots/.config/quickshell/ii/assets/tela-custom
	url = https://github.com/mohammedaouamri5/tela-custom.git
