/diagnose.result
/cache

# Ignore Python cache files
__pycache__/
*.py[cod]

/dots/.config/quickshell/ii/.qmlls.ini

# exp-update
/.update-lock

# custom os-release
/os-release

# Emacs auto backup file
*~

# Documentation site
docs/node_modules/
docs/dist/
docs/.astro/
docs/src/content/docs/custom/
!docs/src/content/docs/custom/.gitkeep
