$primary: #e9b2ff;
$onPrimary: #4a1765;
$primaryContainer: #62307c;
$onPrimaryContainer: #f7d9ff;
$secondary: #d3c0d7;
$onSecondary: #392c3e;
$secondaryContainer: #504255;
$onSecondaryContainer: #f0dcf4;
$tertiary: #f4b7b6;
$onTertiary: #4c2526;
$tertiaryContainer: #663b3b;
$onTertiaryContainer: #ffdad9;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1d1b1e;
$onBackground: #e7e0e4;
$surface: #1d1b1e;
$onSurface: #e7e0e4;
$surfaceVariant: #4b444d;
$onSurfaceVariant: #cec3ce;
$outline: #978e97;
$shadow: #000000;
$inverseSurface: #e7e0e4;
$inverseOnSurface: #322f32;
$inversePrimary: #7c4996;
