$primary: #b9c3ff;
$onPrimary: #182779;
$primaryContainer: #313f90;
$onPrimaryContainer: #dde0ff;
$secondary: #c4c5dd;
$onSecondary: #2d2f42;
$secondaryContainer: #434559;
$onSecondaryContainer: #e0e1fa;
$tertiary: #e5bad7;
$onTertiary: #44263d;
$tertiaryContainer: #5d3c55;
$onTertiaryContainer: #ffd7f3;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1b1b1f;
$onBackground: #e4e1e6;
$surface: #1b1b1f;
$onSurface: #e4e1e6;
$surfaceVariant: #46464f;
$onSurfaceVariant: #c6c5cf;
$outline: #90909a;
$shadow: #000000;
$inverseSurface: #e4e1e6;
$inverseOnSurface: #303034;
$inversePrimary: #4a58a9;
