$primary: #ffaed7;
$onPrimary: #5b113f;
$primaryContainer: #772957;
$onPrimaryContainer: #ffd8ea;
$secondary: #dfbdcb;
$onSecondary: #412a35;
$secondaryContainer: #58404b;
$onSecondaryContainer: #fdd9e8;
$tertiary: #f3bb9b;
$onTertiary: #4a2811;
$tertiaryContainer: #643d25;
$onTertiaryContainer: #ffdbc6;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1f1a1c;
$onBackground: #eae0e2;
$surface: #1f1a1c;
$onSurface: #eae0e2;
$surfaceVariant: #504349;
$onSurfaceVariant: #d4c2c8;
$outline: #9d8d93;
$shadow: #000000;
$inverseSurface: #eae0e2;
$inverseOnSurface: #352f31;
$inversePrimary: #954170;
