$primary: #5dd4fc;
$onPrimary: #003544;
$primaryContainer: #004d62;
$onPrimaryContainer: #b5eaff;
$secondary: #b3cad5;
$onSecondary: #1e333b;
$secondaryContainer: #354a53;
$onSecondaryContainer: #cfe6f1;
$tertiary: #c3c3eb;
$onTertiary: #2c2d4d;
$tertiaryContainer: #434465;
$onTertiaryContainer: #e0e0ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #191c1d;
$onBackground: #e1e3e5;
$surface: #191c1d;
$onSurface: #e1e3e5;
$surfaceVariant: #40484c;
$onSurfaceVariant: #c0c8cc;
$outline: #8a9296;
$shadow: #000000;
$inverseSurface: #e1e3e5;
$inverseOnSurface: #2e3133;
$inversePrimary: #006781;
