$primary: #4bd9de;
$onPrimary: #003739;
$primaryContainer: #004f52;
$onPrimaryContainer: #6ef6fb;
$secondary: #b1cccd;
$onSecondary: #1b3435;
$secondaryContainer: #324b4c;
$onSecondaryContainer: #cce8e8;
$tertiary: #b4c7e9;
$onTertiary: #1e314c;
$tertiaryContainer: #354763;
$onTertiaryContainer: #d3e3ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #191c1c;
$onBackground: #e0e3e3;
$surface: #191c1c;
$onSurface: #e0e3e3;
$surfaceVariant: #3f4848;
$onSurfaceVariant: #bec9c9;
$outline: #899393;
$shadow: #000000;
$inverseSurface: #e0e3e3;
$inverseOnSurface: #2d3131;
$inversePrimary: #00696d;
