$primary: #58d6f7;
$onPrimary: #003642;
$primaryContainer: #004e5f;
$onPrimaryContainer: #acecff;
$secondary: #b2cad3;
$onSecondary: #1d343b;
$secondaryContainer: #344a51;
$onSecondaryContainer: #cee7f0;
$tertiary: #c0c4eb;
$onTertiary: #2a2e4d;
$tertiaryContainer: #404565;
$onTertiaryContainer: #dde0ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #191c1d;
$onBackground: #e1e3e4;
$surface: #191c1d;
$onSurface: #e1e3e4;
$surfaceVariant: #40484b;
$onSurfaceVariant: #bfc8cc;
$outline: #899295;
$shadow: #000000;
$inverseSurface: #e1e3e4;
$inverseOnSurface: #2e3132;
$inversePrimary: #00677c;
