$primary: #feba4b;
$onPrimary: #442b00;
$primaryContainer: #624000;
$onPrimaryContainer: #ffddac;
$secondary: #dcc2a0;
$onSecondary: #3d2e16;
$secondaryContainer: #56442a;
$onSecondaryContainer: #fadfbc;
$tertiary: #b7cea3;
$onTertiary: #233516;
$tertiaryContainer: #394c2b;
$onTertiaryContainer: #d2eabd;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1f1b16;
$onBackground: #eae1d9;
$surface: #1f1b16;
$onSurface: #eae1d9;
$surfaceVariant: #4f4539;
$onSurfaceVariant: #d2c4b4;
$outline: #9b8f80;
$shadow: #000000;
$inverseSurface: #eae1d9;
$inverseOnSurface: #34302a;
$inversePrimary: #815600;
