$primary: #ffb1c8;
$onPrimary: #5e1030;
$primaryContainer: #7b2846;
$onPrimaryContainer: #ffd9e3;
$secondary: #e3bcc5;
$onSecondary: #422930;
$secondaryContainer: #5a3f46;
$onSecondaryContainer: #ffd9e1;
$tertiary: #eebd93;
$onTertiary: #47290a;
$tertiaryContainer: #613f1f;
$onTertiaryContainer: #ffdcbd;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #201a1b;
$onBackground: #ebe0e1;
$surface: #201a1b;
$onSurface: #ebe0e1;
$surfaceVariant: #514346;
$onSurfaceVariant: #d6c2c6;
$outline: #9e8d90;
$shadow: #000000;
$inverseSurface: #ebe0e1;
$inverseOnSurface: #352f30;
$inversePrimary: #99405e;
