$primary: #eeb0ff;
$onPrimary: #4c1662;
$primaryContainer: #65307a;
$onPrimaryContainer: #fad7ff;
$secondary: #d5c0d7;
$onSecondary: #392c3d;
$secondaryContainer: #514255;
$onSecondaryContainer: #f2dcf4;
$tertiary: #f5b7b4;
$onTertiary: #4d2524;
$tertiaryContainer: #663b39;
$onTertiaryContainer: #ffdad7;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1e1a1e;
$background: #1e1a1e;
$onBackground: #e8e0e5;
$surface: #1e1a1e;
$onSurface: #e8e0e5;
$surfaceVariant: #4c444d;
$onSurfaceVariant: #cec3cd;
$outline: #988e98;
$shadow: #000000;
$inverseSurface: #e8e0e5;
$inverseOnSurface: #332f33;
$inversePrimary: #7e4893;
