$primary: #1adbec;
$onPrimary: #00363c;
$primaryContainer: #004f57;
$onPrimaryContainer: #80f3ff;
$secondary: #b1cbcf;
$onSecondary: #1c3437;
$secondaryContainer: #334b4e;
$onSecondaryContainer: #cde8eb;
$tertiary: #b8c6ea;
$onTertiary: #22304d;
$tertiaryContainer: #394764;
$onTertiaryContainer: #d7e2ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #191c1d;
$onBackground: #e0e3e3;
$surface: #191c1d;
$onSurface: #e0e3e3;
$surfaceVariant: #3f494a;
$onSurfaceVariant: #bfc8ca;
$outline: #899394;
$shadow: #000000;
$inverseSurface: #e0e3e3;
$inverseOnSurface: #2e3131;
$inversePrimary: #006973;
