$primary: #ffb1c4;
$onPrimary: #5e112c;
$primaryContainer: #7c2842;
$onPrimaryContainer: #ffd9e1;
$secondary: #e4bdc4;
$onSecondary: #43292f;
$secondaryContainer: #5b3f45;
$onSecondaryContainer: #ffd9e0;
$tertiary: #edbe91;
$onTertiary: #462a09;
$tertiaryContainer: #60401d;
$onTertiaryContainer: #ffdcba;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #201a1b;
$onBackground: #ecdfe0;
$surface: #201a1b;
$onSurface: #ecdfe0;
$surfaceVariant: #524346;
$onSurfaceVariant: #d6c1c4;
$outline: #9f8c8f;
$shadow: #000000;
$inverseSurface: #ecdfe0;
$inverseOnSurface: #362f30;
$inversePrimary: #994059;
