$primary: #57dbc5;
$onPrimary: #00382f;
$primaryContainer: #005045;
$onPrimaryContainer: #77f8e1;
$secondary: #b1ccc5;
$onSecondary: #1c3530;
$secondaryContainer: #334b46;
$onSecondaryContainer: #cde9e1;
$tertiary: #abcae4;
$onTertiary: #133348;
$tertiaryContainer: #2c4a60;
$onTertiaryContainer: #c8e6ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #191c1b;
$onBackground: #e1e3e1;
$surface: #191c1b;
$onSurface: #e1e3e1;
$surfaceVariant: #3f4946;
$onSurfaceVariant: #bec9c5;
$outline: #88938f;
$shadow: #000000;
$inverseSurface: #e1e3e1;
$inverseOnSurface: #2e3130;
$inversePrimary: #006b5c;
