$primary: #ffb59b;
$onPrimary: #5d1800;
$primaryContainer: #7c2e11;
$onPrimaryContainer: #ffdbcf;
$secondary: #e7bdb0;
$onSecondary: #442a21;
$secondaryContainer: #5d4036;
$onSecondaryContainer: #ffdbcf;
$tertiary: #d7c68d;
$onTertiary: #3a3005;
$tertiaryContainer: #51461a;
$onTertiaryContainer: #f4e2a7;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #211a18;
$onBackground: #ede0dc;
$surface: #211a18;
$onSurface: #ede0dc;
$surfaceVariant: #53433f;
$onSurfaceVariant: #d8c2bb;
$outline: #a08c86;
$shadow: #000000;
$inverseSurface: #ede0dc;
$inverseOnSurface: #362f2d;
$inversePrimary: #9a4426;
