$primary: #cdcc57;
$onPrimary: #333200;
$primaryContainer: #4a4900;
$onPrimaryContainer: #e9e86f;
$secondary: #cac8a4;
$onSecondary: #323218;
$secondaryContainer: #49482d;
$onSecondaryContainer: #e7e4bf;
$tertiary: #a5d0bd;
$onTertiary: #0a3729;
$tertiaryContainer: #254e3f;
$onTertiaryContainer: #c0ecd8;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1c1c16;
$background: #1c1c16;
$onBackground: #e6e2da;
$surface: #1c1c16;
$onSurface: #e6e2da;
$surfaceVariant: #48473a;
$onSurfaceVariant: #cac7b6;
$outline: #939182;
$shadow: #000000;
$inverseSurface: #e6e2da;
$inverseOnSurface: #31302b;
$inversePrimary: #626200;
