$primary: #0adecf;
$onPrimary: #003732;
$primaryContainer: #005049;
$onPrimaryContainer: #4bfbeb;
$secondary: #b0ccc7;
$onSecondary: #1b3532;
$secondaryContainer: #324b48;
$onSecondaryContainer: #cce9e4;
$tertiary: #aec9e6;
$onTertiary: #17324a;
$tertiaryContainer: #2f4961;
$onTertiaryContainer: #cce5ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #191c1c;
$onBackground: #e0e3e1;
$surface: #191c1c;
$onSurface: #e0e3e1;
$surfaceVariant: #3f4947;
$onSurfaceVariant: #bec9c6;
$outline: #889391;
$shadow: #000000;
$inverseSurface: #e0e3e1;
$inverseOnSurface: #2d3130;
$inversePrimary: #006a62;
