$primary: #f0c048;
$onPrimary: #3f2e00;
$primaryContainer: #5b4300;
$onPrimaryContainer: #ffdf95;
$secondary: #d7c4a0;
$onSecondary: #3a2f16;
$secondaryContainer: #52452a;
$onSecondaryContainer: #f4e0ba;
$tertiary: #b0cfab;
$onTertiary: #1c361d;
$tertiaryContainer: #324d31;
$onTertiaryContainer: #cbebc5;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1e1b16;
$onBackground: #e8e1d8;
$surface: #1e1b16;
$onSurface: #e8e1d8;
$surfaceVariant: #4d4639;
$onSurfaceVariant: #d0c5b4;
$outline: #999080;
$shadow: #000000;
$inverseSurface: #e8e1d8;
$inverseOnSurface: #34302a;
$inversePrimary: #785900;
