$primary: #b5c4ff;
$onPrimary: #0b2878;
$primaryContainer: #2a4190;
$onPrimaryContainer: #dbe1ff;
$secondary: #c2c5dc;
$onSecondary: #2b2f42;
$secondaryContainer: #424659;
$onSecondaryContainer: #dee1fa;
$tertiary: #e4bada;
$onTertiary: #43273f;
$tertiaryContainer: #5b3d56;
$onTertiaryContainer: #ffd6f6;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1b1b1f;
$onBackground: #e4e1e6;
$surface: #1b1b1f;
$onSurface: #e4e1e6;
$surfaceVariant: #45464e;
$onSurfaceVariant: #c6c6d0;
$outline: #909099;
$shadow: #000000;
$inverseSurface: #e4e1e6;
$inverseOnSurface: #303034;
$inversePrimary: #4359a9;
