$primary: #89b4fa;
$onPrimary: #181825;
$primaryContainer: #74c7ec;
$onPrimaryContainer: #f5e0dc;
$secondary: #bac2de;
$onSecondary: #313244;
$secondaryContainer: #585b70;
$onSecondaryContainer: #f5e0dc;
$tertiary: #f5c2e7;
$onTertiary: #45475a;
$tertiaryContainer: #9399b2;
$onTertiaryContainer: #f5e0dc;
$error: #fab387;
$onError: #11111b;
$errorContainer: #f38ba8;
$onErrorContainer: #fab387;
$colorbarbg: #1e1e2e;
$onBackground: #cdd6f4;
$surface: #1e1e2e;
$onSurface: #cdd6f4;
$surfaceVariant: #585b70;
$onSurfaceVariant: #bac2de;
$outline: #9399b2;
$shadow: #11111b;
$inverseSurface: #cdd6f4;
$inverseOnSurface: #313244;
$inversePrimary: #74c7ec;
