$primary: #ffa8ff;
$onPrimary: #590062;
$primaryContainer: #7e008b;
$onPrimaryContainer: #ffd5fc;
$secondary: #d9bfd4;
$onSecondary: #3c2b3b;
$secondaryContainer: #544152;
$onSecondaryContainer: #f6dbf0;
$tertiary: #f6b8aa;
$onTertiary: #4c261d;
$tertiaryContainer: #663b31;
$onTertiaryContainer: #ffdad1;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1e1a1d;
$onBackground: #e9e0e4;
$surface: #1e1a1d;
$onSurface: #e9e0e4;
$surfaceVariant: #4e444c;
$onSurfaceVariant: #d0c3cc;
$outline: #9a8d96;
$shadow: #000000;
$inverseSurface: #e9e0e4;
$inverseOnSurface: #332f32;
$inversePrimary: #a500b3;
