$primary: #ffb2be;
$onPrimary: #670022;
$primaryContainer: #910033;
$onPrimaryContainer: #ffd9de;
$secondary: #e5bdc1;
$onSecondary: #44292d;
$secondaryContainer: #5c3f43;
$onSecondaryContainer: #ffd9dd;
$tertiary: #eabf8f;
$onTertiary: #452b07;
$tertiaryContainer: #5e411c;
$onTertiaryContainer: #ffddb6;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #211a1b;
$onBackground: #ece0e0;
$surface: #211a1b;
$onSurface: #ece0e0;
$surfaceVariant: #514344;
$onSurfaceVariant: #d7c1c3;
$outline: #9f8c8e;
$shadow: #000000;
$inverseSurface: #ece0e0;
$inverseOnSurface: #352f2f;
$inversePrimary: #bd0045;
