$primary: #ffade1;
$onPrimary: #591247;
$primaryContainer: #752a5f;
$onPrimaryContainer: #ffd7ee;
$secondary: #ddbece;
$onSecondary: #402a37;
$secondaryContainer: #58404e;
$onSecondaryContainer: #fbd9ea;
$tertiary: #f4ba9f;
$onTertiary: #4b2714;
$tertiaryContainer: #653d29;
$onTertiaryContainer: #ffdbca;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1f1a1c;
$onBackground: #eae0e3;
$surface: #1f1a1c;
$onSurface: #eae0e3;
$surfaceVariant: #4f4349;
$onSurfaceVariant: #d3c2c9;
$outline: #9c8d94;
$shadow: #000000;
$inverseSurface: #eae0e3;
$inverseOnSurface: #342f31;
$inversePrimary: #904277;
