$primary: #add370;
$onPrimary: #213600;
$primaryContainer: #324f00;
$onPrimaryContainer: #c9f089;
$secondary: #c1caac;
$onSecondary: #2b331e;
$secondaryContainer: #414a32;
$onSecondaryContainer: #dde7c6;
$tertiary: #a0d0ca;
$onTertiary: #003733;
$tertiaryContainer: #204e4a;
$onTertiaryContainer: #bcece6;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1b1c18;
$onBackground: #e4e3dc;
$surface: #1b1c18;
$onSurface: #e4e3dc;
$surfaceVariant: #45483d;
$onSurfaceVariant: #c5c8b9;
$outline: #8f9285;
$shadow: #000000;
$inverseSurface: #e4e3dc;
$inverseOnSurface: #30312c;
$inversePrimary: #48680e;
