$primary: #66dbb2;
$onPrimary: #003827;
$primaryContainer: #00513b;
$onPrimaryContainer: #84f8cd;
$secondary: #b2ccbf;
$onSecondary: #1f352c;
$secondaryContainer: #354b42;
$onSecondaryContainer: #cee9db;
$tertiary: #a7cce0;
$onTertiary: #0a3445;
$tertiaryContainer: #264b5c;
$onTertiaryContainer: #c2e8fd;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #191c1b;
$onBackground: #e0e3df;
$surface: #191c1b;
$onSurface: #e0e3df;
$surfaceVariant: #3f4944;
$onSurfaceVariant: #bfc9c2;
$outline: #89938d;
$shadow: #000000;
$inverseSurface: #e0e3df;
$inverseOnSurface: #2e312f;
$inversePrimary: #006c4f;
