$primary: #6fdaa8;
$onPrimary: #003823;
$primaryContainer: #005235;
$onPrimaryContainer: #8cf7c3;
$secondary: #b3ccbc;
$onSecondary: #20352a;
$secondaryContainer: #364b3f;
$onSecondaryContainer: #d0e8d8;
$tertiary: #a5cdde;
$onTertiary: #063543;
$tertiaryContainer: #244c5a;
$onTertiaryContainer: #c0e9fb;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #191c1a;
$background: #191c1a;
$onBackground: #e1e3df;
$surface: #191c1a;
$onSurface: #e1e3df;
$surfaceVariant: #404943;
$onSurfaceVariant: #bfc9c1;
$outline: #8a938c;
$shadow: #000000;
$inverseSurface: #e1e3df;
$inverseOnSurface: #2d312e;
$inversePrimary: #006c47;
