$primary: #f0afff;
$onPrimary: #4d1661;
$primaryContainer: #662f79;
$onPrimaryContainer: #fbd7ff;
$secondary: #d5c0d7;
$onSecondary: #3a2c3d;
$secondaryContainer: #514254;
$onSecondaryContainer: #f2dcf3;
$tertiary: #f5b7b3;
$onTertiary: #4c2523;
$tertiaryContainer: #663b38;
$onTertiaryContainer: #ffdad6;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1e1a1e;
$onBackground: #e8e0e5;
$surface: #1e1a1e;
$onSurface: #e8e0e5;
$surfaceVariant: #4c444d;
$onSurfaceVariant: #cfc3cd;
$outline: #988e97;
$shadow: #000000;
$inverseSurface: #e8e0e5;
$inverseOnSurface: #332f33;
$inversePrimary: #804893;
