$primary: #4fdad2;
$onPrimary: #003734;
$primaryContainer: #00504c;
$onPrimaryContainer: #71f7ef;
$secondary: #b1ccc9;
$onSecondary: #1b3533;
$secondaryContainer: #324b49;
$onSecondaryContainer: #cce8e5;
$tertiary: #b0c9e7;
$onTertiary: #19324a;
$tertiaryContainer: #304962;
$onTertiaryContainer: #cfe4ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #191c1c;
$onBackground: #e1e3e2;
$surface: #191c1c;
$onSurface: #e1e3e2;
$surfaceVariant: #3f4947;
$onSurfaceVariant: #bec9c7;
$outline: #889391;
$shadow: #000000;
$inverseSurface: #e1e3e2;
$inverseOnSurface: #2d3130;
$inversePrimary: #006a65;
