$primary: #58dbc4;
$onPrimary: #00382f;
$primaryContainer: #005145;
$onPrimaryContainer: #77f8df;
$secondary: #b0ccc4;
$onSecondary: #1d3530;
$secondaryContainer: #334c46;
$onSecondaryContainer: #cce8e0;
$tertiary: #abcae4;
$onTertiary: #123348;
$tertiaryContainer: #2c4a60;
$onTertiaryContainer: #c7e6ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #191c1b;
$onBackground: #e1e3e1;
$surface: #191c1b;
$onSurface: #e1e3e1;
$surfaceVariant: #3f4946;
$onSurfaceVariant: #bec9c5;
$outline: #88938f;
$shadow: #000000;
$inverseSurface: #e1e3e1;
$inverseOnSurface: #2e3130;
$inversePrimary: #006b5c;
