$primary: #e4b4ff;
$onPrimary: #4c007b;
$primaryContainer: #6b16a2;
$onPrimaryContainer: #f4d9ff;
$secondary: #d2c1d8;
$onSecondary: #372c3e;
$secondaryContainer: #4f4256;
$onSecondaryContainer: #efddf5;
$tertiary: #f4b7ba;
$onTertiary: #4b2528;
$tertiaryContainer: #663a3d;
$onTertiaryContainer: #ffd9db;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1d1b1e;
$onBackground: #e7e0e5;
$surface: #1d1b1e;
$onSurface: #e7e0e5;
$surfaceVariant: #4b454d;
$onSurfaceVariant: #cdc3ce;
$outline: #968e98;
$shadow: #000000;
$inverseSurface: #e7e0e5;
$inverseOnSurface: #322f33;
$inversePrimary: #8436bb;
