$primary: #e0b6ff;
$onPrimary: #45196a;
$primaryContainer: #5c3282;
$onPrimaryContainer: #f2daff;
$secondary: #d1c1da;
$onSecondary: #372c3f;
$secondaryContainer: #4e4356;
$onSecondaryContainer: #eeddf6;
$tertiary: #f3b7bc;
$onTertiary: #4c252a;
$tertiaryContainer: #653b40;
$onTertiaryContainer: #ffdade;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1d1b1e;
$onBackground: #e8e1e6;
$surface: #1d1b1e;
$onSurface: #e8e1e6;
$surfaceVariant: #4b454e;
$onSurfaceVariant: #cdc4ce;
$outline: #968e98;
$shadow: #000000;
$inverseSurface: #e8e1e6;
$inverseOnSurface: #322f33;
$inversePrimary: #754b9b;
