$primary: #adc6ff;
$onPrimary: #002d6f;
$primaryContainer: #17448f;
$onPrimaryContainer: #d7e2ff;
$secondary: #bfc6dd;
$onSecondary: #293041;
$secondaryContainer: #3f4659;
$onSecondaryContainer: #dbe2f9;
$tertiary: #dfbbde;
$onTertiary: #412743;
$tertiaryContainer: #593e5a;
$onTertiaryContainer: #fcd7fa;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1b1b1e;
$onBackground: #e4e2e6;
$surface: #1b1b1e;
$onSurface: #e4e2e6;
$surfaceVariant: #44464e;
$onSurfaceVariant: #c5c6d0;
$outline: #8e9099;
$shadow: #000000;
$inverseSurface: #e4e2e6;
$inverseOnSurface: #303033;
$inversePrimary: #355ca8;
