.visualizer-bg {
    background-color: $background;
}

.visualizer-height {
    min-height: 6.818rem;
}

.visualizer-hide {
    margin-bottom: -6.9rem;
}

.visualizer-columns {
    padding: 0rem 1.5rem;
}

.visualizer-cavacol {
    background-color: $primary;
    border-top-left-radius: 10rem;
    border-top-right-radius: 10rem;
    margin: 0rem 0.5rem;
}