.dash-window {
  background-color: transparent;
}

.dash-title {
  color: $primary;
  font-size: 18pt;
}

.dash-subtitle {
  color: $color5;
  font-size: 13pt;
}

.dash {
  min-height: 50px;
  min-width: 50px;
  background-color: $colorbarbg;
  border-radius: 15px;
  padding: 20px;
  margin: 5px;
}

.dash-profile {
  min-width: 300px;
  min-height: 228px;
}

.dash-user-pic {
  margin: 20px;
  min-width: 150px;
  min-height: 150px;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 1500px;
  background-position: center;
}

.dash-fetch {
  color: $colortext;
  font-size: 15pt;
}

.dash-fetch-icon {
  color: $colortext;
  font-size: 16pt;
  margin: 3px;
  font-family: Material Symbols Rounded;
}

.dash-fetch-icon-nerd {
  color: $colortext;
  font-size: 16pt;
  margin: 3px;
  font-family: JetBrainsMono Nerd Font Regular;
}

.dash-icon {
  font-size: 24pt;
  font-weight: bold;
  font-family: Material Symbols Rounded;
}

.dash-button {
  border-radius: 15px;
}

.dash-button:hover {
  background-color: tint($colorbarbg, 10%);
}

.dash-button:focus {
  background-color: tint($colorbarbg, 10%);
}

.dash-button:active {
  background-color: tint($colorbarbg, 20%);
}

.dash-quote-content {
  margin: 2px;
  color: $colortext;
  font-size: 14pt;
}

.dash-quote-author {
  margin: 2px;
  color: $colortext;
  font-size: 12pt;
}

.dash-tile {
  min-width: 800px;
}

.dash-input-icon {
  padding-left: 15px;
  padding-right: 15px;
  min-width: 30px;
  margin: -5px;
  margin-left: 15px;
  background-color: $colorbarbg;
  border: 2px solid tint($colorbarbg, 10%);
  border-radius: 10px;
  color: $colortext;
  font-size: 19pt;
}

.dash-input {
  padding-left: 15px;
  padding-right: 15px;
  min-width: 860px;
  margin: -5px;
  background-color: $colorbarbg;
  border: 2px solid tint($colorbarbg, 10%);
  border-radius: 10px;
  color: $colortext;
  font-size: 15pt;
  caret-color: $colortext;

  selection {
    background-color: rgba(154, 152, 152, 0.5);
  }
}

.dash-time {
  color: $primary;
  font-size: 35pt;
}

.dash-date {
  color: $primary;
  font-size: 18pt;
}

.dash-clock-text-area {
  min-width: 200px;
}

.dash-clock-circle-area {
  // margin-left: 10px;
}

.dash-clock-circle {
  background-color: $surface0;
}

.dash-clock-inner {
  padding: 36px;
}

.dash-clock-circle-minute {
  margin: 10px;
  background-color: $overlay0;
}

.dash-debug-area {
  background-color: rgba(214, 28, 50, 0.3);
}

.dash-dir-area {
  min-width: 198px;
}

.dash-dir {
  font-size: 15pt;
  padding: 10px;
  padding-left: 15px;
}

.dash-resources {
  min-width: 198px;
  min-height: 122px;
}

.dash-resouce-icon {
  font-size: 99pt;
}

.dash-resource-inner {
  padding: 30px;
}

.dash-resource-text {
  font-size: 15pt;
  margin: 3px;
}

.dash-resource-title {
  font-size: 15pt;
}

.dash-resource-tile {
  // background-color: tint($colorbarbg, 20%);
  border-radius: 12px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 11px;
  // padding: 15px;
}

.clrt {
  color: $colortext;
}

.clr0 {
  color: $primary;
}

.clr1 {
  color: $secondary;
}

.clr2 {
  color: $tertiary;
}

.clr3 {
  color: $primary;
}

.clr4 {
  color: $secondary;
}

.clr5 {
  color: $tertiary;
}

.clr6 {
  color: $primary;
}

.clr7 {
  color: $secondary;
}