window {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1A1B26;
}

#window-box {
    /* background-color: #1A1B26; */
    border-radius: 1.5rem;
    padding: 1.5rem;
    /* border: 4px solid #7E64C5; */
}

#clock-label {
    font-family: Gabarito;
    font-size: 3.5rem;
    background-color: rgba(26, 27, 38, 0.8);
    border-radius: 1.2rem;
    padding: 0.5rem;
    padding-left: 0.7rem;
    margin: 0.6rem;
    border: 0.2rem solid #7E64C5;
}

#input-label {
    font-size: 1.5rem;
    color: transparent;
    background-color: transparent;
    margin: -20rem;
}

#input-field {
    background-color: rgba(26, 27, 38, 0.8);
    border-radius: 1.2rem;
    font-size: 1.4rem;
    padding: 0.5rem;
    padding-left: 0.7rem;
    margin: 0.6rem;
}

#unlock-button {
    margin: -20rem;
    color: transparent;
    background-color: transparent;
}

/* #error-label */