$primary: #5e89cd; 

$onPrimary: #20252b; 

$primaryContainer: #363e48; 

$onPrimaryContainer: #3b6ebd; 

$secondary: #788ec6; 

$onSecondary: #434343; 

$secondaryContainer: #434343; 

$onSecondaryContainer: #788ec6; 

$tertiary: #6b5ecd; 

$onTertiary: #21202b; 

$tertiaryContainer: #4a3bbd; 

$onTertiaryContainer: #4a3bbd; 

$error: #ffb4a9; 

$onError: #680003; 

$errorContainer: #930006; 

$onErrorContainer: #ffb4a9; 

$colorbarbg: #0e1218; 

$background: #0e1218; 

$onBackground: #a4c4d6; 

$surface: #0e1218; 

$onSurface: #a4c4d6; 

$surfaceVariant: #2C5F69; 

$onSurfaceVariant: #a4c4d6; 

$outline: #a4c4d6; 

$shadow: #000000; 

$inverseSurface: #f1ede7; 

$inverseOnSurface: #5b3b29; 

$inversePrimary: #a17632; 

$darkmode: true;
