* {
    border: 0px;
}

window {
    /* background: transparent; */
    background-color: #1A1B26;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#window-box {
    /* background-color: #1A1B26; */
    border-radius: 1.5rem;
    padding: 1.5rem;
    /* border: 4px solid #7E64C5; */
    border: 0px solid black;
}

#input-label {
    font-size: 1.5rem;
    color: transparent;
    background-color: transparent;
    margin: -20rem;
    border: 0px solid black;
}

#input-field {
    background-color: rgba(26, 27, 38, 1);
    border-radius: 1.2rem;
    font-size: 1.4rem;
    padding: 0.5rem;
    padding-left: 0.7rem;
    margin: 0.6rem;
}

#unlock-button {
    margin: -20rem;
    color: transparent;
    background-color: transparent;
}

#error-label {
    color: #F38BA8;
}

/* #clock-label {
    font-family: Product Sans;
    font-size: 3.5rem;
    color: transparent;
    border-radius: 9999px;
    min-height: 150px;
    min-width: 150px;
    background-image: url('/var/lib/AccountsService/icons/end');
    background-size: 100% auto;
    box-shadow: 2px 2px 4px #16161E;
} */

#clock-label {
    font-family: 'Product Sans';
    font-size: 6rem;
    /* background-color: rgba(26, 27, 38, 1); */
    border-radius: 1.2rem;
    padding: 0.5rem;
    padding-left: 0.7rem;
    margin: 0.6rem;
    margin-top: -40rem;
    /* border: 0.2rem solid #7E64C5; */
    color: #a2d5f8;
    text-shadow: 2px 2px 4px #16161E;
}

#user-image {
    /* min-width: 200px;
    min-height: 200px; */
}

#powerbar-box {
    border-radius: 9999px;
    background-color: rgba(26, 27, 38, 1);
    padding: 0.3rem;
}
#poweroff-button {
    min-width: 2rem;
    min-height: 2rem;
}
#suspend-button {
    min-width: 2rem;
    min-height: 2rem;
}
#reboot-button {
    min-width: 2rem;
    min-height: 2rem;
}