/* Gtklock css */

* {
    all: unset;
    border: 0px;
}

window {
    background: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#window-box {
    border-radius: 1.5rem;
    padding: 1.5rem;
    border: 0px solid black;
}

#input-label {
    font-size: 1.5rem;
    color: transparent;
    background-color: transparent;
    margin: -20rem;
}

#input-field {
    background-color: #354a53;
    color: #cfe6f1;
    border-radius: 999px;
    font-size: 1.3rem;
    padding: 0.341rem 1.364rem;
    margin: 0.477rem;
    box-shadow: 2px 2px 4px rgba(22, 22, 22, 0.5);
    min-height: 2.727rem;
}

#unlock-button {
    margin: -20rem;
    color: transparent;
    background-color: transparent;
}

#error-label {
    color: #ffb4a9;
}

#clock-label {
    font-family: 'Lexend';
    font-size: 6rem;
    border-radius: 1.2rem;
    padding: 0.5rem;
    margin: 0.6rem;
    margin-top: -35rem;
    color: #5dd5fc;
    text-shadow: 1px 1px 2px rgba(22, 22, 30, 0.5);
}

#user-image {}

#powerbar-box {}

#poweroff-button {
    background-color: #354a53;
    color: #cfe6f1;
    min-width: 3rem;
    min-height: 3rem;
    margin: 10px;
    border-radius: 99px;
}

#suspend-button {
    background-color: #354a53;
    color: #cfe6f1;
    min-width: 3rem;
    min-height: 3rem;
    margin: 10px;
    border-radius: 99px;
}

#reboot-button {
    background-color: #354a53;
    color: #cfe6f1;
    min-width: 3rem;
    min-height: 3rem;
    margin: 10px;
    border-radius: 99px;
}

#poweroff-button:hover,
#reboot-button:hover,
#suspend-button:hover {
    background: rgba(200, 200, 200, 0.3);
}

#poweroff-button:active,
#reboot-button:active,
#suspend-button:active {
    background: rgba(200, 200, 200, 0.5);
}