* {
  all: unset;
  border: 0rem; }

window {
  background-color: rgba(29, 27, 31, 0.4);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#window-box {
  border-radius: 1.5rem;
  padding: 1.5rem; }

#input-label {
  font-size: 1.5rem;
  color: transparent;
  background-color: transparent;
  margin: -20rem; }

#input-field {
  background-color: #4b4358;
  color: #e9def8;
  caret-color: #e9def8;
  border-radius: 999px;
  font-size: 1.3rem;
  padding: 0.341rem 1.364rem;
  margin: 0.477rem;
  box-shadow: 2px 2px 4px rgba(22, 22, 22, 0.5);
  min-height: 2.727rem; }

#unlock-button {
  margin: -20rem;
  color: transparent;
  background-color: transparent; }

#error-label {
  color: #ffb4a9; }

#clock-label {
  font-family: 'Lexend';
  font-size: 6rem;
  border-radius: 1.2rem;
  padding: 0.5rem;
  margin: 0.6rem;
  margin-top: -35rem;
  color: #e9def8;
  text-shadow: 1px 1px 2px rgba(22, 22, 30, 0.5); }

#poweroff-button,
#reboot-button,
#suspend-button {
  background-color: #4b4358;
  color: #e9def8;
  min-width: 3rem;
  min-height: 3rem;
  margin: 0.341rem;
  border-radius: 9999px; }

#poweroff-button:hover,
#reboot-button:hover,
#suspend-button:hover {
  background-color: #6f6979; }

#poweroff-button:active,
#reboot-button:active,
#suspend-button:active {
  background-color: #817b8a; }
