.Leader {
  stroke-width: 0.5 !important;
  stroke: #565f89;
  fill: none !important;
}

.Button {
  stroke-width: 0.25;
  stroke: #c0caf5;
  fill: #c0caf5;
}

.Ring {
  stroke-width: 0.5 !important;
  stroke: #565f89 !important;
  fill: none !important;
}

.Label {
  stroke: none !important;
  stroke-width: 0.1 !important;
  font-size: 0.1 !important;
  fill: transparent !important;
}

.TouchStrip,
.TouchRing {
  stroke-width: 0.1 !important;
  stroke: #c0caf5 !important;
  fill: #565f89 !important;
}
