Config(
  x: Fraction(0.500000),
  y: Absolute(15),
  width: Fraction(0.300000),
  height: Absolute(0),
  hide_icons: false,
  ignore_exclusive_zones: false,
  layer: Overlay,
  hide_plugin_info: true,
  close_on_click: true,
  show_results_immediately: false,
  max_entries: None,
)
