$primary: #79d0ff;
$onPrimary: #013449;
$primaryContainer: #004c69;
$onPrimaryContainer: #c3e8ff;
$secondary: #b5c9d7;
$onSecondary: #20333e;
$secondaryContainer: #374955;
$onSecondaryContainer: #d1e5f3;
$tertiary: #cac1ea;
$onTertiary: #322c4c;
$tertiaryContainer: #484264;
$onTertiaryContainer: #e7deff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #191c1e;
$onBackground: #e1e2e5;
$surface: #191c1e;
$onSurface: #e1e2e5;
$surfaceVariant: #41484d;
$onSurfaceVariant: #c0c7cd;
$outline: #8b9298;
$shadow: #000000;
$inverseSurface: #e1e2e5;
$inverseOnSurface: #2e3133;
$inversePrimary: #00658b;
