$primary: #d0bdff;
$onPrimary: #371a7c;
$primaryContainer: #4e3593;
$onPrimaryContainer: #e9ddff;
$secondary: #cbc2dc;
$onSecondary: #322e41;
$secondaryContainer: #494458;
$onSecondaryContainer: #e7def8;
$tertiary: #eeb8c9;
$onTertiary: #4a2533;
$tertiaryContainer: #623b49;
$onTertiaryContainer: #ffd9e5;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1c1b1e;
$onBackground: #e6e1e6;
$surface: #1c1b1e;
$onSurface: #e6e1e6;
$surfaceVariant: #48454e;
$onSurfaceVariant: #cac4d0;
$outline: #938f99;
$shadow: #000000;
$inverseSurface: #e6e1e6;
$inverseOnSurface: #313033;
$inversePrimary: #664ead;
