$primary: #63d3ff;
$onPrimary: #003546;
$primaryContainer: #004d65;
$onPrimaryContainer: #bae9ff;
$secondary: #b4cad6;
$onSecondary: #1f333c;
$secondaryContainer: #354a54;
$onSecondaryContainer: #d0e6f2;
$tertiary: #c6c3ea;
$onTertiary: #2e2d4c;
$tertiaryContainer: #454365;
$onTertiaryContainer: #e3dfff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #191c1e;
$onBackground: #e1e2e4;
$surface: #191c1e;
$onSurface: #e1e2e4;
$surfaceVariant: #40484c;
$onSurfaceVariant: #c0c8cd;
$outline: #8a9296;
$shadow: #000000;
$inverseSurface: #e1e2e4;
$inverseOnSurface: #2e3133;
$inversePrimary: #006684;
