.bg-decor-dow {
  color: $onPrimaryContainer;
  font-family: Torus;
  font-size: 35pt;
}

.bg-decor-date {
  color: $onPrimaryContainer;
  font-family: Torus;
  font-size: 20pt;
}

.bg-module {
  // background-color: shade($colorbg, 10%);
  border-radius: 30px;
  padding: 20px;
  margin: 5px;
}

.bg-text {
  text-shadow: -1px -1px 0 $primaryContainer,
    1px -1px 0 $primaryContainer,
    -1px 1px 0 $primaryContainer,
    1px 1px 0 $primaryContainer;
  color: $onPrimaryContainer;
  font-family: 'Torus';
}

.bg-icon {
  margin-bottom: 9px;
  color: $onSecondaryContainer;
  font-family: 'Material Symbols Rounded';
  font-size: 15pt;
  min-width: 40px;
  min-height: 40px;
  background-color: $secondaryContainer;
  border-radius: 13px;
}

.bg-title {
  text-shadow: -1px -1px 0 $primaryContainer,
    1px -1px 0 $primaryContainer,
    -1px 1px 0 $primaryContainer,
    1px 1px 0 $primaryContainer;
  color: $onPrimaryContainer;
  font-size: 16pt;
  margin: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.bg-cool-text {
  color: $onPrimaryContainer;
  font-family: 'Config';
  font-size: 13pt;
  margin: 5px;
  text-shadow: -1px -1px 0 $primaryContainer,
    1px -1px 0 $primaryContainer,
    -1px 1px 0 $primaryContainer,
    1px 1px 0 $primaryContainer;
}

.bg-progress {
  margin: 5px;
  min-width: 450px;

  trough {
    border-radius: 9999px;
    background-color: #24222A;
    min-height: 10px;
  }

  highlight {
    border-radius: 9999px;
    background-color: $color3;
  }
}

.bg-graph-container {
  min-width: 150px;
  min-height: 30px;
  padding-bottom: 4px;
  padding-top: 4px;
  border-radius: 8px;
  border: 1px solid $onPrimaryContainer;
  margin: 5px;
  box-shadow: -1px -1px 0 $primaryContainer,
    1px -1px 0 $primaryContainer,
    -1px 1px 0 $primaryContainer,
    1px 1px 0 $primaryContainer;
}

.bg-graph {
  color: $color3;
  // background-color: $color3;
}

.bg-date {
  min-width: 500px;
}

.bg-decor-input-left {
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15pt;
  min-height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
}

.bg-decor-input-right {
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  // padding-top: 5px;
  // padding-bottom: 5px;
  font-size: 15pt;
  min-height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
}