.calendar-win {
  @include window;
  background-color: $colorbg;
  border: 3px solid $colortext;
  color: $colortext;
  padding: .2em;
  font-family: 'Torus';
}

calendar {
  padding: 7px;


  :selected {
    color: $colortext;
    font-weight: bolder;
    background-color: $overlay0;
    border-radius: 8px;
    font-family: 'Torus';
  }

  .header {
    font-family: 'Torus';
    color: $colortext;
  }

  .highlight {
    font-family: 'Torus';
    color: $color0;
    font-weight: bold;
  }

  .button {
    font-family: 'Torus';
    color: $colortext;
  }

  :indeterminate {
    color: $overlay0;
  }
}

.date-clock{
  font-family: 'Torus';
  background: transparent;
  color: $colorbar;
  padding-left: 13px;
  padding-right: 13px;
}