$colorbg: #0f0e11;   //Get from color0
$colortext: white; //Get from color4
$color0: #8C66FF;
$color1: #CC3378;
$color2: #5933CC;
$color3: #EEAA00;
$color4: white;
$color5: white;
$color6: white;
$color7: white; //Get from color4 (border)
$colormusic: white;