$colorbg: #171726;   //Get from color0
$colortext: #a9b1d6; //Get from color4
$color0: #ff79b1;
$color1: #EF738A;
$color2: #FF9E64;
$color3: #E0AF68;
$color4: #9ECE6A;
$color5: #7AA2F7;
$color6: #0DB9D7;
$color7: #9778D0; //Get from color4 (border)