.edit-mode-checkbox-false {
  min-height: 53px;
  min-width: 53px;
  // background-image: url('images/svg/tournaments.svg');
  background-size: auto 65%;
  background-position: center;
  color: transparent;
}

.edit-mode-checkbox-true {
  min-height: 53px;
  min-width: 53px;
  background-color: $overlay0;
  // background-image: url('images/svg/tournaments.svg');
  background-size: auto 65%;
  background-position: center;
  color: transparent;
}