// Common colors
$hovercolor: rgba(128, 128, 128, 0.4);
$activecolor: rgba(128, 128, 128, 0.7);

// Common rules
@mixin mainfont {
    font-family: 'Lexend';
    // font-weight: 500;
}

@mixin sidefont {
    font-family: 'Lexend';
    // font-family: 'Bahnschrift';
    // font-weight: 500;
}

@mixin icon-material {
    font-family: 'Material Symbols Rounded';
}

@mixin icon-segoe {
    font-family: 'Segoe Fluent Icons';
}

@mixin icon-material-filled {
    font-family: 'Material Symbols Rounded';
}

@mixin icon-nerd {
    font-family: 'JetBrainsMono Nerd Font';
}

@mixin icon-segoe {
    font-family: 'Segoe Fluent Icons';
}

@mixin techfont {
    font-family: 'JetBrains Mono Nerd Font';
}

@mixin subtext {
    color: rgb(160, 160, 160);
}

@mixin elevation-safe {
    background: $surface;
    color: $onSurface;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.69);
    margin: 7px;
}

@mixin elevation2 {
    background: $surface;
    color: $onSurface;
    box-shadow: 0px 2px 3px $shadow;
    margin: 7px;
}

@mixin elevation3 {
    background: $surfaceVariant;
    color: $onSurfaceVariant;
    // box-shadow: 0px 2px 5px mix($shadow, rgba(0,0,0,0), 40%);
    box-shadow: 0px 2px 5px $shadow;
    margin: 7px;
}

@mixin md3_decel {
    transition: 250ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

@mixin md3_accel {
    transition: 180ms cubic-bezier(0.3, 0, 0.8, 0.15);
}

@mixin noanim {
    transition: 0ms;
}

@keyframes flyin-top {
    from {
        margin-top: -2.795rem;
    }

    to {
        margin-bottom: 0px;
        margin-top: 0px;
    }
}

@keyframes flyin-bottom {
    from {
        margin-top: 4.841rem;
        margin-bottom: -4.841rem;
    }

    to {
        margin-bottom: 0px;
        margin-top: 0px;
    }
}

@function tint($color, $percentage) {
    @return mix(rgb(245, 250, 255), $color, $percentage);
}

@function shade($color, $percentage) {
    @return mix(rgb(0, 0, 0), $color, $percentage);
}

.no-anim {
    @include noanim;
}

.txt {
    color: $onBackground;
}

.txt-hugeass {
    @include mainfont;
    font-size: 1.8182rem;
}

.txt-larger {
    @include mainfont;
    font-size: 1.6363rem;
}

.txt-large { //16pt
    @include mainfont;
    font-size: 1.4545rem;
}

.txt-norm { //14pt
    @include mainfont;
    font-size: 1.2727rem;
}

.txt-small { //12pt
    @include mainfont;
    font-size: 1.0909rem;
}

.txt-smallie { //11pt
    @include mainfont;
    font-size: 1rem;
}

.txt-smaller { //10pt
    @include mainfont;
    font-size: 0.9091rem;
}

.txt-smaller-offset {
    margin-top: -0.136rem;
}

.txt-tiny {
    @include mainfont;
    font-size: 0.7273rem;
}

.txt-subtxt {
    color: mix($onBackground, $background, 80%);
}

.txt-bold {
    font-weight: 500;
}

.icon-material {
    @include icon-material;
}

.icon-segoe {
    @include icon-segoe;
}

.separator {
    border-radius: 50rem;
    background-color: $onSurface;
    margin: 0rem 0.682rem;
    min-width: 0.545rem;
    min-height: 0.545rem;
}

tooltip {
    background-color: $surfaceVariant;
    color: $onSurfaceVariant;
    border-radius: 50rem;
    border: 1px solid $onSurfaceVariant;
}


$overlay1: mix($onSurface, rgba(0,0,0,0), 25%);
$overlay2: mix($onSurface, rgba(0,0,0,0), 40%);