$primary: #ccbeff;
$onPrimary: #322075;
$primaryContainer: #49398d;
$onPrimaryContainer: #e7deff;
$secondary: #cac3dc;
$onSecondary: #322e42;
$secondaryContainer: #484459;
$onSecondaryContainer: #e6dff8;
$tertiary: #eeb8cc;
$onTertiary: #492535;
$tertiaryContainer: #623b4b;
$onTertiaryContainer: #ffd8e7;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1c1b1e;
$onBackground: #e6e1e6;
$surface: #1c1b1e;
$onSurface: #e6e1e6;
$surfaceVariant: #48454f;
$onSurfaceVariant: #c9c4d0;
$outline: #938f99;
$shadow: #000000;
$inverseSurface: #e6e1e6;
$inverseOnSurface: #313033;
$inversePrimary: #6152a6;
