$primary: #ffb3b1;
$onPrimary: #601319;
$primaryContainer: #7d2a2d;
$onPrimaryContainer: #ffdad8;
$secondary: #e7bdbb;
$onSecondary: #442929;
$secondaryContainer: #5d3f3e;
$onSecondaryContainer: #ffdad8;
$tertiary: #e3c18c;
$onTertiary: #412d05;
$tertiaryContainer: #5a431a;
$onTertiaryContainer: #ffdea9;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #201a1a;
$onBackground: #ede0df;
$surface: #201a1a;
$onSurface: #ede0df;
$surfaceVariant: #524342;
$onSurfaceVariant: #d7c1c0;
$outline: #a08c8b;
$shadow: #000000;
$inverseSurface: #ede0df;
$inverseOnSurface: #362f2e;
$inversePrimary: #9d4143;
