$primary: #fdba4a;
$onPrimary: #442c00;
$primaryContainer: #614000;
$onPrimaryContainer: #ffddaa;
$secondary: #dcc3a1;
$onSecondary: #3d2e16;
$secondaryContainer: #55442a;
$onSecondaryContainer: #f9debb;
$tertiary: #b6cea3;
$onTertiary: #223517;
$tertiaryContainer: #384c2b;
$onTertiaryContainer: #d2eabe;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1f1b16;
$background: #1f1b16;
$onBackground: #eae1d9;
$surface: #1f1b16;
$onSurface: #eae1d9;
$surfaceVariant: #4e4538;
$onSurfaceVariant: #d2c4b4;
$outline: #9b8f80;
$shadow: #000000;
$inverseSurface: #eae1d9;
$inverseOnSurface: #34302a;
$inversePrimary: #815600;
