.music-area {
  padding: 10px;
  @include rounding;
}

.song-cover-art {
  @include rounding;
  background-position: center;
  background-size: 100%;
  margin: 4px 5px 4px 0;
  min-height: 24px;
  min-width: 24px;
}

.music-window {
  @include window;
  @include rounding;
  background-color: $colorbarbg;
  border: 3px solid;
  color: $colortext;
  margin: 3px;
}

.music-cover-art {
  @include rounding;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("eww_covers/cover_art_default");
  background-position: 50% 15%;
  // border-radius: 5px;
  // margin: 1em;
  // min-height: 200px;
  min-width: 200px;
}

.music-box {
  @include rounding;
  padding-top: 24px;
  background-color: rgba(0, 0, 0, 0.4);
  background-position: top;
}

.music-title {
  // font-weight: bold;
  font-family: 'Torus', 'Material Symbols Rounded';
  min-height: 39px;
  font-size: 19pt;
  color: $colortext;
  padding-left: 10px;
  padding-right: 10px;
}

.music-title-hover {
  // font-weight: bold;
  font-family: 'Torus', 'Material Symbols Rounded';
  font-size: 19pt;
  color: $colortext;
  background-color: $overlay0;
  padding-left: 10px;
  padding-right: 10px;
}

.music-title-bar {
  font-family: 'Torus';
  font-size: 15pt;
  color: $colorbar;
  padding-left: 10px;
  padding-right: 10px;

}

.music-artist-bar {
  color: $colorbar;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Torus';
  font-size: 11pt;
}

.music-artist {
  color: $colortext;
  font-family: 'Torus', 'Material Symbols Rounded';
  font-weight: bold;
  margin-bottom: 5px;
  min-height: 25px;
}

.music-button label {
  font-family: 'Material Symbols Rounded';
  // color: $text;
  font-size: 2rem;
  font-family: SF Mono Nerd Font;
  padding: 8px;
}

.music-time {
  font-family: 'Torus', 'Material Symbols Rounded';
  color: $color1;
  margin: 0 1rem;
}

.music-bar scale {
  font-family: 'Material Symbols Rounded';
  font-family: SF Mono Nerd Font;

  highlight {
    background-color: $color1;
    border-radius: 24px;
  }

  trough {
    background-color: $surface0;
    border-radius: 24px;
    min-height: 10px;
    min-width: 170px;
  }
}

.music-ctl {
  border-radius: 0px;
  color: $color1;
  // padding-right: 10px;
  min-height: 53px;
}

.music-icon {
  padding-top: 5px; //Because the music icon is a bit high
  padding-left: 16px;
  padding-right: 16px;
  color: $color1;
  background-image: url("images/LinageMusic.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.music-ctl-revealer {
  margin-top: -4px;
  // transition: 200ms cubic-bezier(0.3, 0, 0.8, 0.15);
}

.music-ctl-revealer-false {
  // padding-left: 10px;
}

.music-ctl-revealer-true {
  background-color: $overlay0;
}

.music-media-source {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 15px;
  min-width: 40px;
  min-height: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}

.music-source-icon {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 16pt;
  margin-right: 5px;
}

.song-button {
  color: $colortext;
  border-radius: 9999px;
  margin: 3px 3px;
  min-width: 52px;
  font-size: 32pt;
}

.song-button:hover {
  background-color: $overlay0;
}

.music-button-box {
  font-family: 'Material Symbols Rounded';
  color: $colortext;
  min-width: 160px;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 9999px;
}

.osu-music-box {
  // min-width: 75px;
  min-height: 53px;
  background-size: auto 65%;
  background-position: 50% 50%;
  // background-image: url('images/svg/beatmaps.svg');
  // background-color: $colorbarbg;
  background-repeat: no-repeat;
  padding-left: 15px;
}

.osu-music-box-dummy {
  min-width: 50px;
  min-height: 53px;
  margin-right: -6px;
  margin-left: 6px;
}

.osu-music-slider {
  margin-top: 9px;
  margin-bottom: 9px;
  min-height: 6px;
  padding-left: 13px;

  trough {
    border-radius: 9999px;
    background-color: #5c5b5b;
    min-height: 6px;
    // margin-left: 32px;
    // margin-right: 32px;
    // min-width: 70px;
    min-width: 3px;
  }

  highlight {
    min-width: 3px;
    border-radius: 9999px;
    background-color: $colorbar;
  }
}

.track-scale {
  @include rounding;

  trough {
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 8px;
    // margin-left: 32px;
    // margin-right: 32px;
    // min-width: 70px;
    min-width: 3px;
  }

  highlight {
    min-width: 8px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    background-color: $color0;
  }
}

.bar-music-cover {
  border-radius: 10px;
  min-height: 45px;
  min-width: 45px;
  background-size: auto 100%;
  background-position: center;
}

.bar-music-state {
  font-family: 'Material Symbols Rounded';
  color: $color6;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 9999px;
  min-width: 30px;
  min-height: 30px;
}

.music-cava-column {
  background-color: $color0;
  margin: 0 3px;
  margin-bottom: 8px;
  border-top-left-radius: 99px;
  border-top-right-radius: 99px;
}

.music-time-label {
  color: $colorbar;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 13pt;
  font-family: 'Torus';
  font-weight: 500;
  padding: 3px 8px;
  border-radius: 9999px;
  min-width: 50px;
}

.music-button-box-bar {
  font-family: 'Material Symbols Rounded';
  color: $colortext;
  min-width: 160px;
  margin: 0 0px;
  border-radius: 9999px;
}

.song-button-bar {
  color: $colortext;
  border-radius: 9999px;
  // margin: 3px;
  min-width: 52px;
  font-size: 32pt;
}

.song-button-bar:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
