.notifications-box {
  // @include window;
  // padding: 1rem;
  font-family: 'Torus';
}

.notification {
  // @include rounding;
  border-radius: 12px;
  font-size: 12pt;
  font-family: 'Torus';
  background-color: $surface0;
  // border-bottom: 3px solid $colorbg;
  padding: .7rem;
  margin-top: 5px;
  margin-bottom: 5px;

  // box {
  //    margin-bottom: .5rem;
  // }

  label {
    font-size: 1rem;
  }

  &:hover {
    border: 3px solid $color7;
  }

  .appname {
    font-size: 13pt;
    color: $color0;
    font-weight: bold;
  }

  .summary {
    font-size: 13pt;
    color: $colortext;
    font-weight: bold;
  }

  .body {
    color: $colortext;
  }
}

// .container {
//   &:first-child {
//     border-radius: 8px 8px 0 0;
//   }

//   ;

//   &:last-child {
//     border-radius: 0 0 8px 8px;
//   }

//   ;
// }

.notification-header {
  margin-bottom: 1rem;
}

.notification-label {
  color: $colortext;
  font-size: 1.5rem;
}

.notification-action {
  border-radius: 50%;
  margin-top: 33px;
  margin-bottom: 9px;
  padding: 0 .3rem;

  label {
    color: $colortext;
    font-size: 1.4rem;
  }

  &:hover {
    background: $surface0;
  }
}