.osettings-window {
    min-width: 501px;
    padding-top: 20px;
    background-color: $colorbarbg;
    color: $onBackground;
    font-family: Torus;
    margin: 7px;
    margin-left: 0px;
    border-top-right-radius: 53px;
    // border-bottom-right-radius: 53px;
    // box-shadow: 2px 2px 3px #16161E;
}

.onotify-window {
    min-width: 529px;
    background-color: $colorbarbg;
    color: $onBackground;
    font-family: Torus;
    margin: 7px;
    margin-right: 0px;
    border-top-left-radius: 53px;
    // border-bottom-left-radius: 53px;
    // box-shadow: -2px 2px 6px #16161E;
}

.osettings-separator {
    background-color: shade($colorbarbg, 5%);
    min-height: 6px;
    margin-top: 27px;
}

.osettings-content {
    // padding-top: 13px;
    margin-top: 27px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-family: Torus;
    color: $onBackground;
    background-color: tint($colorbarbg, 4%);
    border-top-right-radius: 53px;
}

.onotify-content {
    // padding-top: 13px;
    margin-top: 27px;
    padding-top: 8px;
    padding-bottom: 16px;
    font-family: Torus;
    color: $onBackground;
    background-color: tint($colorbarbg, 4%);
    border-top-left-radius: 53px;
}

.osettings-heading {
    padding-left: 28px;
    padding-right: 28px;
    color: $onBackground;
    font-family: Torus;
}

.osettings-title {
    color: $onBackground;
    font-family: Torus;
    font-size: 30pt;
}

.osettings-subtitle {
    color: $onSecondaryContainer;
    font-family: Torus;
    font-size: 14pt;
}

.osettings-section-icon {
    margin-top: 33px;
    margin-bottom: 9px;
    color: $onSecondaryContainer;
    font-family: 'Material Symbols Rounded';
    font-size: 20pt;
    min-width: 50px;
    min-height: 50px;
    background-color: $secondaryContainer;
    border-radius: 16px;
}

.osettings-section {
    margin-top: 33px;
    margin-bottom: 9px;
    color: $onSecondaryContainer;
    font-family: Torus;
    font-size: 20pt;
}

.osettings-text {
    margin-top: 10px;
    margin-bottom: 10px;
    color: $onBackground;
    font-family: Torus;
    font-size: 14pt;
}

.osettings-text-icon {
    margin-top: 10px;
    margin-bottom: 10px;
    color: $onBackground;
    font-family: 'Material Symbols Rounded';
    font-size: 14pt;
    min-width: 50px;
}

.osettings-search {
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 35px;
    background-color: $surfaceVariant;
    border: 2px solid $onSurfaceVariant;
    color: $onBackground;
    border-radius: 10px;
    font-size: 11pt;
    min-height: 45px;
    caret-color: $onBackground;

    selection {
        background-color: rgba(154, 152, 152, 0.5);
    }
}

.osettings-search-text {
    color: $onSurfaceVariant;
    padding: 10px;
    font-size: 13pt;
    min-width: 420px;
}

.osettings-search-icon {
    color: $onSurfaceVariant;
    padding: 6px;
    padding-left: 0px;
    font-size: 20pt;
}

.osettings-scroll-bg {
    padding-left: 28px;
    padding-right: 28px;
}

.osettings-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 9999px;
    min-height: 50px;
    font-weight: normal;
    font-size: 13pt;
}

.osettings-btn {
    font-weight: bold;
}

.osettings-btn-destructive {
    color: $onTertiary;
    background-color: $tertiary;
}

.osettings-btn-neutral {
    color: $onPrimary;
    background-color: $primary;
}

.osettings-btn-informative {
    color: $onSecondary;
    background-color: $secondary;
}

.osettings-btn-neutral:hover,
.osettings-btn-neutral:focus {
    background-color: tint($primary, 10%);
}

.osettings-btn-destructive:hover,
.osettings-btn-destructive:focus {
    background-color: tint($tertiary, 10%);
}

.osettings-btn-informative:hover,
.osettings-btn-informative:focus {
    background-color: tint($secondary, 10%);
}

.rounder {
    border-radius: 9999px;
}

.osettings-slider {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 6px;
    border-radius: 9999px;
    background-image: linear-gradient(45deg, $primary 50%, #24222A 50%);
    padding: 0px;

    trough {
        border-radius: 9999px;
        background-color: #24222A;
        min-height: 6px;
        margin-left: 32px;
        margin-right: 32px;
        // min-width: 70px;
    }

    highlight {
        border-radius: 9999px;
        background-color: $primary;
        background-image: linear-gradient(45deg, $primary 0%, $primary 100%);
    }

    slider {
        border-radius: 9999px;
        min-height: 20px;
        min-width: 65px;
        background-color: $primary;
        margin: -8px;
    }

    slider:hover {
        background-color: $primary;
    }

    // slider:focus {
    //     background-color: $primary;
    // }
}

.osettings-checkbox {
    border-radius: 9999px;
    // min-height: 20px;
    // min-height: 6px;
    min-width: 60px;
    background-color: transparent;
    color: transparent;
    border: 3px solid $primary;

    margin-top: 10px;
    margin-bottom: 10px;
}

.osettings-checkbox-1 {
    border-radius: 9999px;
    // min-height: 20px;
    // min-height: 6px;
    min-width: 60px;
    background-color: $primary;
    color: transparent;
    border: 3px solid $primary;

    margin-top: 10px;
    margin-bottom: 10px;
}

.osettings-checkbox-0 {
    border-radius: 9999px;
    // min-height: 20px;
    // min-height: 6px;
    min-width: 60px;
    background-color: transparent;
    color: transparent;
    border: 3px solid $primary;

    margin-top: 10px;
    margin-bottom: 10px;
}

.osettings-checkbox:checked {
    border-radius: 9999px;
    background-color: $primary;
    color: $primary;
}

.osettings-waifu {
    margin-top: 30px;
    min-width: 350px;
    min-height: 350px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}