.osettings-window {
    min-width: 529px;
    padding-top: 30px;
    background-color: tint($colorbg, 12.5%);
    // background-color: transparent;
    color: $colortext;
    font-family: Torus;
}

.onotify-window {
    min-width: 529px;
    background-color: tint($colorbg, 12.5%);
    color: $colortext;
    font-family: Torus;
}

.osettings-separator {
    background-color: $colorbg;
    min-height: 6px;
    margin-top: 27px;
}

.osettings-content {
    // padding-top: 13px;
    padding-bottom: 10px;
    background-color: tint($colorbg, 12.5%);
    color: $colortext;
    font-family: Torus;
}

.osettings-heading {
    padding-left: 28px;
    padding-right: 28px;
    background-color: tint($colorbg, 12.5%);
    color: $colortext;
    font-family: Torus;
}

.osettings-title {
    background-color: tint($colorbg, 12.5%);
    color: $colortext;
    font-family: Torus;
    font-size: 30pt;
}

.osettings-subtitle {
    color: $color5;
    font-family: Torus;
    font-size: 14pt;
}

.osettings-section {
    margin-top: 33px;
    margin-bottom: 9px;
    color: $colortext;
    font-family: Torus;
    font-size: 20pt;
}

.osettings-text {
    margin-top: 10px;
    margin-bottom: 10px;
    color: $colortext;
    font-family: Torus;
    font-size: 14pt;
}

.osettings-search {
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 35px;
    background-color: tint($colorbg, 10%);
    border: 2px solid $colortext;
    color: $colortext;
    border-radius: 10px;
    font-size: 11pt;
    min-height: 45px;
    caret-color: $colortext;
    selection {
        background-color: rgba(154, 152, 152, 0.5);
    }
}

.osettings-search-text {
    color: $colortext;
    padding: 10px;
    font-size: 13pt;
    min-width: 420px;
}

.osettings-search-icon {
    color: $colortext;
    padding: 6px;
    padding-left: 0px;
    font-size: 20pt;
}

.osettings-scroll-bg {
    padding-left: 28px;
    padding-right: 28px;
}

.osettings-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 9999px;
    min-height: 50px;
    font-weight: normal;
    font-size: 13pt;
}
.osettings-btn {
    font-weight: bold;
}

.osettings-btn-destructive {
    color: white;
    background-color: $color1;
    background-image: linear-gradient(to right, $color1 0%, $color3 100%);
}

.osettings-btn-neutral {
    color: white;
    background-color: $color2;
    background-image: linear-gradient(to right, $color2 0%, $color4 100%);
}

.osettings-btn-informative {
    color: white;
    background-color: $color3;
    background-image: linear-gradient(to right, $color2 0%, $color4 100%);
}

.osettings-btn-neutral:hover,
.osettings-btn-neutral:focus {
    background-image: linear-gradient(to right, $color2 0%, $color4 50%);
}

.osettings-btn-destructive:hover,
.osettings-btn-destructive:focus {
    background-image: linear-gradient(to right, $color1 0%, $color3 50%);
}

.osettings-btn-informative:hover,
.osettings-btn-informative:focus {
    background-image: linear-gradient(to right, $color2 0%, $color4 50%);
}

.rounder {
    border-radius: 9999px;
}

.osettings-slider {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 6px;
    border-radius: 9999px;
    background-image: linear-gradient(45deg, $color4 50%, #24222A 50%);
    padding: 0px;

    trough {
        border-radius: 9999px;
        background-color: #24222A;
        min-height: 6px;
        margin-left: 32px;
        margin-right: 32px;
        // min-width: 70px;
    }

    highlight {
        border-radius: 9999px;
        background-color: $color0;
        background-image: linear-gradient(45deg, $color4 0%, $color0 100%);
    }

    slider {
        border-radius: 9999px;
        min-height: 20px;
        // min-height: 6px;
        min-width: 65px;
        background-color: $color0;
        margin: -8px;
    }

    slider:hover {
        background-color: $color4;
    }

    // slider:focus {
    //     background-color: $color4;
    // }
}

.osettings-checkbox {
    border-radius: 9999px;
    // min-height: 20px;
    // min-height: 6px;
    min-width: 60px;
    background-color: transparent;
    color: transparent;
    border: 3px solid $color0;

    margin-top: 10px;
    margin-bottom: 10px;
}

.osettings-checkbox-1 {
    border-radius: 9999px;
    // min-height: 20px;
    // min-height: 6px;
    min-width: 60px;
    background-color: $color0;
    color: transparent;
    border: 3px solid $color0;

    margin-top: 10px;
    margin-bottom: 10px;
}

.osettings-checkbox-0 {
    border-radius: 9999px;
    // min-height: 20px;
    // min-height: 6px;
    min-width: 60px;
    background-color: transparent;
    color: transparent;
    border: 3px solid $color0;

    margin-top: 10px;
    margin-bottom: 10px;
}

.osettings-checkbox:checked {
    border-radius: 9999px;
    background-color: $color0;
    color: $color0;
}