.sidebar-bg {
    @include bar-rounding;
    background-color: $background;
}

.sidebar-bg-pad {
    padding: 0 10px;
}

.sidebar-content {
    @include mainfont;
    margin: 10px 20px;
}

.sidebar-notification {
    @include mainfont;
    margin: 10px 15px;
}

.sidebar-notif-appname {
    @include mainfont;
    color: $primary;
    font-size: 12pt;
}

.sidebar-notif-decor-left {
    margin-left: 5px;
    min-width: 8px;
    border-bottom-left-radius: 99px;
    border-left: 2px solid $primary;
    border-bottom: 2px solid $primary;
}

.sidebar-notif-summary {
    @include mainfont;
    color: $onBackground;
    font-size: 12pt;
}

.sidebar-notif-body {
    @include mainfont;
    @include subtext;
    font-size: 12pt;
}

.sidebar-section-title {
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
}

.sidebar-section-title-icon {
    margin: 0 5px;
}

.sidebar-section-title-text {
    margin: 0 5px;
}

.sidebar-calendar-btn {
    @include mainfont;
    font-size: 12pt;
    font-weight: 500;
    min-height: 30px;
    min-width: 30px;
    margin: 1px;
    border-radius: 10px;
}

.sidebar-calendar-txt {
    border-radius: 9999px;
    font-size: 12pt;
    @include mainfont;
    font-weight: 500;
    min-height: 30px;
    min-width: 30px;
    margin: 3px;
    border-radius: 10px;
}

.day-1 {
    @include subtext;
    background-color: transparent;
}

.day0 {
    background-color: transparent;
    color: $onBackground;
}

.day-1:hover {
    background-color: rgba(75, 75, 75, 0.5);
}

.day0:hover {
    background-color: rgba(75, 75, 75, 0.5);
}

.day-1:active {
    background-color: tint(rgba(75, 75, 75, 0.5), 10%);
}

.day0:active {
    background-color: tint(rgba(75, 75, 75, 0.5), 10%);
}

.day1 {
    background-color: $primary;
    color: #000000;
}

.day1:hover {
    background-color: tint($primary, 10%);
}

.day1:active {
    background-color: tint($primary, 20%);
}

.sidebar-section-title-btn {
    min-width: 28px;
    min-height: 28px;
    border-radius: 8px;
}

.sidebar-section-title-btn:hover {
    background-color: $onPrimary;
}

.sidebar-section-title-btn:active {
    background-color: shade($onPrimary, 30%);
}

.sidebar-box {
    border-radius: 15px;
}

.sidebar-box-title {
    margin: 5px;
}

.sidebar-todo-item {
    margin: 0 5px;
}

.sidebar-todo-btn {
    min-width: 28px;
    min-height: 28px;
    border-radius: 8px;
}

.sidebar-todo-btn:hover {
    background-color: $onPrimary;
}

.sidebar-todo-btn:active {
    background-color: shade($onPrimary, 30%);
}

.sidebar-quicktoggle {
    margin: 15px;
    margin-bottom: 20px;
}

.sidebar-quicktoggle-btn {
    border-radius: 10px;
    background-color: $secondaryContainer;
    color: $onSecondaryContainer;
}

.sidebar-quicktoggle-btn:hover {
    background-color: tint($secondaryContainer, 10%);
}

.sidebar-quicktoggle-btn:active {
    background-color: tint($secondaryContainer, 20%);
}

.sidebar-quicktoggle-btn-active {
    border-radius: 10px;
    background-color: $primary;
    color: $onPrimary;
}

.sidebar-quicktoggle-btn-active:hover {
    background-color: tint($primary, 10%);
}

.sidebar-quicktoggle-btn-active:active {
    background-color: tint($primary, 20%);
}

.sidebar-quicktoggle-btn-left {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.sidebar-quicktoggle-btn-right {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.sidebar-quicktoggle-power-optn:hover {
    :first-child {
        background-color: tint($secondaryContainer, 10%);
    }
}

.sidebar-quicktoggle-power-optn:active {
    :first-child {
        background-color: tint($secondaryContainer, 20%);
    }
}

.sidebar-quicktoggle-power-icon {
    border-radius: 10px;
    min-width: 40px;
    min-height: 40px;
    margin-bottom: -1px;
    margin: 5px;
    @include icon-material;
    font-size: 17pt;
}

.sidebar-quicktoggle-slider {
    border-radius: 9999px;
    margin: 20px;
    transition: 0ms cubic-bezier(0.05, 0.7, 0.1, 1);

    trough {
        min-height: 3px;
        min-width: 60px;
        border-radius: 99px;
        background-color: $surface2;
    }

    highlight {
        min-width: 3px;
        border-radius: 99px;
        background-color: $primary;
        transition: 0ms cubic-bezier(0.05, 0.7, 0.1, 1);
    }

    slider {
        min-width: 5px;
        margin: -8px;
        border-radius: 99px;
        background-color: $primary;
    }
}

.sidebar-music-box {
    margin: 15px;
}

.sidebar-music-thumbnail {
    border-radius: 10px;
    background-position: center center;
    background-size: 100% auto;
}

.sidebar-music-vignette {
    border-radius: 10px;
}

.sidebar-music-source {
    @include icon-nerd;
    font-size: 25pt;
    margin: 0 20px;
}

.sidebar-music-output {
    @include mainfont;
    border-radius: 10px;
    font-size: 12pt;
    margin: 15px 15px;
    padding: 5px 15px;
}

.sidebar-music-title {
    @include mainfont;
    font-size: 15pt;
}

.sidebar-music-artist {
    @include mainfont;
    font-size: 13pt;
    color: $overlay0;
}

.sidebar-music-playbtn {
    min-width: 60px;
    min-height: 60px;
    margin: 15px;
    @include icon-segoe;
    border-radius: 15pt;
    font-size: 16pt;
    color: $inverseOnSurface;
}

.sidebar-music-trackbtn {
    @include icon-segoe;
    margin: 15px;
    border-radius: 10px;
    min-width: 30px;
    min-height: 30px;
}

.sidebar-music-trackbtn:hover {
    background-color: tint($overlay0, 30%);
}

.sidebar-music-trackbtn:active {
    background-color: tint($overlay0, 50%);
}

.sidebar-music-slider {
    border-radius: 9999px;
    margin: 20px;
    transition: 0ms cubic-bezier(0.05, 0.7, 0.1, 1);

    trough {
        min-height: 3px;
        min-width: 60px;
        border-radius: 99px;
        background-color: $surface2;
    }

    highlight {
        min-width: 3px;
        border-radius: 99px;
        background-color: shade(white, 20%);
        transition: 0ms cubic-bezier(0.05, 0.7, 0.1, 1);
    }

    slider {
        min-width: 5px;
        margin: -8px;
        border-radius: 99px;
        background-color: shade(white, 20%);
    }
}