.supercontext-window {
  transition: 0ms;
}

.supercontext-menu-topleft-false {
  transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1);
  border-top-left-radius: 150px;
  background: radial-gradient(circle at 100% 100%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, $primary 0%, $primary 0%, $primary 1%, $primary 1%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 1%);
}

.supercontext-menu-topright-false {
  transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1);
  border-top-right-radius: 150px;
  background: radial-gradient(circle at 0% 100%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, $tertiary 0%, $tertiary 0%, $tertiary 1%, $tertiary 1%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 1%);
}

.supercontext-menu-bottomleft-false {
  transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1);
  border-bottom-left-radius: 150px;
  background: radial-gradient(circle at 100% 0%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, $tertiary 0%, $tertiary 0%, $tertiary 1%, $tertiary 1%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 1%);
}

.supercontext-menu-bottomright-false {
  transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1);
  border-bottom-right-radius: 150px;
  background: radial-gradient(circle at 0% 0%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, $primary 0%, $primary 0%, $primary 1%, $primary 1%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 1%);
}

.supercontext-menu-topleft-true {
  transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1);
  border-top-left-radius: 150px;
  background: radial-gradient(circle at 100% 100%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 12%, rgba(0, 0, 0, 0) 12%, $primary 12%, $primary 12%, $primary 36%, $primary 36%, rgba(0, 0, 0, 0) 36%, rgba(0, 0, 0, 0) 36%);
}

.supercontext-menu-topright-true {
  transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1);
  border-top-right-radius: 150px;
  background: radial-gradient(circle at 0% 100%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 12%, rgba(0, 0, 0, 0) 12%, $tertiary 12%, $tertiary 12%, $tertiary 36%, $tertiary 36%, rgba(0, 0, 0, 0) 36%, rgba(0, 0, 0, 0) 36%);
}

.supercontext-menu-bottomleft-true {
  transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1);
  border-bottom-left-radius: 150px;
  background: radial-gradient(circle at 100% 0%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 12%, rgba(0, 0, 0, 0) 12%, $tertiary 12%, $tertiary 12%, $tertiary 36%, $tertiary 36%, rgba(0, 0, 0, 0) 36%, rgba(0, 0, 0, 0) 36%);
}

.supercontext-menu-bottomright-true {
  transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1);
  border-bottom-right-radius: 150px;
  background: radial-gradient(circle at 0% 0%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 12%, rgba(0, 0, 0, 0) 12%, $primary 12%, $primary 12%, $primary 36%, $primary 36%, rgba(0, 0, 0, 0) 36%, rgba(0, 0, 0, 0) 36%);
}