.themer-menu-box {
    @include window;
    background-color: $colorbg;
    border: 3px solid $border;
    // color: $colortext;
}

.themer-title {
    font-weight: bold;
    font-size: 15pt;
    padding: .6rem;
}

.themer-prompt {
    font-size: 12pt;
    padding: .6rem;
}

.themer-input {
    background-color: $surface0;
    border-radius: 10px;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid $colortext;
}