.winwin {
  background: rgba(40, 40, 40, 0.71);
  border-radius: 12px;
  border: 1px solid rgba(60, 60, 60, 0.4);
  border-top: 1px solid rgba(64, 64, 64, 0.5);
  margin: 12px;
}

.winwin-center {
  background: rgba(40, 40, 40, 0.71);
  border: 1px solid rgba(60, 60, 60, 0.4);
  border-bottom: 0px solid transparent;
  border-top: 1px solid rgba(30, 30, 30, 0.5);
  margin: 0px 12px;
}

.winwin-center-noseparator {
  background: rgba(40, 40, 40, 0.71);
  border: 1px solid rgba(60, 60, 60, 0.4);
  border-bottom: 0px solid transparent;
  border-top: 0px solid transparent;
  margin: 0px 12px;
}

.winwin-topbar {
  background: rgba(28, 28, 28, 0.71);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: 1px solid rgba(60, 60, 60, 0.4);
  border-bottom: 0px solid transparent;
  margin: 12px;
  margin-bottom: 0px;
}

.winwin-top {
  transition: 100ms cubic-bezier(0.05, 0.7, 0.1, 1);
  background: rgba(40, 40, 40, 0.71);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: 1px solid rgba(60, 60, 60, 0.4);
  border-top: 1px solid rgba(64, 64, 64, 0.5);
  border-bottom: 0px solid transparent;
  margin: 12px;
  margin-bottom: 0px;
}

.winwin-bottom {
  background: rgba(28, 28, 28, 0.7);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid rgba(60, 60, 60, 0.4);
  border-top: 1px solid rgba(30, 30, 30, 0.5);
  margin: 12px;
  margin-top: 0px;
}

.winwin-bottom-light {
  transition: 100ms cubic-bezier(0.05, 0.7, 0.1, 1);
  background: rgba(40, 40, 40, 0.71);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid rgba(60, 60, 60, 0.4);
  border-top: 0px solid transparent;
  margin: 12px;
  margin-top: 0px;
}

.winwin-bottom-pad {
  padding: 6px 12px;
}

.winstart-bottom-pad {
  padding: 0px 43px;
}

.winbar-bg {
  background: rgba(25, 25, 25, 0.7);
  background-image: url('images/textures/acrylic.png');
  background-blend-mode: luminosity;

  min-height: 50px;
  border-top: 1px solid rgba(64, 64, 64, 0.8);
  animation-name: flyin-bottom;
  animation-duration: 350ms;
  animation-timing-function: cubic-bezier(0.05, 0.7, 0.1, 1);
  animation-iteration-count: 1;
}

.winbutton-pad {
  padding: 3px;
  // min-width: 42px;
  min-height: 42px;
}

.winbutton-only {
  :first-child {
    :first-child {
      border-radius: 6px;
      border: 1px solid transparent;
      border-top: 1px solid transparent;
    }
  }
}

.winbutton-only:hover {
  :first-child {
    :first-child {
      background-color: shade($overlay0, 2%);
      border: 1px solid $overlayedge;
      border-top: 1px solid tint($overlayedge, 5%);
    }
  }
}

.winbutton-only:active {
  :first-child {
    :first-child {
      background-color: tint($overlay0, 8%);
      border: 1px solid tint($overlayedge, 10%);
      border-top: 1px solid tint($overlayedge, 15%);
    }
  }
}

.winnotif-text {
  background-color: transparent;
  font-size: 12pt;
  font-family: 'Segoe UI Variable Regular';
  font-weight: 500;
  margin: 1px;
}

.winnotif-bodytext {
  color: #CDCDCD;
}

.winbartext {
  background-color: transparent;
  font-size: 11pt;
  font-family: 'Segoe UI Variable Regular';
  font-weight: 500;
}

.wintoggle-text {
  background-color: transparent;
  font-size: 10pt;
  font-family: 'Segoe UI Variable Regular';
  font-weight: 500;
}

.winstarticon-true {
  background-size: 60%;
  background-position: center;
  background-image: url('images/icons/win.png');
  min-width: 42px;
  min-height: 42px;
  border-radius: 6px;
  border: 1px solid transparent;
  border-top: 1px solid transparent;
}

.winstarticon-false {
  background-size: 60%;
  background-position: center;
  background-image: url('images/icons/win-inactive.png');
  min-width: 42px;
  min-height: 42px;
  border-radius: 6px;
  border: 1px solid transparent;
  border-top: 1px solid transparent;
}

.winbaricon {
  background-size: 60%;
  background-position: center;
  min-width: 42px;
  min-height: 42px;
  border-radius: 6px;
  border: 1px solid transparent;
  border-top: 1px solid transparent;
}

.thewinbutton:active {
  :first-child {
    :first-child {
      background-size: 50%;
      background-image: url('images/icons/win-clicked.png');
    }
  }
}

.wintaskbaricon {
  background-size: 60%;
  background-position: center;
  min-width: 42px;
  min-height: 42px;
  border-radius: 6px;
  border: 1px solid transparent;
  border-top: 1px solid transparent;
}

.wintaskbaricon-false {
  background-size: 70%;
  background-position: center;
  min-width: 42px;
  min-height: 42px;
  border-radius: 6px;
  border: 1px solid transparent;
  border-top: 1px solid transparent;
}

.wintaskbaricon-true {
  background-size: 70%;
  background-position: center;
  min-width: 42px;
  min-height: 42px;
  border-radius: 6px;
  border: 1px solid transparent;
  border-top: 1px solid transparent;
}

.wintaskbar-indicator-true {
  border-radius: 6px;
  border: 1px solid transparent;
  border-top: 1px solid transparent;
  margin-bottom: 4px;
  margin-top: 43px;
  margin-left: 16px;
  margin-right: 16px;
  background-color: $primary;
}

.wintaskbar-indicator-false {
  border-radius: 6px;
  border: 1px solid transparent;
  border-top: 1px solid transparent;
  margin-bottom: 4px;
  margin-top: 43px;
  margin-left: 22px;
  margin-right: 22px;
  background-color: #9C98A3;
}

.winbutton-only:active {
  :first-child {
    :first-child {
      background-size: 50%;
    }
  }
}

.wintimedate {
  min-width: 42px;
  min-height: 42px;
  border-radius: 6px;
  border: 1px solid transparent;
  border-top: 1px solid transparent;
  padding: 0 10px;
}

.winbutton-true {
  background-color: shade($overlay0, 2%);
  border: 1px solid $overlayedge;
  border-top: 1px solid tint($overlayedge, 5%);
}

.winicon {
  background-position: center;
  min-height: 42px;
  min-width: 30px;
}

.winwifi {
  background-image: url('images/svg/dark/wifi.svg');
}

.winwifi1 {
  background-image: url('images/svg/dark/wifi1.svg');
}

.winwifi2 {
  background-image: url('images/svg/dark/wifi2.svg');
}

.winwifi3 {
  background-image: url('images/svg/dark/wifi3.svg');
}

.winwifi4 {
  background-image: url('images/svg/dark/wifi4.svg');
}

.winwifi-activated {
  background-image: url('images/svg/light/wifi.svg');
}

.winwifi1-activated {
  background-image: url('images/svg/light/wifi1.svg');
}

.winwifi2-activated {
  background-image: url('images/svg/light/wifi2.svg');
}

.winwifi3-activated {
  background-image: url('images/svg/light/wifi3.svg');
}

.winwifi4-activated {
  background-image: url('images/svg/light/wifi4.svg');
}

.winbat0 {
  background-image: url('images/svg/dark/bat0.svg');
}

.winbat1 {
  background-image: url('images/svg/dark/bat1.svg');
}

.winbat2 {
  background-image: url('images/svg/dark/bat2.svg');
}

.winbat3 {
  background-image: url('images/svg/dark/bat3.svg');
}

.winbat4 {
  background-image: url('images/svg/dark/bat4.svg');
}

.winbat5 {
  background-image: url('images/svg/dark/bat5.svg');
}

.winbat6 {
  background-image: url('images/svg/dark/bat6.svg');
}

.winbat7 {
  background-image: url('images/svg/dark/bat7.svg');
}

.winbat8 {
  background-image: url('images/svg/dark/bat8.svg');
}

.winbat9 {
  background-image: url('images/svg/dark/bat9.svg');
}

.winbat10 {
  background-image: url('images/svg/dark/bat10.svg');
}

.winbatcharge {
  background-image: url('images/svg/dark/batcharge.svg');
}

.winvol0 {
  background-image: url('images/svg/dark/vol0.svg');
}

.winvol1 {
  background-image: url('images/svg/dark/vol1.svg');
}

.winvol2 {
  background-image: url('images/svg/dark/vol2.svg');
}

.winvol3 {
  background-image: url('images/svg/dark/vol3.svg');
}

.winvolmute {
  background-image: url('images/svg/dark/volmute.svg');
}

.winbrightness {
  background-image: url('images/svg/dark/brightness.svg');
}

.winbluetooth {
  background-image: url('images/svg/dark/bluetooth.svg');
}

.winbluetooth-false {
  background-image: url('images/svg/dark/bluetoothfalse.svg');
}

.winbluetooth-true {
  background-image: url('images/svg/light/bluetoothtrue.svg');
}

.winbluetooth {
  background-image: url('images/svg/light/bluetooth.svg');
}

.winbluetooth-false {
  background-image: url('images/svg/dark/bluetoothfalse.svg');
}

.winbluetooth-true {
  background-image: url('images/svg/dark/bluetoothtrue.svg');
}

.winactions-airplane {
  background-image: url('images/svg/dark/airplane.svg');
}

.winactions-nightlight-activated {
  background-image: url('images/svg/light/night.svg');
}

.winactions-nightlight {
  background-image: url('images/svg/dark/brightness.svg');
}

.wincog {
  background-image: url('images/svg/dark/cog.svg');
}

.winbell {
  background-image: url('images/svg/dark/notif.svg');
}

.winreset {
  background-image: url('images/svg/dark/reset.svg');
}

.winnotifsnooze {
  background-image: url('images/svg/dark/notifsnooze.svg');
}

.winapp {
  background-image: url('images/svg/dark/app.svg');
}

.wincaretup {
  background-image: url('images/svg/dark/caretup.svg');
}

.wincaretdown {
  background-image: url('images/svg/dark/caretdown.svg');
}

.winsearch-icon {
  background-image: url('images/svg/dark/search-fluent.svg');
}

.winstart-search-searchbox-icon {
  background-size: 100%;
  background-position: center;
  min-height: 21px;
  min-width: 21px;
  margin-left: 4px;
  margin-right: 10px;
}

.winactions-togglerow {
  margin: 12px;
  margin-bottom: 0px;
}

.winactions-sliderrow {
  margin: 0 12px;
}

.winactions-media-pad {
  padding: 25px;
}

.winactions-toggle {
  background-color: shade($overlay0, 2%);
  border-radius: 6px;
  border: 1px solid $overlayedge;
  border-top: 1px solid tint($overlayedge, 5%);
  margin: 12px;
  min-height: 50px;
  min-width: 98px;
}

.winactions-toggle-true {
  background-color: $primary;
}

.winactions-toggle-icon {
  min-width: 21px;
  min-height: 21px;
  background-position: center;
  background-repeat: no-repeat;
  // background-size: auto 45%;
}

.winactions-toggle-icon:hover {
  background-color: $hover0;
}

.winactions-toggle-icon:active {
  background-color: tint($hover0, 10%);
}

.winactions-toggle-icon-center {
  border-radius: 6px;
}

.winactions-toggle-icon-left {
  min-width: 21px;
  min-height: 21px;
  background-position: center;
  background-repeat: no-repeat;
  // background-size: auto 45%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 1px solid tint($overlayedge, 5%);
}

.winactions-toggle-icon-right {
  min-width: 21px;
  min-height: 21px;
  background-position: center;
  background-repeat: no-repeat;
  // background-size: auto 45%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-right: 1px solid tint($overlayedge, 5%);
}

.winactions-toggle-icon-left:hover {
  background-color: $hover0;
}

.winactions-toggle-icon-right:hover {
  background-color: $hover0;
}

.winactions-toggle-icon-left:active {
  background-color: tint($hover0, 10%);
}

.winactions-toggle-icon-right:active {
  background-color: tint($hover0, 10%)
}

.winactions-toggle-arrow {
  background-image: url('images/svg/dark/rightarrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  // background-size: 40%;
}

.winactions-toggle-arrow-activated {
  background-image: url('images/svg/light/rightarrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  // background-size: 40%;
}

.winactions-element {
  margin: 12px;
}

.winslider {
  border-radius: 9999px;
  transition: 0ms cubic-bezier(0.05, 0.7, 0.1, 1);

  trough {
    border-radius: 9999px;
    background-color: #A69999;
    min-height: 4px;
    transition: 0ms cubic-bezier(0.05, 0.7, 0.1, 1);
  }

  highlight {
    border-radius: 9999px;
    background-color: $primary;
    background-image: linear-gradient(45deg, $primary 0%, $primary 100%);
    transition: 0ms cubic-bezier(0.05, 0.7, 0.1, 1);
  }

  slider {
    border-radius: 9999px;
    border: 5px solid #454545;
    min-height: 11px;
    min-width: 11px;
    background-color: $primary;
    margin: -8px;
    transition: 0ms cubic-bezier(0.05, 0.7, 0.1, 1);
  }

  slider:hover {
    border-radius: 9999px;
    border: 4px solid #454545;
    min-height: 13px;
    min-width: 13px;
    background-color: $primary;
    margin: -8px;
  }

  slider:active {
    border-radius: 9999px;
    border: 6px solid #454545;
    min-height: 9px;
    min-width: 9px;
    background-color: $primary;
    margin: -8px;
  }

  // slider:focus {
  //     background-color: $primary;
  // }
}

.winslider-winactions {
  margin: 0 9px;

  trough {
    min-width: 287px;
  }
}

.winnotif-badge {
  border-radius: 9999px;
  min-width: 20px;
  min-height: 20px;
  background-color: $primary;
  color: #000000;
  margin-left: 10px;
}

.winnotif-notif {
  background-color: rgba(55, 55, 55, 0.6);
  border-radius: 6px;
  border: 1px solid rgba(30, 30, 30, 0.2);
  margin: 4px;
  padding: 13px;
}

.winnotif-notif-icon {
  background-position: center center;
  min-height: 20px;
  min-width: 20px;
  margin: 8px;
}

.winnotif-appname {
  margin: 8px;
  background-color: transparent;
  font-size: 11pt;
  font-family: 'Segoe UI Variable Regular';
  font-weight: 500;
}

.winnotif-title {
  margin: 17px;
}

.winnotif-button {
  background-size: 50% auto;
  background-color: rgba(75, 75, 75, 0.25);
  background-position: center;
  border-radius: 6px;
  border: 1px solid $overlayedge;
  border-top: 1px solid tint($overlayedge, 5%);
  margin: 12px 3px;
  padding: 6px;
  min-width: 20px;
  min-height: 20px;
}

.winnotif-button:hover {
  background-color: rgba(95, 95, 95, 0.4);
}

.winnotif-button:active {
  background-color: tint(rgba(95, 95, 95, 0.4), 20%);
}

.wincalendar-title {
  border-radius: 9999px;
  font-size: 12pt;
  font-family: 'Segoe UI Variable Regular';
  font-weight: 500;
  margin: 1px;
  min-height: 44px;
  min-width: 44px;
  margin: 3px;
}

.wincalendar-button {
  border-radius: 9999px;
  font-size: 12pt;
  font-family: 'Segoe UI Variable Regular';
  font-weight: 500;
  margin: 1px;
  min-height: 44px;
  min-width: 44px;
  margin: 3px;
}

.wincalendar-text {
  border-radius: 9999px;
  font-size: 11pt;
  font-family: 'Segoe UI Variable Regular';
  font-weight: 500;
  min-height: 44px;
  min-width: 44px;
  margin: 3px;
}

.day-1 {
  background-color: transparent;
  color: #7C7C7C;
}

.day0 {
  background-color: transparent;
  color: white;
}

.day-1:hover {
  background-color: rgba(75, 75, 75, 0.5);
}

.day0:hover {
  background-color: rgba(75, 75, 75, 0.5);
}

.day-1:active {
  background-color: tint(rgba(75, 75, 75, 0.5), 10%);
}

.day0:active {
  background-color: tint(rgba(75, 75, 75, 0.5), 10%);
}

.day1 {
  background-color: $primary;
  color: #000000;
}

.day1:hover {
  background-color: tint($primary, 10%);
}

.day1:active {
  background-color: tint($primary, 20%);
}

.winarrow-up {
  background-image: url('images/svg/dark/uparrow.svg');
}

.winarrow-down {
  background-image: url('images/svg/dark/downarrow.svg');
}

.winactions-bottom-button {
  background-color: transparent;
  border-radius: 6px;
  // border: 1px solid transparent;
  // border-top: 1px solid transparent;
  min-width: 42px;
  min-height: 42px;
}

.winactions-bottom-button:hover {
  background-color: rgba(75, 75, 75, 0.5);
}

.winactions-bottom-button:active {
  background-color: tint(rgba(75, 75, 75, 0.5), 10%);
}

.winnotif-calendar {
  background: rgba(40, 40, 40, 0.6);
  border: 1px solid rgba(60, 60, 60, 0.4);
  border-bottom: 0px solid transparent;
  border-top: 1px solid rgba(30, 30, 30, 0.5);
  margin: 0px 12px;
}

.winnotif-monthbutton {
  // background-size: 80% auto;
  background-color: transparent;
  background-position: center;
  border-radius: 6px;
  margin: 12px 3px;
  padding: 6px;
  min-width: 20px;
  min-height: 20px;
}

.winnotif-monthbutton:hover {
  background-color: rgba(95, 95, 95, 0.4);
}

.winnotif-monthbutton:active {
  background-color: tint(rgba(95, 95, 95, 0.4), 10%);
}

.winstart-search-contents {
  font-size: 11pt;
  font-family: 'Segoe UI Variable Regular';
  font-weight: 500;
  background-color: transparent;
  border-radius: 6px;
  border: 0px solid transparent;
  padding: 11px;
  margin: 34px;
  margin-left: 69px;

  selection {
    background-color: tint($primary, 50%);
    color: #1e1e1e;
  }
}

.winstart-search-accent {
  min-height: 2px;
  background-color: $primary;
  border-bottom-left-radius: 99px;
  border-bottom-right-radius: 99px;
  margin: 34px 36px;
  margin-bottom: 34px;
}

.winstart-search-prompt {
  background-color: rgba(34, 32, 39, 0.5);
  border-radius: 6px;
  border: 1px solid rgba(60, 60, 60, 0.4);
  padding: 11px;
  margin: 34px;
}

.winstart-search-prompt-text {
  font-size: 11pt;
  font-family: 'Segoe UI Variable Regular';
  font-weight: 500;
  color: #CCCCCC;
}

.winstart-button-allapps {
  background-color: rgba(75, 75, 75, 0.25);
  border-radius: 6px;
  border: 1px solid $overlayedge;
  border-top: 1px solid tint($overlayedge, 5%);
  padding: 6px;
  min-width: 20px;
  min-height: 20px;
}

.winstart-button-allapps:hover {
  background-color: rgba(95, 95, 95, 0.4);
}

.winstart-button-allapps:active {
  background-color: tint(rgba(95, 95, 95, 0.4), 20%);
}

.winstart-allapps-arrow {
  background-image: url('images/svg/dark/rightarrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  min-width: 15px;
  min-width: 15px;
  margin-left: 8px;
  background-size: 90%;
}

.winstart-allapps-icon {
  font-family: 'Material Symbols Rounded';
  font-size: 13pt;
  font-weight: 300;
}

.winstart-section {
  background-color: transparent;
  font-size: 11.4pt;
  font-family: 'Segoe UI Variable Regular';
  font-weight: 700;
}

.winstart-pinnedapps {
  margin: 12px 34px;
}

.winsearch-section-box {
  margin: 0 72px;
  margin-bottom: 12px;
}

.winstart-pinnedapps-entry-pad {
  padding-top: 11px;
}

.winstart-pinnedapps-entry {
  min-width: 101px;
  min-height: 88px;
  border-radius: 6px;
}

.winstart-pinnedapps-entry:hover {
  background-color: rgba(95, 95, 95, 0.6);
}

.winstart-pinnedapps-icon {
  min-width: 33px;
  min-height: 33px;
}

.winstart-recommended {
  margin: 0px 60px;
  margin-bottom: 33px;
}

.winstart-recommended-entry {
  // min-width: 285.67px;
  min-height: 59px;
  border-radius: 6px;
}

.winstart-recommended-entry:hover {
  background-color: rgba(49, 49, 49, 0.45);
}

.winstart-recommended-entry-pad {
  min-width: 266.67px;
  min-height: 59px;
  border-radius: 6px;
}

.winstart-recommended-icon {
  min-width: 33px;
  min-height: 33px;
  margin: 13px;
}

.winstart-recommended-text {
  margin: 13px 0px;
}

.winstart-recommended-name {
  color: white;
}

.winstart-recommended-subtext {
  color: #C1C1C1;
}

.winstart-user {
  border-radius: 6px;
  padding: 5px 16px;
  margin: 14px;
}

.winstart-user:hover {
  background-color: rgba(49, 49, 49, 0.7);
}

.winstart-user-icon {
  min-width: 33px;
  min-height: 33px;
  border-radius: 9999px;
  background: white;
  background-image: url('images/svg/light/user.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.winstart-power-icon {
  background-size: 53%;
  // background-image: url('images/svg/dark/power.svg');
  background-position: center;
  background-repeat: no-repeat;
  min-width: 43px;
  min-height: 43px;
  border-radius: 6px;
  margin: 14px;
}

.winstart-power-icon-true {
  background-color: rgba(49, 49, 49, 0.7);
}

.winstart-power-icon:hover {
  background-color: rgba(49, 49, 49, 0.7);
}

.winstart-allapps-box {
  padding: 0 55px;
}

.winstart-allapps-app-pad {
  padding-top: 11px;
}

.winstart-allapps-app {
  border-radius: 6px;
  min-height: 42px;
  min-width: 564px;
}

.winstart-allapps-app:hover {
  background-color: rgba(49, 49, 49, 0.45);
}

.winstart-allapps-app-icon {
  margin: 8px;
}

.winstart-allapps-appname {
  margin-left: 15px;
}

.winsearch-pad {
  margin-left: 34px;
  margin-right: 34px;
}

.winsearch-actions-box {
  background-color: rgba(73, 73, 73, 0.5);
  border-radius: 9px;
}

.winsearch-tag-strip {
  min-height: 34px;
  margin: 0 34px;
  margin-bottom: 3px;
}

.winsearch-tag {
  background-color: rgba(73, 73, 73, 0.25);
  border-radius: 9999px;
  padding: 10px 15px;
  margin: 0 3px;
}

.winsearch-tag-false {
  background-color: rgba(73, 73, 73, 0.25);
  border-radius: 9999px;
  padding: 10px 15px;
  margin: 0 3px;
}

.winsearch-tag-true {
  background-color: $primary;
  color: $onPrimary;
  border-radius: 9999px;
  padding: 10px 15px;
  margin: 0 3px;
}

.winsearch-result {
  border-radius: 6px;
  margin: 2px;
  min-height: 42px;
  padding: 0 12px;
  padding-left: 57px;
  caret-color: transparent;

  border-left: 3px solid transparent;
  // border-top: 2px solid transparent;
  // border-bottom: 2px solid transparent;

  font-size: 11pt;
  font-family: 'Segoe UI Variable Regular';
  font-weight: 500;

  selection {
    background-color: transparent;
  }

  background-position: -0.5% center;
  background-size: auto 65%;
  background-image: url('images/svg/linetransparent.svg');
}

.winsearch-result:focus {
  background-color: rgba(73, 73, 73, 0.25);
  background-position: -0.5% center;
  background-size: auto 65%;
  background-image: url('images/svg/linevertical.svg');

  // border-left: 3px solid $primary;
  // border-top: 2px solid transparent;
  // border-bottom: 2px solid transparent;
}

.winsearch-result-icon {
  margin-left: 13px;
}

.winsearch-result-icon-big {
  margin-top: 34px;
  margin-bottom: 14px;
}

.winsearch-section {
  min-height: 38px;
  margin-left: 13px;
}

.winsearch-result-actions-title {
  font-size: 13pt;
  font-family: 'Segoe UI Variable Regular';
  font-weight: 500;
  color: white;
}

.winsearch-result-actions-subtext {
  font-size: 11pt;
  font-family: 'Segoe UI Variable Regular';
  font-weight: 500;
  color: #8E8D8F;
  margin-bottom: 8px;
}

.winsearch-separator {
  min-height: 3px;
  background-color: rgba(73, 73, 73, 0.25);
  border: 1px rgba(73, 73, 73, 0.4);
  margin: 21px 17px;
}

.winsearch-actions-icon {
  margin-left: 13px;
}

.winsearch-actions-button {
  border-radius: 6px;
  min-height: 34px;
  margin: 0 17px;
}

.winsearch-actions-button:hover {
  background-color: rgba(108, 108, 108, 0.25);
}

.winsearch-actions-button:focus {
  background-color: rgba(108, 108, 108, 0.25);
}

.winsearch-actions-button:active {
  background-color: tint(rgba(108, 108, 108, 0.25), 5%);
}

.winosd-window {
  margin: 5px;
  border-radius: 9px;
  min-width: 10px;
  min-height: 40px;
}

.winosd-var-shape {
  padding: 7px;
  min-width: 100px;
  min-height: 37px;
  border-radius: 9px;
  margin: 12px;
}

.winosd-var {
  padding: 7px;
  min-width: 100px;
  min-height: 37px;
  background: rgba(45, 46, 48, 0.8);
  background-image: url('images/textures/acrylic.png');
  border-radius: 15px;
  // border: 1px solid rgba(60, 60, 60, 0.4);
  // border-top: 1px solid rgba(64, 64, 64, 0.5);
  border: 1px solid rgba(34, 35, 38, 0.5);
  margin: 14px;
}

.winslider-osd {
  border-radius: 9999px;
  margin: 0 9px;
  transition: 0ms cubic-bezier(0.05, 0.7, 0.1, 1);

  trough {
    border-radius: 9999px;
    background-color: #A69999;
    min-height: 4px;
    min-width: 116px;
    transition: 0ms cubic-bezier(0.05, 0.7, 0.1, 1);
  }

  highlight {
    border-radius: 9999px;
    background-color: $primary;
    background-image: linear-gradient(45deg, $primary 0%, $primary 100%);
    transition: 0ms cubic-bezier(0.05, 0.7, 0.1, 1);
  }
}

.win-segoeicon {
  font-family: 'Segoe Fluent Icons';
  font-weight: bold;
}

.winpower-window {
  padding: 5px;
  background: rgba(40, 40, 40, 0.71);
  border-radius: 12px;
  border: 1px solid rgba(60, 60, 60, 0.4);
  border-top: 1px solid rgba(64, 64, 64, 0.5);
  margin: 12px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.65);
}

.winpower-buttonicon {
  padding: 10px;
  min-width: 20px;
  min-height: 20px;
}

.winpower-button {
  background-color: transparent;
  border-radius: 6px;
  // border: 1px solid transparent;
  // border-top: 1px solid transparent;
  min-width: 42px;
  min-height: 42px;
  // margin: 0 5px;
}

.winpower-button:hover {
  background-color: rgba(75, 75, 75, 0.5);
}

.winpower-button:active {
  background-color: tint(rgba(75, 75, 75, 0.5), 10%);
}

.wingamebar-overlay {
  background-color: rgba(10, 10, 10, 0.4);
}

.wingamebar-window {
  background: #252525;
  border-radius: 10px;
  border: 1px solid $overlay0;
  transition: 100ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

.wingamebar-titlebar {
  background: #1C1C1C;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 2px $overlay0;
  padding: 10px;
}

.wingamebar-icon {
  font-family: 'Segoe Fluent Icons';
  font-size: 10pt;
  font-weight: bold;
}

.wingamebar-text {
  font-family: 'Bahnschrift';
  font-size: 12pt;
  font-weight: 500;
}

.wingamebar-text-small {
  font-size: 10pt;
}

.wingamebar-text-clock {
  font-size: 17pt;
  margin: 17px;
}

.wingamebar-text-bigmetric {
  font-size: 25pt;
}

.wingamebar-content {
  padding: 8px 17px;
}

.wingamebar-capture {
  padding: 17px;
}

.wingamebar-capture-button {
  min-width: 57px;
  min-height: 57px;
  background: #3A3A3A;
  border: 1px solid #3A3A3A;
  border-radius: 9999px;
}

.wingamebar-capture-button:hover {
  border: 1px solid white;
}

.wingamebar-capture-button-unavailable {
  min-width: 55px;
  min-height: 55px;
  background: #282828;
  border: 2px solid #282828;
  border-radius: 9999px;
}

.wingamebar-subtext {
  color: #A8A8A8;
}

.wingamebar-capture-bottom {
  border-top: 1px solid #373737;
  padding: 8px 17px;
  color: #DEDEDE;
}

.wingamebar-button-pad:hover {
  :first-child {
    background-color: $overlay0;
  }
}

.wingamebar-button:hover {
  background-color: $overlay0;
}

.wingamebar-capture-bottom {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.wingamebar-navbar {
  min-height: 35px;
  border-bottom: 2px solid #333333;
  padding: 0 17px;
}

.wingamebar-navbar-button {
  min-height: 35px;
  min-width: 75px;
  margin-bottom: -2px;
  background-image: url('images/svg/dark/linehorizontal.svg');
  background-position: bottom;
  background-size: 100% auto;
}

.wingamebar-audio-sys {
  padding: 17px;
  border-bottom: 2px solid #333333;
}

.winslider-gamebar-sys {
  margin: 0 5px;

  trough {
    min-width: 260px;
  }
}

.winslider-gamebar-app {

  // margin: 0 5px;
  trough {
    min-width: 205px;
    margin: 0 3px;
  }
}

.wingamebar-audio-appicon {
  margin-left: 17px;
  margin-bottom: 5px;
}

.wingamebar-control-button {
  min-width: 59px;
  min-height: 59px;
  border-radius: 6px;
  margin: 5px;
}

.wingamebar-control-button:hover {
  background-color: $hover0;
}

.wingamebar-control-button-active {
  min-width: 59px;
  min-height: 59px;
  border-radius: 6px;
  margin: 5px;
  background-size: auto 4%;
  background-position: 0% 93%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 21%, $primary 21%, $primary 79%, rgba(0, 0, 0, 0) 79%, rgba(0, 0, 0, 0) 100%);
}

.wingamebar-control-button-active:hover {
  background-color: $hover0;
}

.wingamebar-control-sidesection-left {
  background-color: #1C1C1C;
  min-height: 68px;
  min-width: 68px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.wingamebar-control-sidesection-right {
  background-color: #1C1C1C;
  min-height: 68px;
  min-width: 68px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.wingamebar-control-button {
  font-size: 15pt;
}

.wingamebar-performance-metricscolumn {
  min-width: 100px;
}

.wingamebar-performance-metric-false {
  min-height: 25px;
  padding: 0 17px;
}

.wingamebar-performance-metric-true {
  min-height: 25px;
  background-color: #3C3C3C;
  padding: 0 17px;
}

.wingamebar-performance-grapharea {
  border-bottom-right-radius: 10px;
}

.wingamebar-performance-graphpad {
  padding: 17px;
}

.wingamebar-performance-graph-graphpad {
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 17px;
  padding-right: 17px;
}

.wingamebar-graph {
  color: $primary;
}

.winnews-topbar {
  margin: 25px;
  margin-bottom: 13px;
}

.winnews-user {
  border-radius: 9999px;
}

.winnews-user:hover {
  background-color: rgba(49, 49, 49, 0.7);
}

.winnews-title {
  font-family: 'Segoe UI Variable Regular';
  font-size: 12pt;
  font-weight: bold;
  font-size: 16pt;
  margin-right: 20px;
}

.winnews-clock {
  font-family: 'Segoe UI Variable Regular';
  font-size: 12pt;
  font-weight: 500;
  font-size: 16pt;
  margin-right: 20px;
}

.winnews-search-prompt {
  background-color: rgba(34, 32, 39, 0.5);
  border-radius: 9999px;
  border: 1px solid rgba(60, 60, 60, 0.4);
  padding: 5px;
}

.winnews-search-prompt-text {
  font-size: 11pt;
  font-family: 'Segoe UI Variable Regular';
  font-weight: 500;
  color: #CCCCCC;
}

.winnews-search-contents {
  font-size: 11pt;
  font-family: 'Segoe UI Variable Regular';
  font-weight: 500;
  background-color: transparent;
  border-radius: 6px;
  border: 0px solid transparent;
  // padding: 11px;
  // margin: 34px;
  margin-left: 37px;

  selection {
    background-color: tint($primary, 50%);
    color: #1e1e1e;
  }
}

.winnews-widgets {
  margin: 0 46px;
  margin-top: 4px;
}

.winnews-section-icon {
  color: $onSecondaryContainer;
  font-family: 'Material Symbols Rounded';
  font-size: 20pt;
  min-width: 42px;
  min-height: 42px;
  border-radius: 6px;
  margin: 5px;
}

.winnews-widget {
  border-radius: 9px;
  background-color: $onSecondary;
  padding-bottom: 10px;
}

.winnews-widget-nopad {
  border-radius: 9px;
  background-color: $onSecondary;
}

.winnews-section {
  color: $onSecondaryContainer;
  font-family: 'Segoe UI Variable Regular';
  font-size: 15pt;
  font-weight: bold;
  margin: 5px;
}

.winnews-text {
  margin: 5px 0px;
  background-repeat: no-repeat;
  color: $onBackground;
  font-family: 'Segoe UI Variable Regular';
  font-size: 12pt;
}

.winnews-option {
  padding: 0 17px;
  margin-left: 43px;
}

.winslider-winnews {
  margin: 0 5px;
  min-height: 21px;

  trough {
    min-width: 260px;
  }
}

.win-checkbox-0 {
  margin: 5px 0px;
  border-radius: 9999px;
  min-width: 26px;
  min-height: 26px;
  background: url('images/svg/checkbox_no.svg');
  background-repeat: no-repeat;
  color: transparent;
}

.win-checkbox-1 {
  margin: 5px 0px;
  border-radius: 9999px;
  min-width: 26px;
  min-height: 26px;
  background: url('images/svg/checkbox.svg');
  background-repeat: no-repeat;
  color: transparent;
}

.winnews-fetch-pad {
  padding: 0 17px;
  padding-left: 15px;
}

.winnews-fetch-icon {
  color: $primary;
  font-size: 16pt;
  font-family: Material Symbols Rounded;
}

.winnews-fetch {
  font-size: 15pt;
}

.winnews-waifu {
  min-width: 380px;
  min-height: 380px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-size: 100% auto;
  background-position: top;
}

.winnews-title-right {
  margin-right: 15px;
}

.winnews-link {
  color: #89B4FA;
}

.wintaskview-bg {
  // background-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(50, 63, 83, 0.2);
}

.wintaskview-workspaces-bg {
  border-radius: 9px;
  background-color: rgba(15, 15, 15, 0.75);
  margin: 10px;
  min-height: 60px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.65);
}

.wintaskview-text {
  background-color: transparent;
  font-size: 11pt;
  font-family: 'Segoe UI Variable Regular';
  font-weight: 500;
  margin: 1px;
  color: white;
}

.wintaskview-workspace-bg {
  background-size: 100% auto;
  background-position: center;
  border-radius: 5px;
}

.taskview-ws {
  margin: 4px;
  padding: 8px 12px;
  background-size: 17% 2%;
  background-position: bottom;
}

.taskview-ws-true {
  background-color: rgba(75, 75, 75, 0.6);
  border-radius: 9px;
  border: 1px solid $overlayedge;
  border-top: 1px solid tint($overlayedge, 5%);

  background-image: url('images/svg/linehorizontal.svg');
}

.taskview-ws-false {
  background-color: transparent;
  border-radius: 9px;
  border: 1px solid transparent;
}

.taskview-ws-window {
  border-radius: 5px;
  background-color: #2C2C2C;
  border: 1px solid $surface0;
  border-top: 1px solid tint($surface0, 5%);
}

.taskview-thisws-window {
  border-radius: 12px;
  background-color: rgba(22, 22, 22, 0.85);
  color: white;
}

.wintaskview-thisws-window-close {
  color: white;
  font-size: 15pt;
}

.taskview-thisws-window-thumbnail {
  border-radius: 4px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #202020;
  margin: 1px;
}

.winactions-media-cover {
  border-radius: 5px;
  min-height: 45px;
  min-width: 45px;
  background-size: auto 100%;
  background-position: center;
}

.winactions-media-title {
  color: white;
  background-color: transparent;
  font-size: 12pt;
  font-family: 'Segoe UI Variable Regular';
  font-weight: 500;
}

.winactions-media-artist {
  color: white;
  background-color: transparent;
  font-size: 11pt;
  font-family: 'Segoe UI Variable Regular';
  font-weight: 500;
}

.winactions-media-button {
  font-size: 14pt;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: -5px;
}

.winactions-media-button:hover {
  background-color: rgba(95, 95, 95, 0.6);
}

.winactions-media-button:active {
  background-color: rgba(100, 100, 100, 0.8);
}

.winwin-shadow {
  margin: 12px;
  border-radius: 12px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.65);
  // box-shadow: 0px 8px 10px red;
}

.winwin-topbar-shadow {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin: 12px;
  margin-bottom: 0px;
  margin-top: 6px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.65);
}

.winwin-center-shadow {
  margin: 0px 12px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.65);
}

.winwin-center-noseparator-shadow {
  margin: 0px 12px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.65);
}

.winwin-topbar-shadow {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin: 12px;
  margin-bottom: 0px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.65);
}

.winwin-top-shadow {
  transition: 100ms cubic-bezier(0.05, 0.7, 0.1, 1);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin: 12px;
  margin-bottom: 0px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.65);
}

.winwin-bottom-shadow {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 12px;
  margin-top: 0px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.65);
}

.winwin-bottom-light-shadow {
  transition: 100ms cubic-bezier(0.05, 0.7, 0.1, 1);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 12px;
  margin-top: 0px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.65);
}

.winnewsicon {
  background-position: center;
  background-image: url('images/icons/winnews.png');
  min-width: 42px;
  min-height: 42px;
  border-radius: 6px;
  border: 1px solid transparent;
  border-top: 1px solid transparent;
}

.winnewsicon-interaction:active {
  :first-child {
    :first-child {
      background-image: url('images/icons/winnews-clicked.png');
    }
  }
}

.wintaskviewicon {
  background-position: center;
  background-size: 60%;
  background-image: url('images/icons/wintaskview.png');
  min-width: 42px;
  min-height: 42px;
  border-radius: 6px;
  border: 1px solid transparent;
  border-top: 1px solid transparent;
}

.wintaskviewicon-interaction:active {
  :first-child {
    :first-child {
      background-size: 50%;
      background-image: url('images/icons/wintaskview-clicked.png');
    }
  }
}

.winbarbutton-h {
  :first-child {
    :first-child {
      border-radius: 6px;
      border: 1px solid transparent;
      border-top: 1px solid transparent;
    }
  }
}

.winbarbutton-h:hover {
  :first-child {
    :first-child {
      background-color: shade($overlay0, 2%);
      border: 1px solid $overlayedge;
      border-top: 1px solid tint($overlayedge, 5%);
    }
  }
}

.winbarbutton-h:active {
  :first-child {
    :first-child {
      background-color: tint($overlay0, 8%);
      border: 1px solid tint($overlayedge, 10%);
      border-top: 1px solid tint($overlayedge, 15%);
    }
  }
}

.wintray-button {
  border-radius: 6px;
  border: 1px solid $overlayedge;
  border-top: 1px solid tint($overlayedge, 5%);
  padding: 6px;
  min-width: 20px;
  min-height: 20px;
}

.winbarbutton-h-open {
  :first-child {
    :first-child {
      background-color: shade($overlay0, 2%);
      border: 1px solid $overlayedge;
      border-top: 1px solid tint($overlayedge, 5%);
    }
  }
}

.winnews-tag-strip {
  min-height: 34px;
  margin: 0 15px;
  // margin-bottom: 3px;
}

.winnews-tag {
  border-radius: 9999px;
  padding: 10px 15px;
  margin: 0 3px;
  background-color: $secondaryContainer;
  color: $onSecondaryContainer;
}

.winnews-tag:hover {
  background-color: tint($secondaryContainer, 10%);
  color: tint($onSecondaryContainer, 10%);
}

.winnews-tag:active {
  background-color: tint($secondaryContainer, 20%);
  color: tint($onSecondaryContainer, 20%);
}

.winnews-tag-false {
  background-color: rgba(73, 73, 73, 0.25);
  border-radius: 9999px;
  padding: 10px 15px;
  margin: 0 3px;
}

.winnews-tag-true {
  background-color: $primary;
  color: $onPrimary;
  border-radius: 9999px;
  padding: 10px 15px;
  margin: 0 3px;
}

.winbsod-background {
  background-color: #000000;
}

.winbsod-text {
  font-family: 'Segoe UI Variable';
}

.winbsod-face {
  font-size: 150pt;
}

.winbsod-desc {
  font-size: 30pt;
}

.winbsod-technicalinfo {
  font-size: 15pt;
}

.winnews-cava-column {
  background-color: $primary;
  border-top-left-radius: 99px;
  border-top-right-radius: 99px;
  margin: 0 4px;
}

.winnews-widget-nopad-cava {
  border-radius: 9px;
  background-color: $onSecondary;

  :first-child {
    border-bottom-left-radius: 99px;
  }

  :last-child {
    border-bottom-right-radius: 99px;
  }
}

.winlang-text {
  color: white;
}

.winlang-subtext {
  color: #C1C1C1;
}

.winlang-lang-false {
  padding: 15px;
  margin: 4px;
  border-radius: 6px;

  background-position: -0.5% center;
  background-size: 5px 24px;
  background-image: url('images/svg/linetransparent.svg');
}

.winlang-lang-false:hover {
  background-color: rgba(73, 73, 73, 0.2);
}

.winlang-lang-true {
  padding: 15px;
  margin: 4px;
  border-radius: 6px;

  background-color: rgba(73, 73, 73, 0.25);
  background-position: -0.5% center;
  background-size: 5px 24px;
  background-image: url('images/svg/linevertical.svg');
}

.winlang-bottom-button {
  background-color: transparent;
  border-radius: 6px;
  // border: 1px solid transparent;
  // border-top: 1px solid transparent;
  min-width: 42px;
  min-height: 42px;
}

.winlang-bottom-button:hover {
  background-color: rgba(75, 75, 75, 0.5);
}

.winlang-bottom-button:active {
  background-color: tint(rgba(75, 75, 75, 0.5), 10%);
}