$darkmode: False;
$transparent: False;
$background: {{colors.background.default.hex}};
$onBackground: {{colors.on_background.default.hex}};
$surface: {{colors.surface.default.hex}};
$surfaceDim: {{colors.surface_dim.default.hex}};
$surfaceBright: {{colors.surface_bright.default.hex}};
$surfaceContainerLowest: {{colors.surface_container_lowest.default.hex}};
$surfaceContainerLow: {{colors.surface_container_low.default.hex}};
$surfaceContainer: {{colors.surface_container.default.hex}};
$surfaceContainerHigh: {{colors.surface_container_high.default.hex}};
$surfaceContainerHighest: {{colors.surface_container_highest.default.hex}};
$onSurface: {{colors.on_surface.default.hex}};
$surfaceVariant: {{colors.surface_variant.default.hex}};
$onSurfaceVariant: {{colors.on_surface_variant.default.hex}};
$inverseSurface: {{colors.inverse_surface.default.hex}};
$inverseOnSurface: {{colors.inverse_on_surface.default.hex}};
$outline: {{colors.outline.default.hex}};
$outlineVariant: {{colors.outline_variant.default.hex}};
$shadow: {{colors.shadow.default.hex}};
$scrim: {{colors.scrim.default.hex}};
$primary: {{colors.primary.default.hex}};
$onPrimary: {{colors.on_primary.default.hex}};
$primaryContainer: {{colors.primary_container.default.hex}};
$onPrimaryContainer: {{colors.on_primary_container.default.hex}};
$inversePrimary: {{colors.inverse_primary.default.hex}};
$secondary: {{colors.secondary.default.hex}};
$onSecondary: {{colors.on_secondary.default.hex}};
$secondaryContainer: {{colors.secondary_container.default.hex}};
$onSecondaryContainer: {{colors.on_secondary_container.default.hex}};
$tertiary: {{colors.tertiary.default.hex}};
$onTertiary: {{colors.on_tertiary.default.hex}};
$tertiaryContainer: {{colors.tertiary_container.default.hex}};
$onTertiaryContainer: {{colors.on_tertiary_container.default.hex}};
$error: {{colors.error.default.hex}};
$onError: {{colors.on_error.default.hex}};
$errorContainer: {{colors.error_container.default.hex}};
$onErrorContainer: {{colors.on_error_container.default.hex}};
$primaryFixed: {{colors.primary_fixed.default.hex}};
$primaryFixedDim: {{colors.primary_fixed_dim.default.hex}};
$onPrimaryFixed: {{colors.on_primary_fixed.default.hex}};
$onPrimaryFixedVariant: {{colors.on_primary_fixed_variant.default.hex}};
$secondaryFixed: {{colors.secondary_fixed.default.hex}};
$secondaryFixedDim: {{colors.secondary_fixed_dim.default.hex}};
$onSecondaryFixed: {{colors.on_secondary_fixed.default.hex}};
$onSecondaryFixedVariant: {{colors.on_secondary_fixed_variant.default.hex}};
$tertiaryFixed: {{colors.tertiary_fixed.default.hex}};
$tertiaryFixedDim: {{colors.tertiary_fixed_dim.default.hex}};
$onTertiaryFixed: {{colors.on_tertiary_fixed.default.hex}};
$onTertiaryFixedVariant: {{colors.on_tertiary_fixed_variant.default.hex}};
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #0D1C20;
$term1: #8383FF;
$term2: #63DFD4;
$term3: #75FCDD;
$term4: #76B4BD;
$term5: #7AAEEA;
$term6: #81D8D7;
$term7: #CCDBD5;
$term8: #B1BCB5;
$term9: #BCB9FF;
$term10: #F6FFFD;
$term11: #FFFFFF;
$term12: #BEE3E5;
$term13: #C8DAFF;
$term14: #E5FFFE;
$term15: #ADEDF6;
