$primary: #55d6f4;
$onPrimary: #003641;
$primaryContainer: #004e5d;
$onPrimaryContainer: #a7edff;
$secondary: #b3cbd3;
$onSecondary: #1d343a;
$secondaryContainer: #334a50;
$onSecondaryContainer: #cee7ee;
$tertiary: #bec4eb;
$onTertiary: #282e4d;
$tertiaryContainer: #3f4565;
$onTertiaryContainer: #dce1ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #191c1d;
$onBackground: #e1e3e4;
$surface: #191c1d;
$onSurface: #e1e3e4;
$surfaceVariant: #3f484b;
$onSurfaceVariant: #bfc8cb;
$outline: #899295;
$shadow: #000000;
$inverseSurface: #e1e3e4;
$inverseOnSurface: #2e3132;
$inversePrimary: #00687b;
