$primary: #4cd9e2;
$onPrimary: #00363a;
$primaryContainer: #004f54;
$onPrimaryContainer: #6ff6ff;
$secondary: #b1ccce;
$onSecondary: #1b3436;
$secondaryContainer: #324b4d;
$onSecondaryContainer: #cce8ea;
$tertiary: #b6c7ea;
$onTertiary: #20314c;
$tertiaryContainer: #364764;
$onTertiaryContainer: #d5e3ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #191c1c;
$onBackground: #e0e3e3;
$surface: #191c1c;
$onSurface: #e0e3e3;
$surfaceVariant: #3f494a;
$onSurfaceVariant: #bec8c8;
$outline: #899394;
$shadow: #000000;
$inverseSurface: #e0e3e3;
$inverseOnSurface: #2e3131;
$inversePrimary: #00696f;
