$primary: #00e0b2;
$onPrimary: #00382a;
$primaryContainer: #00513e;
$onPrimaryContainer: #1cffce;
$secondary: #b2ccc1;
$onSecondary: #1d352d;
$secondaryContainer: #344b43;
$onSecondaryContainer: #cee9dd;
$tertiary: #a8cce2;
$onTertiary: #0d3446;
$tertiaryContainer: #284b5e;
$onTertiaryContainer: #c4e8ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #191c1b;
$onBackground: #e1e3e0;
$surface: #191c1b;
$onSurface: #e1e3e0;
$surfaceVariant: #3f4945;
$onSurfaceVariant: #bfc9c3;
$outline: #89938e;
$shadow: #000000;
$inverseSurface: #e1e3e0;
$inverseOnSurface: #2d312f;
$inversePrimary: #006b53;
