$primary: #ffa9f7;
$onPrimary: #5b005e;
$primaryContainer: #800084;
$onPrimaryContainer: #ffd6f8;
$secondary: #dabfd3;
$onSecondary: #3d2a3a;
$secondaryContainer: #554151;
$onSecondaryContainer: #f7daef;
$tertiary: #f5b8a8;
$onTertiary: #4c261b;
$tertiaryContainer: #663b2f;
$onTertiaryContainer: #ffdacf;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1e1a1d;
$onBackground: #eae0e4;
$surface: #1e1a1d;
$onSurface: #eae0e4;
$surfaceVariant: #4e444b;
$onSurfaceVariant: #d1c2cb;
$outline: #9a8d95;
$shadow: #000000;
$inverseSurface: #eae0e4;
$inverseOnSurface: #342f32;
$inversePrimary: #a415a5;
