$primary: #d7c949;
$onPrimary: #373100;
$primaryContainer: #4f4700;
$onPrimaryContainer: #f3e562;
$secondary: #cec7a3;
$onSecondary: #343117;
$secondaryContainer: #4b472b;
$onSecondaryContainer: #eae3be;
$tertiary: #a6d0b8;
$onTertiary: #0f3726;
$tertiaryContainer: #284e3c;
$onTertiaryContainer: #c1ecd3;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1d1c16;
$onBackground: #e7e2d9;
$surface: #1d1c16;
$onSurface: #e7e2d9;
$surfaceVariant: #49473a;
$onSurfaceVariant: #ccc7b5;
$outline: #959181;
$shadow: #000000;
$inverseSurface: #e7e2d9;
$inverseOnSurface: #32302a;
$inversePrimary: #695f00;
