$primary: #a3d720;
$onPrimary: #243600;
$primaryContainer: #364e00;
$onPrimaryContainer: #bef440;
$secondary: #c2caaa;
$onSecondary: #2c331d;
$secondaryContainer: #424a31;
$onSecondaryContainer: #dee6c5;
$tertiary: #a0d0c8;
$onTertiary: #023732;
$tertiaryContainer: #204e48;
$onTertiaryContainer: #bcece4;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1b1c17;
$onBackground: #e4e3db;
$surface: #1b1c17;
$onSurface: #e4e3db;
$surfaceVariant: #45483c;
$onSurfaceVariant: #c6c8b9;
$outline: #909284;
$shadow: #000000;
$inverseSurface: #e4e3db;
$inverseOnSurface: #30312b;
$inversePrimary: #4a6800;
