$primary: #aad473;
$onPrimary: #1e3700;
$primaryContainer: #2e4f00;
$onPrimaryContainer: #c4f08b;
$secondary: #c0cbac;
$onSecondary: #2a331e;
$secondaryContainer: #404a33;
$onSecondaryContainer: #dce7c7;
$tertiary: #a0d0cb;
$onTertiary: #003734;
$tertiaryContainer: #1f4e4b;
$onTertiaryContainer: #bbece7;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1b1c18;
$onBackground: #e4e3dc;
$surface: #1b1c18;
$onSurface: #e4e3dc;
$surfaceVariant: #44483d;
$onSurfaceVariant: #c5c8ba;
$outline: #8f9285;
$shadow: #000000;
$inverseSurface: #e4e3dc;
$inverseOnSurface: #30312d;
$inversePrimary: #456813;
