$primary: #0062a0;
$onPrimary: #ffffff;
$primaryContainer: #cfe5ff;
$onPrimaryContainer: #001d35;
$secondary: #526070;
$onSecondary: #ffffff;
$secondaryContainer: #d6e4f7;
$onSecondaryContainer: #0e1d2a;
$tertiary: #695779;
$onTertiary: #ffffff;
$tertiaryContainer: #f1daff;
$onTertiaryContainer: #241533;
$error: #ba1b1b;
$onError: #ffffff;
$errorContainer: #ffdad4;
$onErrorContainer: #410001;
$colorbarbg: #fdfcff;
$onBackground: #1a1c1e;
$surface: #fdfcff;
$onSurface: #1a1c1e;
$surfaceVariant: #dfe3eb;
$onSurfaceVariant: #42474e;
$outline: #73777e;
$shadow: #000000;
$inverseSurface: #2f3033;
$inverseOnSurface: #f0f0f3;
$inversePrimary: #97cbff;
