$primary: #dbc74d;
$onPrimary: #383000;
$primaryContainer: #524700;
$onPrimaryContainer: #f9e467;
$secondary: #cfc7a2;
$onSecondary: #353117;
$secondaryContainer: #4c472b;
$onSecondaryContainer: #ece3bd;
$tertiary: #a7d0b5;
$onTertiary: #123725;
$tertiaryContainer: #2a4e3a;
$onTertiaryContainer: #c3ecd1;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1d1c16;
$onBackground: #e7e2d9;
$surface: #1d1c16;
$onSurface: #e7e2d9;
$surfaceVariant: #4a473a;
$onSurfaceVariant: #ccc6b4;
$outline: #969181;
$shadow: #000000;
$inverseSurface: #e7e2d9;
$inverseOnSurface: #32302a;
$inversePrimary: #6c5e00;
