$primary: #00e386;
$onPrimary: #00391d;
$primaryContainer: #00522c;
$onPrimaryContainer: #50ffa6;
$secondary: #b6ccba;
$onSecondary: #213527;
$secondaryContainer: #384b3d;
$onSecondaryContainer: #d1e9d5;
$tertiary: #a2cdda;
$onTertiary: #033640;
$tertiaryContainer: #214c57;
$onTertiaryContainer: #bfeaf8;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #191c1a;
$onBackground: #e1e3de;
$surface: #191c1a;
$onSurface: #e1e3de;
$surfaceVariant: #414942;
$onSurfaceVariant: #c1c9c0;
$outline: #8a938a;
$shadow: #000000;
$inverseSurface: #e1e3de;
$inverseOnSurface: #2e312e;
$inversePrimary: #006d3d;
