$primary: #72d1ff;
$onPrimary: #003549;
$primaryContainer: #004d68;
$onPrimaryContainer: #c0e8ff;
$secondary: #b5c9d6;
$onSecondary: #20333e;
$secondaryContainer: #364955;
$onSecondaryContainer: #d0e5f3;
$tertiary: #c9c1ea;
$onTertiary: #312c4c;
$tertiaryContainer: #484364;
$onTertiaryContainer: #e6deff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #191c1e;
$onBackground: #e1e2e5;
$surface: #191c1e;
$onSurface: #e1e2e5;
$surfaceVariant: #41484d;
$onSurfaceVariant: #c0c7cd;
$outline: #8b9297;
$shadow: #000000;
$inverseSurface: #e1e2e5;
$inverseOnSurface: #2e3133;
$inversePrimary: #00668a;
