$primary: #ffb4a2;
$onPrimary: #5e1608;
$primaryContainer: #7d2c1c;
$onPrimaryContainer: #ffdad1;
$secondary: #e7bdb4;
$onSecondary: #442a24;
$secondaryContainer: #5d3f39;
$onSecondaryContainer: #ffdad1;
$tertiary: #dbc48c;
$onTertiary: #3d2f04;
$tertiaryContainer: #554519;
$onTertiaryContainer: #f8e0a6;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #201a19;
$onBackground: #ede0dd;
$surface: #201a19;
$onSurface: #ede0dd;
$surfaceVariant: #534340;
$onSurfaceVariant: #d8c2bd;
$outline: #a08c88;
$shadow: #000000;
$inverseSurface: #ede0dd;
$inverseOnSurface: #362f2d;
$inversePrimary: #9c4331;
