$primary: #51d8ee;
$onPrimary: #00363e;
$primaryContainer: #004e59;
$onPrimaryContainer: #97f0ff;
$secondary: #b1cbd0;
$onSecondary: #1c3438;
$secondaryContainer: #334b50;
$onSecondaryContainer: #cde7ed;
$tertiary: #bbc5ea;
$onTertiary: #252f4c;
$tertiaryContainer: #3c4665;
$onTertiaryContainer: #dae2ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #191c1d;
$onBackground: #e0e3e3;
$surface: #191c1d;
$onSurface: #e0e3e3;
$surfaceVariant: #3f484a;
$onSurfaceVariant: #bfc8ca;
$outline: #899294;
$shadow: #000000;
$inverseSurface: #e0e3e3;
$inverseOnSurface: #2d3132;
$inversePrimary: #006876;
