$primary: #dbb8ff;
$onPrimary: #460085;
$primaryContainer: #5e269d;
$onPrimaryContainer: #efdbff;
$secondary: #cfc1da;
$onSecondary: #362d40;
$secondaryContainer: #4d4357;
$onSecondaryContainer: #ecddf7;
$tertiary: #f2b7c0;
$onTertiary: #4b252c;
$tertiaryContainer: #653a42;
$onTertiaryContainer: #ffd9df;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1d1b1e;
$onBackground: #e7e1e5;
$surface: #1d1b1e;
$onSurface: #e7e1e5;
$surfaceVariant: #4a454e;
$onSurfaceVariant: #ccc4cf;
$outline: #958e98;
$shadow: #000000;
$inverseSurface: #e7e1e5;
$inverseOnSurface: #322f33;
$inversePrimary: #7742b7;
