$primary: #ffb3a9;
$onPrimary: #5f1411;
$primaryContainer: #7e2b25;
$onPrimaryContainer: #ffdad4;
$secondary: #e8bdb8;
$onSecondary: #442926;
$secondaryContainer: #5d3f3c;
$onSecondaryContainer: #ffdad5;
$tertiary: #e0c38c;
$onTertiary: #3f2d04;
$tertiaryContainer: #584419;
$onTertiaryContainer: #fedfa6;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #211a19;
$onBackground: #ede0de;
$surface: #211a19;
$onSurface: #ede0de;
$surfaceVariant: #534341;
$onSurfaceVariant: #d8c2bf;
$outline: #a08c8a;
$shadow: #000000;
$inverseSurface: #ede0de;
$inverseOnSurface: #362f2e;
$inversePrimary: #9d423a;
