.bottombar-closed-hitbox {
  min-width: 1920px;
  background-color: mix(rgba(30, 30, 30, 0.5), $colorbg, 50%);
}
.bottombar-bg {
  min-width: 1920px;
  min-height: 300px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  background-color: shade($colorbg, 70%);
  background-size: 100% auto;
  background-position: center center;

  margin-top: 5px; //for shadow
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.5);
}

.bottombar-bg-front {
  min-width: 1920px;
  min-height: 300px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom: 0px solid transparent;
  background-color: mix(rgba(30, 30, 30, 0.5), $colorbg, 50%);
  background-size: 100% 100%;

  margin-top: 5px; //for shadow
}

.cava-column {
  // background-image: linear-gradient($color1, $color3);
  background-color: rgb(176, 226, 247);
  border-top-left-radius: 99px;
  border-top-right-radius: 99px;
  margin: 8px;
  margin-bottom: 0px;
}

.bottombar-musicinfo-box {
  margin-left: 50px;
  margin-top: 50px;
}

.bottombar-title {
  font-family: 'Lexend';
  font-size: 30pt;
  font-weight: 500;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.bottombar-artist {
  font-family: 'Lexend';
  font-size: 16pt;
  font-weight: 500;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.bottombar-music-cover {
  border-radius: 15px;
  min-height: 200px;
  min-width: 200px;
  background-size: auto 100%;
  background-position: center;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}