.bottombar-closed-hitbox {
  min-width: 1920px;
  background-color: mix(rgba(30, 30, 30, 0.5), $colorbg, 50%);
}
.bottombar-bg {
  min-width: 1920px;
  min-height: 300px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  background-color: shade($colorbg, 70%);
  background-size: 100% auto;
  background-position: center center;
}

.bottombar-bg-front {
  min-width: 1920px;
  min-height: 300px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  background-color: mix(rgba(30, 30, 30, 0.5), $colorbg, 50%);
  background-size: 100% 100%;
}

.cava-column {
  // background-image: linear-gradient($color1, $color3);
  background-color: rgb(176, 226, 247);
  border-top-left-radius: 99px;
  border-top-right-radius: 99px;
  margin: 6px;
  margin-bottom: 0px;
}

.bottombar-musicinfo-box {
  margin-left: 50px;
  margin-top: 50px;
}

.bottombar-title {
  font-family: 'Gabarito';
  font-size: 30pt;
  font-weight: 700;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.bottombar-artist {
  font-family: 'Gabarito';
  font-size: 16pt;
  font-weight: 700;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.bottombar-music-cover {
  border-radius: 15px;
  min-height: 200px;
  min-width: 200px;
  background-size: auto 100%;
  background-position: center;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}