

$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
// $red:         #EF738A;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$true: #EF738A;
$false: #A9B1D6;


$forestgreen: #A8B468;
$forestyellow : #8e8370;
$foresttext : #d3c6ab;
$forestblack : #1e201f;
$forestred : #e76c69;
$forestpink : #d698b5;
$forestorange : #e59576;
$forestgray : #75817b;
$forestgraylight: #495156;
$forestgreendark: #7fba90;
$forestblue: #77AEA7;

$tokyobluedark: #1A1B26;
$tokyobluelessdark: #1f212e;
$tokyotext: #a9b1d6;
$tokyopink: #ff79b1; //nah theres no pink in tokyonight, but i need one so added
$tokyored: #EF738A;
$tokyoorange: #FF9E64;
$tokyoyellow: #E0AF68;
$tokyogreen: #9ECE6A;
$tokyoturquoise: #73daca;
$tokyoice: #b4f9f8;
$tokyocyan: #0DB9D7;
$tokyoblue: #7AA2F7;
$tokyopurple: #9778D0;
$tokyogrey: #444B6A;
$catbg: #1E1E2E;

$text: $tokyotext;
$subtext1: #868dac;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: rgba(108, 112, 134, 0.4);
$overlayedge: rgba(108, 112, 134, 0.15);

$hover0: rgba(200, 200, 200, 0.3);

$surface2: rgba(88, 91, 112, 0.7);
$surface1: rgba(69, 71, 90, 0.7);
// $surface0: rgba(28, 28, 48, 0.5); //Needs dynamic change
// $surface0: #24222A; //Needs dynamic change


$base: #1E201F;
$mantle: #181825;
$crust: #121415;

$fg: $tokyotext;
$bg: #171726;
$barbg: #131426;
$shadow: $crust;

// $battcolor: $tokyogreen;
// $memcolor: $tokyoorange;
// $cpucolor: $tokyoblue;