.osd-window {
    margin: 5px;
    border-radius: 9999px;
    min-width: 10px;
    min-height: 40px;
}

.osd-var {
    margin-left: 5px;
    margin-right: 5px;
    background-color: $surface;
    border-radius: 9999px;
    min-width: 100px;
    min-height: 37px;
    padding: 7px;
}

.osd-circle {
    // margin-left: 14px;
    background-color: #5c5b5b;
    color: $colortext;
}

.osd-incircle {
    font-size: 19pt;
    padding: 6px;
    font-family: "Material Symbols Rounded"; //AAAAAAAAAGGGHHH
    color: $colortext;
}

.osd-incircle-bright {
    font-size: 19pt;
    padding: 6px;
    font-family: "Material Symbols Rounded"; //AAAAAAAAAGGGHHH
    color: $colortext;
}

.osd-text {
    font-size: 15pt;
    font-family: "Rubik"; //AAAAAAAAAGGGHHH
    color: $colortext;
    padding-right: 5px;
}