.vol-icon {
  color: $color6;
  padding-right: 2px;
}

// .vol-icon {
//   color: $tokyocyan;
//   padding-right: 2px;
// }

.volbar highlight {
  background-image: linear-gradient(to right, $teal 30%, $sky 100%);
  border-radius: 10px;
}


.vol-menu {
  font-size: 1pt;
  color: $color6;
  padding-right: 2px;
  padding-top: 4px;
}

.vol-menu:hover {
  border-top: 2px solid;
}
.vol-icon:hover {
  border-top: 2px solid;
}